Repository deckgo/deckdeckgo, pull requests merged in 2019-12, with the labels that each got.

#511 feat(#494): hide pager in studio fullscreen
  studio/src/global/theme/editor/editor-fullscreen.scss
Labels: enhancement, starter, studio

#512 feat(#492): use more space for the slide Youtube
  CHANGELOG.md
  docs/docs/slides/app-slide-youtube/app-slide-youtube.md
  docs/package-lock.json
  docs/package.json
  docs/src/app/pages/docs/slides/app-slide-youtube/app-slide-youtube.tsx
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  webcomponents/slides/youtube/CHANGELOG.md
  webcomponents/slides/youtube/package-lock.json
  webcomponents/slides/youtube/package.json
  webcomponents/slides/youtube/src/components/slide/deckdeckgo-slide-youtube.scss
Labels: enhancement, templates

#513 feat(#497): prerender post build update for CSP
  studio/scripts/config.index.js
  studio/src/index.html
Labels: enhancement, studio

#515 feat: firebase subdomain can't be redirect to path
  CHANGELOG.md
  docs/docs/slides/app-slide-poll/app-slide-poll.md
  docs/docs/slides/app-slides-concept/app-slides-concept.md
  docs/package-lock.json
  docs/package.json
  docs/src/app/pages/docs/slides/app-slide-poll/app-slide-poll.tsx
  docs/src/app/pages/docs/slides/app-slides-concept/app-slides-concept.tsx
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  studio/src/app/utils/editor/create-slides.utils.tsx
  studio/src/global/app.ts
  webcomponents/slides/poll/CHANGELOG.md
  webcomponents/slides/poll/package-lock.json
  webcomponents/slides/poll/package.json
  webcomponents/slides/poll/src/components/slide/deckdeckgo-slide-poll.e2e.ts
  webcomponents/slides/poll/src/components/slide/deckdeckgo-slide-poll.tsx
  webcomponents/slides/poll/src/components/slide/readme.md
  webcomponents/slides/poll/src/index.html
Labels: enhancement, remote, studio, templates

#517 feat(#394): refactor code color design
  studio/src/app/components/editor/app-select-target-element/app-select-target-element.tsx
  studio/src/app/components/editor/color/app-color-code/app-color-code.scss
  studio/src/app/components/editor/color/app-color-code/app-color-code.tsx
  studio/src/app/popovers/editor/app-code/app-code.tsx
  studio/src/app/popovers/editor/app-color/app-color.scss
  studio/src/app/popovers/editor/app-color/app-color.tsx
  studio/src/app/utils/editor/target-element.tsx
  studio/src/components.d.ts
Labels: enhancement, studio

#519 feat(#518): move poll input top for iOS
  studio/src/app/pages/core/app-poll/app-poll.tsx
Labels: enhancement, studio

#522 fix: if action are disabled, events should be blocked too
  studio/src/app/components/editor/app-editor-toolbar/app-editor-toolbar.scss
Labels: bug, studio

#523 fix: typing HTMLIonPopoverElement
  studio/src/app/popovers/core/app-user-menu/app-user-menu.tsx
  studio/src/app/popovers/editor/actions/app-more-actions/app-more-actions.tsx
  studio/src/app/popovers/editor/actions/app-more-share-options/app-more-share-options.tsx
  studio/src/app/popovers/editor/app-code/app-code.tsx
  studio/src/app/popovers/editor/app-color/app-color.tsx
  studio/src/app/popovers/editor/app-create-slide/app-create-slide.tsx
  studio/src/app/popovers/editor/app-element-delete/app-element-delete.tsx
  studio/src/app/popovers/editor/app-fullscreen-info/app-fullscreen-info.tsx
  studio/src/app/popovers/editor/app-get-help/app-get-help.tsx
  studio/src/app/popovers/editor/app-image/app-image.tsx
  studio/src/app/popovers/editor/app-reveal/app-reveal.tsx
  studio/src/app/popovers/editor/app-slot-type/app-slot-type.tsx
  studio/src/app/popovers/editor/slide/app-edit-slide/app-edit-slide.tsx
Labels: bug, studio

#521 feat: studio accessibility deck options
  studio/src/app/components/editor/actions/app-editor-actions/app-editor-actions.scss
  studio/src/app/components/editor/actions/app-editor-actions/app-editor-actions.tsx
  studio/src/app/components/editor/actions/app-editor-busy-action/app-editor-busy-action.scss
  studio/src/app/components/editor/actions/app-editor-busy-action/app-editor-busy-action.tsx
  studio/src/app/components/editor/app-editor-toolbar/app-editor-toolbar.tsx
  studio/src/app/components/editor/app-image/app-image.scss
  studio/src/app/components/editor/app-image/app-image.tsx
  studio/src/app/components/editor/app-select-target-element/app-select-target-element.tsx
  studio/src/app/components/editor/color/app-color-text-background/app-color-text-background.tsx
  studio/src/app/handlers/editor/events/deck/deck-events.handler.tsx
  studio/src/app/handlers/editor/events/editor/editor-events.handler.tsx
  studio/src/app/helpers/editor/image.helper.tsx
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/app/popovers/editor/actions/app-more-actions/app-more-actions.tsx
  studio/src/app/popovers/editor/app-color/app-color.scss
  studio/src/app/popovers/editor/app-color/app-color.tsx
  studio/src/app/popovers/editor/app-create-slide/app-create-slide.tsx
  studio/src/app/popovers/editor/app-deck-style/app-deck-style.scss
  studio/src/app/popovers/editor/app-deck-style/app-deck-style.tsx
  studio/src/app/popovers/editor/app-image-slide/app-image-slide.scss
  studio/src/app/popovers/editor/app-image-slide/app-image-slide.tsx
  studio/src/app/services/api/photo/api.photo.mock.service.tsx
  studio/src/app/utils/editor/create-slides.utils.tsx
  studio/src/app/utils/editor/image-action.tsx
  studio/src/app/utils/editor/more-action.tsx
  studio/src/app/utils/editor/random-palette.tsx
  studio/src/app/utils/editor/target-element.tsx
  studio/src/components.d.ts
  studio/src/global/theme/editor/editor-popover.scss
Labels: enhancement, studio

#524 feat(#57): add transition slide, none or fade
  CHANGELOG.md
  README.md
  docs/CHANGELOG.md
  docs/docs/deck/app-deck-pager/app-deck-pager.md
  docs/docs/deck/app-deck-transition/app-deck-transition.md
  docs/package-lock.json
  docs/package.json
  docs/src/app/app-root.tsx
  docs/src/app/pages/docs/deck/app-deck-pager/app-deck-pager.tsx
  docs/src/app/pages/docs/deck/app-deck-transition/app-deck-transition.tsx
  docs/src/components.d.ts
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/app-deck-transition/app-deck-transition.scss
  studio/src/app/components/editor/app-deck-transition/app-deck-transition.tsx
  studio/src/app/components/editor/app-select-target-element/app-select-target-element.tsx
  studio/src/app/handlers/editor/events/deck/deck-events.handler.tsx
  studio/src/app/models/data/deck.tsx
  studio/src/app/pages/editor/app-editor/app-editor.scss
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/app/popovers/editor/app-deck-style/app-deck-style.tsx
  studio/src/app/utils/editor/parse-background.utils.tsx
  studio/src/app/utils/editor/target-element.tsx
  studio/src/components.d.ts
  studio/src/global/theme/editor/editor-deck-transition.scss
  studio/src/global/theme/popover.scss
  webcomponents/core/CHANGELOG.md
  webcomponents/core/package-lock.json
  webcomponents/core/package.json
  webcomponents/core/src/components.d.ts
  webcomponents/core/src/components/deck/deckdeckgo-deck/deckdeckgo-deck.tsx
  webcomponents/core/src/components/utils/deckdeckgo-deck-transition.tsx
  webcomponents/core/src/index.html
Labels: core, enhancement, studio

#526 highlight-code(#525): show code in stylish cards
  CHANGELOG.md
  README.md
  docs/CHANGELOG.md
  docs/docs/components/app-components-highlight-code/app-components-highlight-code.md
  docs/package-lock.json
  docs/package.json
  docs/src/app/pages/app-home/app-home.scss
  docs/src/app/pages/app-home/app-home.tsx
  docs/src/app/pages/docs/components/app-components-highlight-code/app-components-highlight-code.tsx
  docs/src/app/pages/docs/edit/app-edit-fonts/app-edit-fonts.scss
  docs/src/app/pages/docs/introduction/app-introduction/app-introduction.scss
  docs/src/global/theme/code.scss
  remote/CHANGELOG.md
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/color/app-color-code/app-color-code.tsx
  studio/src/app/pages/core/about/app-developer/app-developer.scss
  studio/src/app/popovers/editor/app-code/app-code.tsx
  studio/src/global/theme/editor/editor-deck.scss
  studio/src/global/theme/editor/editor-fullscreen.scss
  webcomponents/highlight-code/CHANGELOG.md
  webcomponents/highlight-code/package-lock.json
  webcomponents/highlight-code/package.json
  webcomponents/highlight-code/src/components.d.ts
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.scss
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.tsx
  webcomponents/highlight-code/src/components/highlight-code/readme.md
  webcomponents/highlight-code/src/index.html
Labels: enhancement, highlight-code, studio

#527 feat: if the code language definition to highlight doesn't exist or if unpkg is down, display code anyway
  CHANGELOG.md
  webcomponents/highlight-code/CHANGELOG.md
  webcomponents/highlight-code/package-lock.json
  webcomponents/highlight-code/package.json
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.tsx
Labels: enhancement, highlight-code

#529 inline-editor: fix and release inline code palette
  CHANGELOG.md
  README.md
  docs/CHANGELOG.md
  docs/docs/components/app-components-inline-editor/app-components-inline-editor.md
  docs/package-lock.json
  docs/package.json
  docs/src/app/pages/docs/components/app-components-highlight-code/app-components-highlight-code.tsx
  docs/src/app/pages/docs/components/app-components-inline-editor/app-components-inline-editor.tsx
  webcomponents/color/CHANGELOG.md
  webcomponents/color/package-lock.json
  webcomponents/color/package.json
  webcomponents/inline-editor/CHANGELOG.md
  webcomponents/inline-editor/package-lock.json
  webcomponents/inline-editor/package.json
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.tsx
  webcomponents/inline-editor/src/components/inline-editor/readme.md
Labels: enhancement, inline-editor

#531 core: if transition is not slide, then no dragging
  CHANGELOG.md
  webcomponents/core/CHANGELOG.md
  webcomponents/core/package-lock.json
  webcomponents/core/package.json
  webcomponents/core/src/components/deck/deckdeckgo-deck/deckdeckgo-deck.tsx
Labels: core, enhancement

#532 lazy-img: fix lazy img svg
  CHANGELOG.md
  webcomponents/lazy-img/CHANGELOG.md
  webcomponents/lazy-img/package-lock.json
  webcomponents/lazy-img/package.json
  webcomponents/lazy-img/src/components/lazy-img/deckdeckgo-lazy-img.tsx
  webcomponents/lazy-img/src/index.html
Labels: bug, lazy-img

#539 fix: correct typo noscript
  studio/src/index.html
Labels: enhancement, studio

#538 feature: add github templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/docs.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/pull_request_template.md
Labels: docs

#540 docs: add granularity to affected parts
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
Labels: docs

#542 refactor: remove beta from urls
  studio/src/index.html
Labels: enhancement, studio

#543 fix(a11y): add aria label for presentation links
  studio/src/app/components/feed/app-feed/app-feed.tsx
Labels: enhancement, studio

#546 docs: improve github templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/docs.md
  .github/ISSUE_TEMPLATE/feature.md
Labels: docs

#547 cloud: ping on publish
  CHANGELOG.md
  cloud/CHANGELOG.md
  cloud/functions/package-lock.json
  cloud/functions/package.json
  cloud/functions/src/watch/info/info-deck-publish.ts
  cloud/functions/src/watch/watch-deck.ts
Labels: cloud, enhancement

#549 fix(#548): screenshot storage file without leading slash
  cloud/functions/src/watch/screenshot/generate-deck-screenshot.ts
Labels: bug, cloud, dependencies
