Repository deckgo/deckdeckgo, pull requests merged in 2019-11, with the labels that each got.

#429 remote: rework remote UX and light/dark switcher
  remote/package-lock.json
  remote/package.json
  remote/src/app/app-root.tsx
  remote/src/app/components/app-accelerometer/app-accelerometer.tsx
  remote/src/app/components/app-draw/app-draw.scss
  remote/src/app/components/app-draw/app-draw.tsx
  remote/src/app/components/app-header/app-header.scss
  remote/src/app/components/app-header/app-header.tsx
  remote/src/app/components/app-logo/app-logo.scss
  remote/src/app/components/app-logo/app-logo.tsx
  remote/src/app/components/app-notes/app-notes.scss
  remote/src/app/components/app-notes/app-notes.tsx
  remote/src/app/components/app-stopwatch/app-stopwatch.scss
  remote/src/app/components/settings/app-experimental-settings/app-experimental-settings.tsx
  remote/src/app/components/settings/app-general-settings/app-general-settings.tsx
  remote/src/app/modals/app-remote-connect/app-remote-connect.tsx
  remote/src/app/modals/app-remote-dark-mode-switch/app-remote-dark-mode-switch.scss
  remote/src/app/modals/app-remote-dark-mode-switch/app-remote-dark-mode-switch.tsx
  remote/src/app/modals/app-remote-settings/app-remote-settings.scss
  remote/src/app/modals/app-remote-settings/app-remote-settings.tsx
  remote/src/app/modals/app-remote-slide-picker/app-remote-slide-picker.tsx
  remote/src/app/pages/app-about/app-about.scss
  remote/src/app/pages/app-about/app-about.tsx
  remote/src/app/pages/app-remote/app-remote.scss
  remote/src/app/pages/app-remote/app-remote.tsx
  remote/src/app/pages/app-settings/app-settings.scss
  remote/src/app/pages/app-settings/app-settings.tsx
  remote/src/app/pages/app-tabs/app-tabs.tsx
  remote/src/app/pages/app-timer/app-timer.tsx
  remote/src/app/services/notes/notes.service.tsx
  remote/src/app/services/theme/theme.service.tsx
  remote/src/app/services/utils/ion-controller-utils.tsx
  remote/src/assets/img/deckdeckgo-logo-invert.svg
  remote/src/assets/img/deckdeckgo-logo.svg
  remote/src/components.d.ts
  remote/src/global/app-local.ts
  remote/src/global/app.scss
  remote/src/global/app.ts
  remote/src/global/theme/alert.scss
  remote/src/global/theme/content.scss
  remote/src/global/theme/fonts.scss
  remote/src/global/theme/list.scss
  remote/src/global/theme/menu.scss
  remote/src/global/theme/segment.scss
  remote/src/global/theme/shadow.scss
  remote/src/global/theme/toolbar.scss
  remote/src/global/theme/variables.scss
  remote/src/global/variables.scss
  remote/src/manifest.json
Labels: enhancement, remote

#440 feat(#247): add notes editor to studio
  studio/src/app/components/editor/app-editor-toolbar/app-editor-toolbar.tsx
  studio/src/app/modals/editor/app-notes/app-notes.scss
  studio/src/app/modals/editor/app-notes/app-notes.tsx
  studio/src/app/modals/editor/app-youtube/app-youtube.scss
  studio/src/app/modals/editor/app-youtube/app-youtube.tsx
  studio/src/assets/icons/notes.svg
  studio/src/components.d.ts
  studio/src/global/theme/variables.scss
Labels: enhancement, studio

#441 feat(#247): delete notes action in studio
  studio/src/app/modals/editor/app-notes/app-notes.scss
  studio/src/app/modals/editor/app-notes/app-notes.tsx
Labels: enhancement, studio

#442 feat: support notes provided as markdown
  remote/package-lock.json
  remote/package.json
  remote/src/app/components/app-notes/app-notes.tsx
  studio/src/app/modals/editor/app-notes/app-notes.tsx
Labels: enhancement, remote

#444 feat(#228): sync studio and remotes on notes update
  remote/src/app/pages/app-remote/app-remote.tsx
  studio/src/app/components/editor/app-editor-toolbar/app-editor-toolbar.tsx
  studio/src/app/handlers/editor/events/deck/deck-events.handler.tsx
  studio/src/app/handlers/editor/events/remote/remote-events.handler.tsx
  studio/src/components.d.ts
Labels: enhancement, remote, studio

#448 feat(#447): highlight the code of the markdown notes in the remote
  remote/package-lock.json
  remote/package.json
  remote/src/app/components/app-notes/app-notes.scss
  remote/src/app/components/app-notes/app-notes.tsx
  remote/src/global/app-local.ts
  remote/src/global/app.ts
Labels: enhancement, remote

#451 feat(#450): sync content with remote control
  cloud/config/cors-studio-beta.json
  cloud/config/cors-studio-prod.json
  docs/docs/edit/app-edit-reveal/app-edit-reveal.md
  remote/package-lock.json
  remote/package.json
  remote/src/app/components/app-draw/app-draw.scss
  remote/src/app/components/app-draw/app-draw.tsx
  remote/src/app/components/app-notes/app-notes.tsx
  remote/src/app/components/app-stopwatch-time/app-stopwatch-time.tsx
  remote/src/app/modals/app-remote-slide-picker/app-remote-slide-picker.tsx
  remote/src/app/pages/app-remote/app-remote.scss
  remote/src/app/pages/app-remote/app-remote.tsx
  remote/src/app/services/notes/notes.service.tsx
  remote/src/app/utils/parse-attributes.utils.tsx
  remote/src/app/utils/parse-elements.utils.tsx
  remote/src/app/utils/parse-slides.utils.tsx
  remote/src/components.d.ts
  remote/src/global/app-local.ts
  remote/src/global/app.scss
  remote/src/global/app.ts
  remote/stencil.config.ts
  studio/package-lock.json
  studio/package.json
  studio/src/app/handlers/editor/events/deck/deck-events.handler.tsx
  studio/src/app/handlers/editor/events/remote/remote-events.handler.tsx
  studio/src/app/modals/editor/app-slide-navigate/app-slide-navigate.tsx
  studio/src/app/pages/core/app-dashboard/app-dashboard.tsx
  studio/src/app/pages/editor/app-editor/app-editor.scss
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/app/utils/editor/parse-elements.utils.tsx
  studio/src/app/utils/editor/parse-slides.utils.tsx
  studio/src/app/utils/editor/parse-style.utils.tsx
  studio/src/global/theme/editor/editor-deck-deck.scss
  studio/src/global/theme/editor/editor-deck-fonts.scss
  studio/stencil.config.ts
  utils/deck/LICENSE
  utils/deck/README.md
  utils/deck/package-lock.json
  utils/deck/package.json
  utils/deck/src/index.ts
  utils/deck/src/utils/parse-content.utils.ts
  utils/deck/src/utils/parse-style.utils.ts
  utils/deck/src/utils/slides.utils.ts
  utils/deck/styles/deckdeckgo-deck-fonts.css
  utils/deck/styles/deckdeckgo-deck-rtl.css
  utils/deck/styles/deckdeckgo-deck.css
  utils/deck/tsconfig.json
  webcomponents/core/package-lock.json
  webcomponents/core/package.json
  webcomponents/core/src/components.d.ts
  webcomponents/core/src/components/deck/deckdeckgo-deck/deckdeckgo-deck.tsx
  webcomponents/core/src/index.html
  webcomponents/remote/package-lock.json
  webcomponents/remote/package.json
  webcomponents/remote/src/components.d.ts
  webcomponents/remote/src/components/deckdeckgo-remote/deckdeckgo-remote.tsx
  webcomponents/remote/src/services/communication/communication.service.tsx
  webcomponents/types/src/index.ts
Labels: breaking, core, remote, starter, studio

#457 remote: clear draw history
  remote/src/app/components/app-draw/app-draw.tsx
  studio/package-lock.json
  studio/package.json
  webcomponents/remote/CHANGELOG.md
  webcomponents/remote/package-lock.json
  webcomponents/remote/package.json
  webcomponents/remote/src/components/deckdeckgo-remote/deckdeckgo-remote.tsx
Labels: bug, remote

#458 studio: block slide if modal with keyboard is opened
  studio/src/app/components/editor/app-editor-toolbar/app-editor-toolbar.tsx
  studio/src/app/handlers/editor/events/editor/editor-events.handler.tsx
  studio/src/app/pages/editor/app-editor/app-editor.tsx
Labels: enhancement, studio

#460 feat(#459): display notes in a dummy bottom sheet
  remote/package-lock.json
  remote/package.json
  remote/src/app/components/app-bottom-sheet/app-bottom-sheet.scss
  remote/src/app/components/app-bottom-sheet/app-bottom-sheet.tsx
  remote/src/app/components/app-notes/app-notes.scss
  remote/src/app/components/app-notes/app-notes.tsx
  remote/src/components.d.ts
  remote/src/global/app-local.ts
  remote/src/global/app.ts
Labels: remote

#461 remote: update remote to make start actions more obvious
  remote/src/app/components/app-bottom-sheet/app-bottom-sheet.tsx
  remote/src/app/components/settings/app-experimental-settings/app-experimental-settings.tsx
  remote/src/app/components/settings/app-general-settings/app-general-settings.tsx
  remote/src/app/pages/app-remote/app-remote.scss
  remote/src/app/pages/app-remote/app-remote.tsx
  remote/src/app/pages/app-settings/app-settings.tsx
  remote/src/app/pages/app-timer/app-timer.scss
  remote/src/app/pages/app-timer/app-timer.tsx
  remote/src/global/app.scss
  remote/src/global/theme/button.scss
  remote/src/global/theme/main.scss
Labels: enhancement, remote

#462 fix: clean only attributes in content, not text
  CHANGELOG.md
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  utils/deck/CHANGELOG.md
  utils/deck/package-lock.json
  utils/deck/package.json
  utils/deck/src/utils/parse-content.utils.ts
Labels: bug, remote, studio

#463 feat: no automatic fullscreen on ios for the YouTube slide in the remote
  CHANGELOG.md
  remote/package-lock.json
  remote/package.json
  remote/src/app/utils/parse-slides.utils.tsx
  webcomponents/slides/youtube/CHANGELOG.md
  webcomponents/slides/youtube/package-lock.json
  webcomponents/slides/youtube/package.json
  webcomponents/slides/youtube/src/components.d.ts
  webcomponents/slides/youtube/src/components/slide/deckdeckgo-slide-youtube.tsx
  webcomponents/slides/youtube/src/components/slide/readme.md
  webcomponents/slides/youtube/src/components/youtube/deckdeckgo-youtube.tsx
  webcomponents/slides/youtube/src/components/youtube/readme.md
Labels: remote, templates

#464 feat: close studio remote connect modal on successful connection
  studio/src/app/modals/editor/app-remote/app-remote.tsx
Labels: enhancement, remote, studio

#466 studio: create and delete automatically Mailchimp members
  cloud/.gitignore
  cloud/functions/package-lock.json
  cloud/functions/package.json
  cloud/functions/src/index.ts
  cloud/functions/src/model/user.ts
  cloud/functions/src/watch/mailchimp/mailchimp-member.ts
  cloud/functions/src/watch/watch-user.ts
Labels: cloud, studio

#468 feat: clean notes on publish
  studio/src/app/services/editor/publish/publish.service.tsx
Labels: enhancement, studio

#473 fix: split template and notes
  CHANGELOG.md
  remote/CHANGELOG.md
  remote/package-lock.json
  remote/package.json
  studio/CHANGELOG.md
  studio/package-lock.json
  studio/package.json
  utils/deck/CHANGELOG.md
  utils/deck/package-lock.json
  utils/deck/package.json
  utils/deck/styles/deckdeckgo-deck.css
Labels: bug, templates

#475 studio: firefox input file have to be displayed
  CHANGELOG.md
  studio/package-lock.json
  studio/package.json
  studio/src/app/modals/editor/app-custom-data/app-custom-data.tsx
  studio/src/app/modals/editor/app-custom-images/app-custom-images.tsx
  utils/utils/CHANGELOG.md
  utils/utils/package-lock.json
  utils/utils/package.json
  utils/utils/src/utils/utils.ts
Labels: enhancement, studio

#476 feat: fetch more cards on the main feed (each steps)
  studio/src/app/services/data/feed/feed.service.tsx
Labels: enhancement, studio

#477 feat: add a page about the remote control
  studio/src/app/app-root.tsx
  studio/src/app/components/core/app-footer/app-footer.tsx
  studio/src/app/components/editor/actions/app-editor-actions/app-editor-actions.tsx
  studio/src/app/modals/editor/app-remote-connect/app-remote-connect.scss
  studio/src/app/modals/editor/app-remote-connect/app-remote-connect.tsx
  studio/src/app/pages/core/about/app-press/app-press.scss
  studio/src/app/pages/core/about/app-press/app-press.tsx
  studio/src/app/pages/core/about/app-remote/app-remote.scss
  studio/src/app/pages/core/about/app-remote/app-remote.tsx
  studio/src/components.d.ts
Labels: enhancement, studio

#481 studio: fix reset background on deck
  studio/src/app/components/editor/color/app-color-deck-slide/app-color-deck-slide.tsx
  studio/src/app/handlers/editor/events/deck/deck-events.handler.tsx
Labels: bug, studio

#482 feat(#478): confirm delete elements or slides
  studio/src/app/components/editor/app-editor-toolbar/app-editor-toolbar.tsx
  studio/src/app/popovers/editor/app-element-delete/app-element-delete.scss
  studio/src/app/popovers/editor/app-element-delete/app-element-delete.tsx
  studio/src/components.d.ts
Labels: enhancement, studio

#484 feat(#480): random palette for the first slide
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/app/popovers/editor/app-create-slide/app-create-slide.tsx
  studio/src/app/utils/editor/create-slides.utils.tsx
  studio/src/app/utils/editor/random-palette.tsx
  studio/src/global/theme/editor/editor-loading.scss
Labels: enhancement, studio

#487 feat: display the text and background color in the radio buttons
  studio/src/app/components/editor/color/app-color-deck-slide/app-color-deck-slide.tsx
Labels: enhancement, studio

#489 color picker highlight
  CHANGELOG.md
  docs/docs/components/app-components-color/app-components-color.md
  docs/package-lock.json
  docs/package.json
  docs/src/app/pages/docs/components/app-components-color/app-components-color.tsx
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/color/app-color-deck-slide/app-color-deck-slide.tsx
  studio/src/app/popovers/editor/app-color/app-color.scss
  webcomponents/color/CHANGELOG.md
  webcomponents/color/package-lock.json
  webcomponents/color/package.json
  webcomponents/color/src/components.d.ts
  webcomponents/color/src/components/color/deckdeckgo-color.scss
  webcomponents/color/src/components/color/deckdeckgo-color.tsx
  webcomponents/color/src/index.html
Labels: enhancement, studio

#498 studio: csp
  studio/package-lock.json
  studio/package.json
  studio/scripts/config.index.js
  studio/src/index.html
  studio/stencil.config.ts
Labels: enhancement, studio

#501 studio: light and dark theme
  studio/src/app/app-root.tsx
  studio/src/app/components/core/app-footer/app-footer.scss
  studio/src/app/components/core/app-menu/app-menu.scss
  studio/src/app/components/core/app-menu/app-menu.tsx
  studio/src/app/components/core/app-navigation-actions/app-navigation-actions.scss
  studio/src/app/components/core/app-navigation/app-navigation.scss
  studio/src/app/components/feed/app-popular/app-popular.scss
  studio/src/app/pages/core/app-settings/app-settings.scss
  studio/src/app/pages/core/app-settings/app-settings.tsx
  studio/src/app/services/theme/theme.service.tsx
  studio/src/global/theme/menu.scss
  studio/src/global/theme/variables.scss
Labels: enhancement, studio

#502 Improved grammar and readability of CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs

#503 utils: use rollup to build package
  utils/utils/package-lock.json
  utils/utils/package.json
  utils/utils/rollup.config.js
  utils/utils/src/utils/utils.ts
  utils/utils/tsconfig.json
  webcomponents/core/src/index.html
Labels: enhancement

#509 feat(#508): smoothly display the loaded images
  docs/docs/components/app-components-lazy-img/app-components-lazy-img.md
  docs/src/app/pages/docs/components/app-components-lazy-img/app-components-lazy-img.tsx
  webcomponents/lazy-img/src/components/lazy-img/deckdeckgo-lazy-img.scss
  webcomponents/lazy-img/src/components/lazy-img/deckdeckgo-lazy-img.tsx
  webcomponents/lazy-img/src/index.html
Labels: enhancement, lazy-img

#510 lazy-img: width and height as new properties
  docs/docs/components/app-components-lazy-img/app-components-lazy-img.md
  docs/src/app/pages/docs/components/app-components-lazy-img/app-components-lazy-img.tsx
  webcomponents/lazy-img/package-lock.json
  webcomponents/lazy-img/package.json
  webcomponents/lazy-img/src/components.d.ts
  webcomponents/lazy-img/src/components/lazy-img/deckdeckgo-lazy-img.tsx
  webcomponents/lazy-img/src/index.html
Labels: enhancement, lazy-img
