Repository deckgo/deckdeckgo, pull requests merged in 2019-10, with the labels that each got.

#386 feat(#385): valid title for publication with latin characters, arabic numbers, spaces and dash
  studio/src/app/components/editor/publish/app-publish-edit/app-publish-edit.scss
  studio/src/app/components/editor/publish/app-publish-edit/app-publish-edit.tsx
Labels: bug, studio

#391 Set color-container class overflow to visible - resolves #390
  webcomponents/color/src/components/color/deckdeckgo-color.scss
Labels: bug, hacktoberfest

#393 Update keyboard assist to support Vim keybindings
  webcomponents/core/src/components/deck/deckdeckgo-deck/deckdeckgo-deck.tsx
Labels: core, enhancement, good first issue, hacktoberfest

#392 studio: slide QR code
  docs/docs/slides/app-slide-qrcode/app-slide-qrcode.md
  docs/src/app/pages/docs/slides/app-slide-qrcode/app-slide-qrcode.tsx
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/app-deck-or-slide/app-deck-or-slide.tsx
  studio/src/app/components/editor/app-editor-toolbar/app-editor-toolbar.tsx
  studio/src/app/components/editor/app-select-target-element/app-select-target-element.scss
  studio/src/app/components/editor/app-select-target-element/app-select-target-element.tsx
  studio/src/app/handlers/editor/events/deck/deck-events.handler.tsx
  studio/src/app/helpers/editor/editor.helper.tsx
  studio/src/app/helpers/editor/image.helper.tsx
  studio/src/app/modals/editor/app-publish/app-publish.tsx
  studio/src/app/models/data/slide.tsx
  studio/src/app/pages/core/about/app-faq/app-faq.tsx
  studio/src/app/pages/core/app-dashboard/app-dashboard.tsx
  studio/src/app/popovers/editor/app-color/app-color.tsx
  studio/src/app/popovers/editor/app-create-slide/app-create-slide.scss
  studio/src/app/popovers/editor/app-create-slide/app-create-slide.tsx
  studio/src/app/popovers/editor/app-edit-slide/app-edit-slide.scss
  studio/src/app/popovers/editor/app-edit-slide/app-edit-slide.tsx
  studio/src/app/popovers/editor/app-image/app-image.scss
  studio/src/app/popovers/editor/app-image/app-image.tsx
  studio/src/app/popovers/editor/app-image/image-action.tsx
  studio/src/app/services/api/presentation/api.presentation.mock.service.tsx
  studio/src/app/services/editor/publish/publish.service.tsx
  studio/src/app/utils/editor/create-slides.utils.tsx
  studio/src/app/utils/editor/parse-slides.utils.tsx
  studio/src/app/utils/editor/qrcode.utils.tsx
  studio/src/app/utils/editor/target-element.tsx
  studio/src/components.d.ts
  studio/src/global/app-dev.ts
  studio/src/global/app.ts
  studio/src/global/theme/editor/editor-info.scss
  studio/src/global/theme/editor/editor-popover.scss
  webcomponents/color/src/components/color/deckdeckgo-color.tsx
  webcomponents/qrcode/CHANGELOG.md
  webcomponents/qrcode/package-lock.json
  webcomponents/qrcode/package.json
  webcomponents/qrcode/src/components/qrcode/deckdeckgo-qrcode.tsx
  webcomponents/slides/qrcode/CHANGELOG.md
  webcomponents/slides/qrcode/package-lock.json
  webcomponents/slides/qrcode/package.json
  webcomponents/slides/qrcode/src/components.d.ts
  webcomponents/slides/qrcode/src/components/slide/deckdeckgo-slide-qrcode.scss
  webcomponents/slides/qrcode/src/components/slide/deckdeckgo-slide-qrcode.tsx
  webcomponents/slides/qrcode/src/components/slide/readme.md
  webcomponents/slides/utils/src/index.ts
  webcomponents/slides/utils/src/interfaces/deckdeckgo-slide-play.ts
  webcomponents/slides/utils/src/interfaces/deckdeckgo-slide-resize.ts
  webcomponents/slides/video/package-lock.json
  webcomponents/slides/video/package.json
  webcomponents/slides/video/src/components.d.ts
  webcomponents/slides/video/src/components/slide/deckdeckgo-slide-video.tsx
  webcomponents/slides/video/src/components/slide/readme.md
  webcomponents/slides/youtube/package-lock.json
  webcomponents/slides/youtube/package.json
  webcomponents/slides/youtube/src/components.d.ts
  webcomponents/slides/youtube/src/components/slide/deckdeckgo-slide-youtube.tsx
  webcomponents/slides/youtube/src/components/slide/readme.md
Labels: enhancement, studio

#396 Studio: display tags and hide title on cards in the main feed
  studio/src/app/components/feed/card/app-feed-card/app-feed-card.scss
Labels: enhancement, hacktoberfest, studio

#397 fix: slide chart namespace
  webcomponents/slides/chart/CHANGELOG.md
  webcomponents/slides/chart/package-lock.json
  webcomponents/slides/chart/package.json
  webcomponents/slides/chart/stencil.config.ts
Labels: bug, templates

#399 feat(#340): optional bar chart titles
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/docs/components/app-components-charts/app-components-charts.md
  docs/package-lock.json
  docs/package.json
  docs/src/app/pages/docs/components/app-components-charts/app-components-charts.tsx
  webcomponents/charts/CHANGELOG.md
  webcomponents/charts/package-lock.json
  webcomponents/charts/package.json
  webcomponents/charts/src/components/charts/deckdeckgo-bar-chart/deckdeckgo-bar-chart.tsx
  webcomponents/charts/src/index.html
Labels: enhancement

#398 enhancement(switcher): implementing dark-light switcher for remote
  remote/src/app/app-root.scss
  remote/src/app/app-root.tsx
  remote/src/app/modals/app-remote-dark-mode-switch/app-remote-dark-mode-switch.scss
  remote/src/app/modals/app-remote-dark-mode-switch/app-remote-dark-mode-switch.tsx
  remote/src/app/pages/app-remote/app-remote.tsx
  remote/src/components.d.ts
Labels: enhancement, hacktoberfest, remote

#406 Add basic vertical split functionality
  webcomponents/slides/split/src/components.d.ts
  webcomponents/slides/split/src/components/slide/deckdeckgo-slide-split.scss
  webcomponents/slides/split/src/components/slide/deckdeckgo-slide-split.tsx
  webcomponents/slides/split/src/index.html
Labels: enhancement, hacktoberfest, templates

#407 fix(inline-editor): enforced create-link to follow order
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.tsx
Labels: bug, hacktoberfest

#409 feat: add a dummy press kit page
  studio/src/app/app-root.tsx
  studio/src/app/components/core/app-footer/app-footer.tsx
  studio/src/app/pages/core/app-press/app-press.scss
  studio/src/app/pages/core/app-press/app-press.tsx
  studio/src/components.d.ts
Labels: enhancement, studio

#412 fix: inline editor link mouse selection for link creation
  CHANGELOG.md
  studio/package-lock.json
  studio/package.json
  webcomponents/inline-editor/CHANGELOG.md
  webcomponents/inline-editor/package-lock.json
  webcomponents/inline-editor/package.json
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.tsx
  webcomponents/inline-editor/src/index.html
Labels: bug, inline-editor

#414 fix(#404): assign slides unique key on the flight to fix reordering
  studio/package-lock.json
  studio/package.json
  studio/src/app/handlers/editor/events/deck/deck-events.handler.tsx
  studio/src/app/utils/editor/create-slides.utils.tsx
  studio/src/app/utils/editor/parse-slides.utils.tsx
Labels: bug, studio

#415 feat(dashboard): added create presentation button in case no presentations are available
  studio/src/app/pages/core/app-dashboard/app-dashboard.tsx
Labels: good first issue, hacktoberfest, studio

#417 adding videos to slides
  docs/docs/components/app-components-charts/app-components-charts.md
  docs/docs/components/app-components-inline-editor/app-components-inline-editor.md
  docs/docs/components/app-components-lazy-img/app-components-lazy-img.md
  docs/docs/edit/app-edit-fonts/app-edit-fonts.md
  docs/docs/edit/app-edit-markdown/app-edit-markdown.md
  docs/docs/introduction/app-introduction/app-introduction.md
  docs/docs/introduction/app-remote-control/app-remote-control.md
  docs/docs/slides/app-slide-author/app-slide-author.md
  docs/docs/slides/app-slide-big-img/app-slide-big-img.md
  docs/docs/slides/app-slide-chart/app-slide-chart.md
  docs/docs/slides/app-slide-code/app-slide-code.md
  docs/docs/slides/app-slide-gif/app-slide-gif.md
  docs/docs/slides/app-slide-qrcode/app-slide-qrcode.md
  docs/docs/slides/app-slide-youtube/app-slide-youtube.md
  docs/src/app/pages/docs/components/app-components-charts/app-components-charts.tsx
  docs/src/app/pages/docs/components/app-components-inline-editor/app-components-inline-editor.tsx
  docs/src/app/pages/docs/components/app-components-lazy-img/app-components-lazy-img.tsx
  docs/src/app/pages/docs/edit/app-edit-fonts/app-edit-fonts.tsx
  docs/src/app/pages/docs/edit/app-edit-markdown/app-edit-markdown.tsx
  docs/src/app/pages/docs/introduction/app-introduction/app-introduction.tsx
  docs/src/app/pages/docs/introduction/app-remote-control/app-remote-control.tsx
  docs/src/app/pages/docs/slides/app-slide-author/app-slide-author.tsx
  docs/src/app/pages/docs/slides/app-slide-big-img/app-slide-big-img.tsx
  docs/src/app/pages/docs/slides/app-slide-chart/app-slide-chart.tsx
  docs/src/app/pages/docs/slides/app-slide-code/app-slide-code.tsx
  docs/src/app/pages/docs/slides/app-slide-gif/app-slide-gif.tsx
  docs/src/app/pages/docs/slides/app-slide-qrcode/app-slide-qrcode.tsx
  docs/src/app/pages/docs/slides/app-slide-youtube/app-slide-youtube.tsx
Labels: docs, enhancement, good first issue, hacktoberfest

#418 lib: update ionic
  docs/package-lock.json
  docs/package.json
  docs/src/app/app-root.tsx
  docs/src/components.d.ts
  studio/package-lock.json
  studio/package.json
  studio/src/app/app-root.tsx
  studio/src/components.d.ts
Labels: docs, studio

#420 docs: add dark and light theme switcher
  docs/package-lock.json
  docs/package.json
  docs/src/app/components/app-footer/app-footer.scss
  docs/src/app/components/app-menu-footer/app-menu-footer.tsx
  docs/src/app/components/app-navigation/app-navigation.scss
  docs/src/app/components/app-navigation/app-navigation.tsx
  docs/src/app/components/app-theme-switcher/app-theme-switcher.scss
  docs/src/app/components/app-theme-switcher/app-theme-switcher.tsx
  docs/src/app/modals/app-navigation-modal/app-navigation-modal.scss
  docs/src/app/modals/app-navigation-modal/app-navigation-modal.tsx
  docs/src/app/pages/docs/edit/app-edit-fonts/app-edit-fonts.scss
  docs/src/app/pages/docs/introduction/app-introduction/app-introduction.scss
  docs/src/app/pages/docs/slides/app-slides-container.scss
  docs/src/components.d.ts
  docs/src/global/theme/code.scss
  docs/src/global/theme/menu.scss
  docs/src/global/theme/table.scss
  docs/src/global/theme/variables.scss
Labels: docs, enhancement

#421 Feature/studio add split vertical
  studio/src/app/handlers/editor/events/deck/deck-events.handler.tsx
  studio/src/app/models/data/slide.tsx
  studio/src/app/popovers/editor/app-create-slide/app-create-slide.scss
  studio/src/app/popovers/editor/app-create-slide/app-create-slide.tsx
  studio/src/app/utils/editor/create-slides.utils.tsx
  studio/src/app/utils/editor/parse-slides.utils.tsx
Labels: enhancement, hacktoberfest, studio

#428 fix(#423): fix wrong code highlight when line numbers are off
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.tsx
  webcomponents/highlight-code/src/index.html
Labels: bug, hacktoberfest, highlight-code

#430 fix(#423): not displayed place holder
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.tsx
  webcomponents/highlight-code/src/index.html
Labels: bug, highlight-code

#431 feat(#66): draw multiple circles
  remote/src/app/components/app-draw/app-draw.tsx
  webcomponents/remote/src/components/deckdeckgo-remote/deckdeckgo-remote.tsx
  webcomponents/remote/src/index.html
Labels: enhancement, hacktoberfest, remote

#433 docs(introduction): improve grammar, markdown syntax
  docs/docs/edit/app-edit-default/app-edit-default.md
  docs/docs/introduction/app-publishing/app-publishing.md
  docs/docs/introduction/app-remote-control/app-remote-control.md
  docs/docs/introduction/app-running/app-running.md
Labels: docs, hacktoberfest

#434 feat: --dev is use by stencil to not generate the service worker
  remote/package.json
  remote/src/global/app-local.ts
  remote/stencil.config.ts
Labels: enhancement, remote

#435 docs(edit): improve grammar
  docs/docs/edit/app-edit-fonts/app-edit-fonts.md
  docs/docs/edit/app-edit-lazy-loading/app-edit-lazy-loading.md
  docs/docs/edit/app-edit-markdown/app-edit-markdown.md
  docs/docs/edit/app-edit-reveal/app-edit-reveal.md
  docs/docs/edit/app-edit-rtl/app-edit-rtl.md
  docs/docs/edit/app-edit-theming/app-edit-theming.md
Labels: docs, hacktoberfest
