Repository deckgo/deckdeckgo, pull requests merged in 2020-03, with the labels that each got.

#656 Fix #655: Calculate center for element correctly
  webcomponents/drag-resize-rotate/src/components/deckdeckgo-drr.tsx
Labels: bug

#662 feat: bar chart y axis min
  docs/docs/components/app-components-charts/app-components-charts.md
  docs/src/app/pages/docs/components/app-components-charts/app-components-charts.tsx
  webcomponents/charts/CHANGELOG.md
  webcomponents/charts/package-lock.json
  webcomponents/charts/package.json
  webcomponents/charts/src/components.d.ts
  webcomponents/charts/src/components/charts/deckdeckgo-bar-chart/deckdeckgo-bar-chart.tsx
  webcomponents/charts/src/index.html
Labels: enhancement

#664 fix(#663): social spacing on Windows Chrome
  CHANGELOG.md
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  utils/deck/CHANGELOG.md
  utils/deck/package-lock.json
  utils/deck/package.json
  utils/deck/styles/deckdeckgo-deck.css
Labels: templates

#672 fix(#671): no heading for the sign in on the settings page if not logged in
  studio/src/app/pages/core/app-settings/app-settings.tsx
Labels: bug, studio

#674 docs(studio): update about page
  studio/src/app/pages/core/about/app-about/app-about.tsx
Labels: enhancement, studio

#678 studio: added new selected fonts
  studio/src/assets/assets.json
Labels: enhancement, studio

#681 fix(a11y): convert router-link to button for keyboard navigation
  studio/src/app/pages/core/app-dashboard/app-dashboard.tsx
  studio/src/app/pages/core/app-settings/app-settings.tsx
  studio/src/global/theme/button.scss
  studio/src/global/theme/fonts.scss
Labels: enhancement, studio
