Repository deckgo/deckdeckgo, pull requests merged in 2020-10, with the labels that each got.

#892 feat: display regions in services page
  studio/src/app/pages/core/about/app-services/app-services.tsx
Labels: enhancement, hacktoberfest, studio

#891 feat: deck auto-slide
  webcomponents/core/src/components.d.ts
  webcomponents/core/src/components/deck/deckdeckgo-deck/deckdeckgo-deck.tsx
  webcomponents/core/src/index.html
Labels: core, enhancement, hacktoberfest

#896 studio: integrate auto slide
  CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/publish/app-publish-edit/app-publish-edit.scss
  studio/src/app/components/editor/publish/app-publish-edit/app-publish-edit.tsx
  studio/src/app/components/editor/styles/deck/app-deck-transition/app-deck-transition.tsx
  studio/src/app/handlers/editor/events/deck/deck-events.handler.tsx
  studio/src/app/models/data/deck.tsx
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/app/utils/editor/deck-action.tsx
  studio/src/components.d.ts
  studio/src/global/app.scss
  studio/src/global/theme/radio.scss
  webcomponents/core/CHANGELOG.md
  webcomponents/core/package-lock.json
  webcomponents/core/package.json
  webcomponents/core/src/components.d.ts
  webcomponents/core/src/components/deck/deckdeckgo-deck/deckdeckgo-deck.tsx
  webcomponents/core/src/index.html
Labels: enhancement, studio

#898 docs: add version and license badges to all readme files
  backend/README.md
  cli/README.md
  cloud/README.md
  docs/README.md
  infra/LICENSE
  infra/README.md
  infra/handler/README.md
  remote/README.md
  studio/README.md
  utils/deck/README.md
  utils/remote/README.md
  utils/slide/README.md
  utils/types/README.md
  utils/utils/README.md
  webcomponents/charts/README.md
  webcomponents/color/README.md
  webcomponents/core/README.md
  webcomponents/demo/README.md
  webcomponents/drag-resize-rotate/README.md
  webcomponents/highlight-code/README.md
  webcomponents/inline-editor/README.md
  webcomponents/lazy-img/README.md
  webcomponents/math/README.md
  webcomponents/qrcode/README.md
  webcomponents/remote/README.md
  webcomponents/slides/aspect-ratio/README.md
  webcomponents/slides/author/README.md
  webcomponents/slides/big-img/README.md
  webcomponents/slides/chart/README.md
  webcomponents/slides/code/README.md
  webcomponents/slides/content/README.md
  webcomponents/slides/countdown/README.md
  webcomponents/slides/gif/README.md
  webcomponents/slides/playground/README.md
  webcomponents/slides/poll/README.md
  webcomponents/slides/qrcode/README.md
  webcomponents/slides/split/README.md
  webcomponents/slides/title/README.md
  webcomponents/slides/video/README.md
  webcomponents/slides/youtube/README.md
  webcomponents/social/README.md
  webcomponents/youtube/README.md
  webpack/README.md
Labels: docs, hacktoberfest

#904 feat: revert auto slide reflect props
  CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  webcomponents/core/CHANGELOG.md
  webcomponents/core/package-lock.json
  webcomponents/core/package.json
  webcomponents/core/src/components/deck/deckdeckgo-deck/deckdeckgo-deck.tsx
Labels: core, enhancement

#894 Studio borderradius
  studio/src/app/components/editor/styles/element/app-align/app-border-radius.tsx
  studio/src/app/popovers/editor/style/app-element-style/app-element-style.tsx
  studio/src/components.d.ts
Labels: enhancement, hacktoberfest, studio

#906 feat: persist and light improve border radius
  studio/src/app/components/editor/app-select-target-element/app-select-target-element.tsx
  studio/src/app/components/editor/styles/element/app-align/app-border-radius.tsx
  studio/src/app/components/editor/styles/element/app-border-radius/app-border-radius.tsx
  studio/src/app/popovers/editor/style/app-element-style/app-element-style.tsx
  studio/src/components.d.ts
Labels: enhancement, studio

#907 refactor: move border-radius to background
  studio/src/app/components/editor/app-select-target-element/app-select-target-element.tsx
  studio/src/app/components/editor/styles/app-image/app-image.tsx
  studio/src/app/components/editor/styles/element/app-border-radius/app-border-radius.tsx
  studio/src/app/popovers/editor/style/app-element-style/app-element-style.tsx
  studio/src/components.d.ts
Labels: enhancement, studio

#909 Studio: border radius hide other corners by default
  studio/src/app/components/editor/styles/element/app-border-radius/app-border-radius.tsx
Labels: enhancement, hacktoberfest, studio

#910 feat: editable zone border-radius zero pixel, border-radius init value
  studio/src/app/components/editor/styles/element/app-border-radius/app-border-radius.tsx
  studio/src/global/theme/editor/editor-deck-placeholder.scss
  studio/src/global/theme/editor/editor-deck.scss
Labels: enhancement, studio

#897 Studio - Implemented letter spacing
  studio/src/app/components/editor/styles/element/app-align/app-letter-spacing.tsx
  studio/src/app/popovers/editor/style/app-element-style/app-element-style.tsx
  studio/src/components.d.ts
Labels: enhancement, hacktoberfest, studio

#911 feat: init letter spacing and display
  studio/src/app/components/editor/styles/app-color-text-background/app-color-text-background.tsx
  studio/src/app/components/editor/styles/element/app-align/app-align.tsx
  studio/src/app/components/editor/styles/element/app-letter-spacing/app-letter-spacing.tsx
  studio/src/app/popovers/editor/style/app-deck-style/app-deck-style.tsx
  studio/src/app/popovers/editor/style/app-element-style/app-element-style.tsx
  studio/src/components.d.ts
Labels: enhancement, studio

#903 Saved previously used palette
  studio/src/app/app-root.tsx
  studio/src/app/components/editor/styles/app-color-text-background/app-color-text-background.tsx
  studio/src/app/components/editor/styles/element/app-color-code/app-color-code.tsx
  studio/src/app/components/editor/styles/slide/app-color-chart/app-color-chart.tsx
  studio/src/app/components/editor/styles/slide/app-color-qrcode/app-color-qrcode.tsx
  studio/src/app/components/editor/styles/slide/app-color-sides/app-color-sides.tsx
  studio/src/app/helpers/editor/palette.helper.ts
  studio/src/app/services/palette/palette.service.tsx
  studio/src/app/stores/palette.store.ts
Labels: enhancement, hacktoberfest, studio

#912 refactor: move update palette to a utils
  studio/src/app/components/editor/styles/app-color-text-background/app-color-text-background.tsx
  studio/src/app/components/editor/styles/element/app-color-code/app-color-code.tsx
  studio/src/app/components/editor/styles/slide/app-color-chart/app-color-chart.tsx
  studio/src/app/components/editor/styles/slide/app-color-qrcode/app-color-qrcode.tsx
  studio/src/app/components/editor/styles/slide/app-color-sides/app-color-sides.tsx
  studio/src/app/helpers/editor/palette.helper.ts
  studio/src/app/services/palette/palette.service.tsx
  studio/src/app/stores/palette.store.ts
  studio/src/app/utils/editor/palette.utils.ts
Labels: studio

#914 feat: publish new pager component
  CHANGELOG.md
  README.md
  docs/CHANGELOG.md
  docs/docs/components/app-components-social/app-components-social.md
  docs/docs/deck/app-deck-pager/app-deck-pager.md
  docs/package-lock.json
  docs/package.json
  docs/src/app/pages/docs/components/app-components-social/app-components-social.tsx
  docs/src/app/pages/docs/deck/app-deck-pager/app-deck-pager.tsx
  remote/CHANGELOG.md
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  webcomponents/core/CHANGELOG.md
  webcomponents/core/package-lock.json
  webcomponents/core/package.json
  webcomponents/core/src/components/deck/deckdeckgo-deck/deckdeckgo-deck.scss
  webcomponents/core/src/components/deck/deckdeckgo-deck/deckdeckgo-deck.tsx
  webcomponents/core/src/index.html
  webcomponents/pager/CHANGELOG.md
  webcomponents/pager/LICENSE
  webcomponents/pager/README.md
  webcomponents/pager/package-lock.json
  webcomponents/pager/package.json
  webcomponents/pager/src/components/deckdeckgo-pager.scss
  webcomponents/pager/src/components/readme.md
  webcomponents/pager/src/index.html
  webcomponents/pager/stencil.config.ts
Labels: core, enhancement

#915 Default minimized editor-panel in fullscreen mode
  studio/src/app/components/editor/actions/app-actions-editor/app-actions-editor.scss
  studio/src/app/components/editor/actions/app-actions-editor/app-actions-editor.tsx
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  utils/utils/src/utils/utils.ts
Labels: enhancement, hacktoberfest-accepted, studio

#917 [#705] Feature: Add more styling options for list items
  studio/src/app/components/editor/actions/element/app-actions-element/app-actions-element.tsx
  studio/src/app/components/editor/styles/element/app-list/app-list.tsx
  studio/src/app/utils/editor/list-style-type.tsx
  studio/src/app/utils/editor/list.utils.tsx
  studio/src/app/utils/editor/toggle-slot.utils.tsx
  studio/src/components.d.ts
Labels: enhancement, hacktoberfest-accepted, studio

#918 feat: list with drop down, support reveal and apply style in component
  studio/src/app/components/editor/actions/element/app-actions-element/app-actions-element.tsx
  studio/src/app/components/editor/styles/element/app-list/app-list.tsx
  studio/src/app/popovers/editor/style/app-element-style/app-element-style.tsx
  studio/src/app/utils/editor/toggle-slot.utils.tsx
Labels: enhancement, studio

#916 add auto slide documentation
  docs/docs/deck/app-deck-auto-slide/app-deck-auto-slide.md
  docs/src/app/app-root.tsx
  docs/src/app/pages/docs/deck/app-deck-auto-slide/app-deck-auto-slide.tsx
Labels: docs, enhancement, hacktoberfest-accepted

#921 docs: improve github templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/pull_request_template.md
  studio/src/app/services/palette/palette.service.tsx
Labels: docs, enhancement, hacktoberfest-accepted

#925 add: overflow hidden for font item
  studio/src/app/components/editor/styles/deck/app-deck-fonts/app-deck-fonts.scss
Labels: bug, hacktoberfest-accepted, studio

#923 Webcomponents word cloud
  webcomponents/word-cloud/.editorconfig
  webcomponents/word-cloud/.gitignore
  webcomponents/word-cloud/.prettierrc.json
  webcomponents/word-cloud/LICENSE
  webcomponents/word-cloud/package-lock.json
  webcomponents/word-cloud/package.json
  webcomponents/word-cloud/readme.md
  webcomponents/word-cloud/src/components.d.ts
  webcomponents/word-cloud/src/components/word-cloud/readme.md
  webcomponents/word-cloud/src/components/word-cloud/word-cloud.scss
  webcomponents/word-cloud/src/components/word-cloud/word-cloud.tsx
  webcomponents/word-cloud/src/index.html
  webcomponents/word-cloud/src/index.ts
  webcomponents/word-cloud/stencil.config.ts
  webcomponents/word-cloud/tsconfig.json
Labels: enhancement, hacktoberfest-accepted

#929 fix(docs): align feature list correctly
  docs/src/app/pages/app-home/app-home.scss
  docs/src/app/pages/app-home/app-home.tsx
Labels: docs, enhancement, hacktoberfest-accepted

#928 docs: rename youtube and gif
  docs/docs/components/app-components-gif/app-components-gif.md
  docs/docs/components/app-components-youtube/app-components-youtube.md
  docs/docs/misc/app-misc-backstory/app-misc-backstory.md
  docs/docs/slides/app-slide-gif/app-slide-gif.md
  docs/docs/slides/app-slide-playground/app-slide-playground.md
  docs/docs/slides/app-slide-poll/app-slide-poll.md
  docs/docs/slides/app-slide-video/app-slide-video.md
  docs/docs/slides/app-slide-youtube/app-slide-youtube.md
  docs/docs/slides/app-slides-concept/app-slides-concept.md
  docs/src/app/app-root.tsx
  docs/src/app/pages/docs/components/app-components-gif/app-components-gif.tsx
  docs/src/app/pages/docs/components/app-components-youtube/app-components-youtube.tsx
  docs/src/app/pages/docs/misc/app-misc-backstory/app-misc-backstory.tsx
  docs/src/app/pages/docs/slides/app-slide-gif/app-slide-gif.tsx
  docs/src/app/pages/docs/slides/app-slide-playground/app-slide-playground.tsx
  docs/src/app/pages/docs/slides/app-slide-poll/app-slide-poll.tsx
  docs/src/app/pages/docs/slides/app-slide-video/app-slide-video.tsx
  docs/src/app/pages/docs/slides/app-slide-youtube/app-slide-youtube.tsx
  docs/src/app/pages/docs/slides/app-slides-concept/app-slides-concept.tsx
  studio/src/app/components/editor/styles/app-image/app-image.tsx
  studio/src/app/modals/editor/app-gif/app-gif.tsx
  studio/src/app/pages/core/about/app-privacy/app-privacy.tsx
Labels: docs, enhancement, hacktoberfest-accepted

#930 Studio - boxshadow initial vals + opacity fix
  studio/src/app/components/editor/styles/element/app-align/app-box-shadow.tsx
  studio/src/app/utils/editor/color.utils.tsx
  studio/src/components.d.ts
Labels: enhancement, hacktoberfest-accepted, studio

#926 bug(a11y): add focus state to color picker
  webcomponents/color/src/components/color/deckdeckgo-color.scss
Labels: bug, hacktoberfest-accepted

#833 feat: aria-hidden for toolbar buttons slots (a11y)
  cli/src/fonts.ts
  infra/nix/sources.json
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/actions/deck/app-action-busy/app-action-busy.tsx
  studio/src/app/components/editor/actions/deck/app-action-help/app-action-help.tsx
  studio/src/app/components/editor/actions/deck/app-action-share/app-action-share.tsx
  studio/src/app/components/editor/actions/deck/app-actions-deck/app-actions-deck.tsx
  studio/src/app/components/editor/actions/element/app-actions-element/app-actions-element.tsx
  studio/src/assets/icons/ionicons/arrow-back.svg
  studio/src/assets/icons/ionicons/arrow-forward.svg
  studio/src/assets/icons/ionicons/brush.svg
  studio/src/assets/icons/ionicons/checkmark.svg
  studio/src/assets/icons/ionicons/chevron-down.svg
  studio/src/assets/icons/ionicons/clipboard.svg
  studio/src/assets/icons/ionicons/close.svg
  studio/src/assets/icons/ionicons/cloud-done.svg
  studio/src/assets/icons/ionicons/cloud-offline.svg
  studio/src/assets/icons/ionicons/code.svg
  studio/src/assets/icons/ionicons/color-palette.svg
  studio/src/assets/icons/ionicons/color-wand.svg
  studio/src/assets/icons/ionicons/contract.svg
  studio/src/assets/icons/ionicons/copy.svg
  studio/src/assets/icons/ionicons/create.svg
  studio/src/assets/icons/ionicons/ellipsis-vertical.svg
  studio/src/assets/icons/ionicons/expand.svg
  studio/src/assets/icons/ionicons/github.svg
  studio/src/assets/icons/ionicons/globe.svg
  studio/src/assets/icons/ionicons/help.svg
  studio/src/assets/icons/ionicons/images.svg
  studio/src/assets/icons/ionicons/linkedin.svg
  studio/src/assets/icons/ionicons/list.svg
  studio/src/assets/icons/ionicons/open.svg
  studio/src/assets/icons/ionicons/pencil.svg
  studio/src/assets/icons/ionicons/person.svg
  studio/src/assets/icons/ionicons/phone-portrait.svg
  studio/src/assets/icons/ionicons/settings.svg
  studio/src/assets/icons/ionicons/shapes.svg
  studio/src/assets/icons/ionicons/share.svg
  studio/src/assets/icons/ionicons/trash-bin.svg
  studio/src/assets/icons/ionicons/twitter.svg
  webcomponents/word-cloud/README.md
  webcomponents/word-cloud/package-lock.json
  webcomponents/word-cloud/package.json
  webcomponents/word-cloud/readme.md
  webcomponents/word-cloud/src/components/word-cloud/readme.md
  webcomponents/word-cloud/src/index.html
  webcomponents/word-cloud/src/index.ts
  webcomponents/word-cloud/stencil.config.ts
  webcomponents/word-cloud/tsconfig.json
Labels: enhancement, on hold, studio

#941 fix: image options not displayed
  studio/src/app/components/editor/styles/app-image/app-image.tsx
  studio/src/app/popovers/editor/app-image-element/app-image-element.tsx
  studio/src/components.d.ts
Labels: bug, studio

#934 refactor(styles): introduce optional chaining
  studio/src/app/components/editor/styles/deck/app-deck-header-footer/app-deck-header-footer.tsx
  studio/src/app/components/editor/styles/deck/app-deck-transition/app-deck-transition.tsx
  studio/src/app/components/editor/styles/element/app-color-code/app-color-code.tsx
  studio/src/app/components/editor/styles/element/app-image-style/app-image-style.tsx
  studio/src/app/popovers/editor/style/app-element-style/app-element-style.tsx
Labels: enhancement, hacktoberfest-accepted, studio

#940 refactor: add rel to links
  docs/src/app/pages/docs/components/app-components-demo/app-components-demo.tsx
  docs/src/app/pages/docs/components/app-components-drr/app-components-drr.tsx
  docs/src/app/pages/docs/components/app-components-gif/app-components-gif.tsx
  docs/src/app/pages/docs/deck/app-deck-pager/app-deck-pager.tsx
  docs/src/app/pages/docs/edit/app-edit-fonts/app-edit-fonts.tsx
  docs/src/app/pages/docs/edit/app-edit-markdown/app-edit-markdown.tsx
  docs/src/app/pages/docs/edit/app-edit-theming/app-edit-theming.tsx
  docs/src/app/pages/docs/slides/app-slide-aspect-ratio/app-slide-aspect-ratio.tsx
  docs/src/app/pages/docs/slides/app-slide-author/app-slide-author.tsx
  docs/src/app/pages/docs/slides/app-slide-playground/app-slide-playground.tsx
  webcomponents/inline-editor/src/index.html
Labels: enhancement, hacktoberfest-accepted, studio

#933 refactor: introduce optional chaining
  studio/src/app/components/core/app-random-gif/app-random-gif.tsx
  studio/src/app/components/dashboard/app-dashboard-deck-actions/app-dashboard-deck-actions.tsx
  studio/src/app/components/feed/card/app-feed-card/app-feed-card.tsx
  studio/src/app/pages/core/app-dashboard/app-dashboard.tsx
  studio/src/app/pages/core/app-poll/app-poll.tsx
Labels: enhancement, hacktoberfest-accepted, studio

#945 feat: optional chaining typesafe
  studio/src/app/components/dashboard/app-dashboard-deck-actions/app-dashboard-deck-actions.tsx
  studio/src/app/components/feed/card/app-feed-card/app-feed-card.tsx
  studio/src/app/pages/core/app-dashboard/app-dashboard.tsx
Labels: enhancement, studio

#936 refactor(services): introduce optional chaining
  studio/src/app/services/core/environment/environment-config.tsx
  studio/src/app/services/editor/offline/offline.service.tsx
  studio/src/app/services/editor/publish/publish.service.tsx
  studio/src/app/services/editor/remote/remote.service.tsx
Labels: enhancement, hacktoberfest-accepted, studio

#946 studio: fix optional chaining of PR #936
  studio/src/app/services/core/environment/environment-config.tsx
  studio/src/app/services/editor/remote/remote.service.tsx
Labels: bug, studio

#939 refactor(sign-in): introduce optional chaining
  studio/src/app/components/core/app-menu/app-menu.tsx
  studio/src/app/components/core/app-navigation-actions/app-navigation-actions.tsx
  studio/src/app/pages/core/app-dashboard/app-dashboard.tsx
  studio/src/app/pages/core/app-settings/app-settings.tsx
  studio/src/app/pages/editor/app-editor/app-editor.tsx
Labels: enhancement, hacktoberfest-accepted, studio

#935 refactor(editor): introduce optional chaining
  studio/src/app/components/editor/actions/deck/app-actions-deck/app-actions-deck.tsx
  studio/src/app/components/editor/actions/element/app-actions-element/app-actions-element.tsx
  studio/src/app/components/editor/app-image-columns/app-image-columns.tsx
  studio/src/app/components/editor/app-slot-type/app-slot-type.tsx
  studio/src/app/components/editor/publish/app-publish-edit/app-publish-edit.tsx
  studio/src/app/helpers/editor/editor.helper.tsx
  studio/src/app/helpers/editor/image.helper.tsx
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/app/popovers/editor/app-shape/app-shape.tsx
  studio/src/app/popovers/editor/remote/app-remote-request/app-remote-request.tsx
Labels: enhancement, hacktoberfest-accepted, studio

#947 studio: fix chaining of PR #935
  studio/src/app/components/editor/actions/element/app-actions-element/app-actions-element.tsx
  studio/src/app/components/editor/app-image-columns/app-image-columns.tsx
  studio/src/app/components/editor/publish/app-publish-edit/app-publish-edit.tsx
  studio/src/app/popovers/editor/app-shape/app-shape.tsx
Labels: bug, studio

#938 refactor(store): introduce optional chaining
  studio/src/app/stores/deck.store.ts
  studio/src/app/stores/user.store.ts
Labels: enhancement, hacktoberfest-accepted, studio

#948 fix: store optional chaining PR #938
  studio/src/app/stores/deck.store.ts
  studio/src/app/stores/user.store.ts
Labels: bug, studio

#937 refactor(utils): introduce optional chaining
  studio/src/app/utils/core/share.utils.tsx
  studio/src/app/utils/editor/image-action.utils.tsx
  studio/src/app/utils/editor/list.utils.tsx
  studio/src/app/utils/editor/reveal-slot.utils.tsx
  studio/src/app/utils/editor/slot.utils.tsx
  studio/src/app/utils/editor/social.utils.tsx
Labels: enhancement, hacktoberfest-accepted, studio

#932 studio: integrate word cloud
  CHANGELOG.md
  README.md
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/actions/element/app-actions-element/app-actions-element.tsx
  studio/src/app/components/editor/app-slide-contrast/app-slide-contrast.tsx
  studio/src/app/components/editor/app-slot-type/app-slot-type.tsx
  studio/src/app/components/editor/styles/element/app-color-word-cloud/app-color-word-cloud.tsx
  studio/src/app/handlers/editor/events/deck/deck-events.handler.tsx
  studio/src/app/popovers/editor/app-image-element/app-image-element.tsx
  studio/src/app/popovers/editor/style/app-element-style/app-element-style.tsx
  studio/src/app/utils/editor/align.utils.tsx
  studio/src/app/utils/editor/create-slides.utils.tsx
  studio/src/app/utils/editor/node.utils.tsx
  studio/src/app/utils/editor/parse-elements.utils.tsx
  studio/src/app/utils/editor/slot-type.tsx
  studio/src/app/utils/editor/slot.utils.tsx
  studio/src/app/utils/editor/target-element.tsx
  studio/src/app/utils/editor/toggle-slot.utils.tsx
  studio/src/assets/assets.json
  studio/src/assets/icons/word-cloud.svg
  studio/src/components.d.ts
  studio/src/global/app-dev.ts
  studio/src/global/app-staging.ts
  studio/src/global/app.ts
  studio/src/global/theme/editor/editor-deck.scss
  studio/src/global/theme/editor/editor-fullscreen.scss
  webcomponents/word-cloud/CHANGELOG.md
  webcomponents/word-cloud/package-lock.json
  webcomponents/word-cloud/package.json
  webcomponents/word-cloud/src/components.d.ts
  webcomponents/word-cloud/src/components/utils/word-cloud-draw.ts
  webcomponents/word-cloud/src/components/word-cloud/word-cloud.scss
  webcomponents/word-cloud/src/components/word-cloud/word-cloud.tsx
  webcomponents/word-cloud/src/index.html
Labels: enhancement, studio

#950 feat: updated studio to use workbox v5.x
  studio/package.json
  studio/src/sw.js
Labels: enhancement, hacktoberfest-accepted, studio

#949 studio: svg waves for deck or slide background
  studio/src/app/components/editor/app-image-columns/app-image-columns.tsx
  studio/src/app/components/editor/styles/app-image/app-image.tsx
  studio/src/app/definitions/svg-waves.d.ts
  studio/src/app/helpers/editor/image.helper.tsx
  studio/src/app/helpers/editor/shape.helper.tsx
  studio/src/app/helpers/editor/svgWaves.helper.tsx
  studio/src/app/modals/editor/app-svg-waves/app-svg-waves.scss
  studio/src/app/modals/editor/app-svg-waves/app-svg-waves.tsx
  studio/src/app/services/editor/image-history/image-history.service.ts
  studio/src/app/utils/editor/edit-action.tsx
  studio/src/app/utils/editor/image-action.tsx
  studio/src/app/utils/editor/image-action.utils.tsx
  studio/src/app/utils/editor/svg-waves.utils.tsx
  studio/src/components.d.ts
Labels: enhancement, hacktoberfest-accepted, studio

#953 studio: integrate box-shadow
  studio/src/app/components/editor/styles/element/app-align/app-box-shadow.tsx
  studio/src/app/components/editor/styles/element/app-border-radius/app-border-radius.tsx
  studio/src/app/components/editor/styles/element/app-box-shadow/app-box-shadow.tsx
  studio/src/app/components/editor/styles/slide/app-color-sides/app-color-sides.tsx
  studio/src/app/popovers/editor/style/app-element-style/app-element-style.tsx
  studio/src/app/utils/editor/color.utils.tsx
  studio/src/global/theme/editor/editor-deck-placeholder.scss
  studio/src/global/theme/editor/editor-fullscreen.scss
Labels: enhancement, studio

#954 style: word cloud placeholder centering
  CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  webcomponents/word-cloud/CHANGELOG.md
  webcomponents/word-cloud/package-lock.json
  webcomponents/word-cloud/package.json
  webcomponents/word-cloud/src/components/word-cloud/word-cloud.scss
Labels: enhancement, studio

#956 studio: fullscreen bottom sheet
  CHANGELOG.md
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/actions/app-breadcrumbs/app-breadcrumbs.tsx
  studio/src/app/components/editor/actions/deck/app-action-busy/app-action-busy.tsx
  studio/src/app/components/editor/actions/deck/app-action-help/app-action-help.tsx
  studio/src/app/components/editor/actions/deck/app-action-share/app-action-share.tsx
  studio/src/app/components/editor/actions/deck/app-actions-deck/app-actions-deck.tsx
  studio/src/app/components/editor/actions/footer/app-actions-editor/app-actions-editor.scss
  studio/src/app/components/editor/actions/footer/app-actions-editor/app-actions-editor.tsx
  studio/src/app/components/editor/actions/footer/app-bottom-sheet/app-bottom-sheet.scss
  studio/src/app/components/editor/actions/footer/app-bottom-sheet/app-bottom-sheet.tsx
  studio/src/app/components/editor/app-inactivity/app-inactivity.tsx
  studio/src/app/handlers/editor/events/deck/deck-events.handler.tsx
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/app/popovers/editor/app-fullscreen-info/app-fullscreen-info.tsx
  studio/src/app/stores/busy.store.ts
  studio/src/components.d.ts
  studio/src/global/theme/editor/editor-fullscreen-footer.scss
  studio/src/global/theme/editor/editor-fullscreen.scss
  studio/src/global/theme/popover.scss
  utils/deck/CHANGELOG.md
  utils/deck/package-lock.json
  utils/deck/package.json
  utils/deck/src/utils/parse-content.utils.ts
  utils/utils/src/utils/utils.ts
Labels: enhancement, studio

#957 studio: fix clean persisted deck
  studio/src/app/utils/editor/firestore.utils.tsx
Labels: bug, studio

#958 fix: color propagation and multiple updates
  studio/src/app/components/editor/styles/app-color-text-background/app-color-text-background.tsx
  studio/src/app/components/editor/styles/element/app-box-shadow/app-box-shadow.tsx
  studio/src/app/components/editor/styles/element/app-color-code/app-color-code.tsx
  studio/src/app/components/editor/styles/element/app-color-word-cloud/app-color-word-cloud.tsx
  studio/src/app/components/editor/styles/slide/app-color-chart/app-color-chart.tsx
  studio/src/app/components/editor/styles/slide/app-color-qrcode/app-color-qrcode.tsx
  studio/src/app/components/editor/styles/slide/app-color-sides/app-color-sides.tsx
  studio/src/app/modals/editor/app-svg-waves/app-svg-waves.tsx
Labels: bug, studio

#961 fix: selected element on slide change
  studio/src/app/components/editor/actions/footer/app-actions-editor/app-actions-editor.tsx
  studio/src/app/pages/editor/app-editor/app-editor.tsx
Labels: bug, studio

#963 feat: fullscreen enter hide mouse more quickly
  CHANGELOG.md
  webcomponents/core/CHANGELOG.md
  webcomponents/core/package-lock.json
  webcomponents/core/package.json
  webcomponents/core/src/components/deck/deckdeckgo-deck/deckdeckgo-deck.tsx
Labels: core, enhancement

#965 docs: documentation for word cloud
  docs/docs/components/app-components-word-cloud/app-components-word-cloud.md
  docs/src/app/app-root.tsx
  docs/src/app/pages/docs/components/app-components-word-cloud/app-components-word-cloud.tsx
  docs/src/components.d.ts
Labels: docs, enhancement, hacktoberfest-accepted

#960 feat: integrate waves
  CHANGELOG.md
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/app-image-columns/app-image-columns.tsx
  studio/src/app/components/editor/styles/app-image/app-image.tsx
  studio/src/app/definitions/waves.d.ts
  studio/src/app/helpers/editor/image.helper.tsx
  studio/src/app/helpers/editor/shape.helper.tsx
  studio/src/app/helpers/editor/svgWaves.helper.tsx
  studio/src/app/modals/editor/app-notes/app-notes.tsx
  studio/src/app/modals/editor/app-poll-options/app-poll-options.tsx
  studio/src/app/modals/editor/app-svg-waves/app-svg-waves.scss
  studio/src/app/modals/editor/app-svg-waves/app-svg-waves.tsx
  studio/src/app/modals/editor/app-waves/app-waves.scss
  studio/src/app/modals/editor/app-waves/app-waves.tsx
  studio/src/app/popovers/editor/style/app-deck-style/app-deck-style.tsx
  studio/src/app/popovers/editor/style/app-element-style/app-element-style.tsx
  studio/src/app/services/editor/image-history/image-history.service.ts
  studio/src/app/utils/editor/image-action.tsx
  studio/src/app/utils/editor/image-action.utils.tsx
  studio/src/app/utils/editor/waves.utils.tsx
  studio/src/assets/icons/waves-complex.svg
  studio/src/assets/icons/waves-simple.svg
  studio/src/components.d.ts
  studio/src/global/theme/variables.scss
  utils/deck/CHANGELOG.md
  utils/deck/package-lock.json
  utils/deck/package.json
  utils/deck/styles/deck/deck.scss
Labels: enhancement, studio

#969 add the active slider number in footer breadcrumbs
  studio/src/app/components/editor/actions/app-breadcrumbs/app-breadcrumbs.tsx
  studio/src/app/components/editor/actions/footer/app-actions-editor/app-actions-editor.tsx
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/components.d.ts
Labels: enhancement, hacktoberfest-accepted, studio

#970 feat: select slide with remote and tabbing through slidees
  CHANGELOG.md
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/actions/app-breadcrumbs/app-breadcrumbs.tsx
  studio/src/app/handlers/editor/events/remote/remote-events.handler.tsx
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  webcomponents/core/CHANGELOG.md
  webcomponents/core/package-lock.json
  webcomponents/core/package.json
  webcomponents/core/src/components/deck/deckdeckgo-deck/deckdeckgo-deck.tsx
Labels: bug

#972 feat: femote aspect ratio preserved (16/9)
  CHANGELOG.md
  README.md
  remote/CHANGELOG.md
  remote/package-lock.json
  remote/package.json
  remote/src/app/pages/app-remote/app-remote.scss
Labels: enhancement, remote

#973 fix: deck/utils img
  CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  utils/deck/CHANGELOG.md
  utils/deck/package-lock.json
  utils/deck/package.json
  utils/deck/styles/deck/deck.scss
Labels: bug, studio

#964 (fix) updates to new medium profile URL
  docs/docs/components/app-components-social/app-components-social.md
  webcomponents/social/src/components/deckdeckgo-social.e2e.ts
  webcomponents/social/src/components/deckdeckgo-social.tsx
  webcomponents/social/src/index.html
Labels: enhancement, hacktoberfest-accepted

#974 feat: color picker (v2 - rewritten)
  studio/src/app/app-root.tsx
  studio/src/app/components/editor/styles/app-color-text-background/app-color-text-background.tsx
  studio/src/app/components/editor/styles/app-color/app-color.scss
  studio/src/app/components/editor/styles/app-color/app-color.tsx
  studio/src/app/components/editor/styles/deck/app-deck-fonts/app-deck-fonts.tsx
  studio/src/app/components/editor/styles/element/app-box-shadow/app-box-shadow.tsx
  studio/src/app/components/editor/styles/element/app-color-code/app-color-code.scss
  studio/src/app/components/editor/styles/element/app-color-code/app-color-code.tsx
  studio/src/app/components/editor/styles/element/app-color-word-cloud/app-color-word-cloud.tsx
  studio/src/app/components/editor/styles/slide/app-color-chart/app-color-chart.tsx
  studio/src/app/components/editor/styles/slide/app-color-qrcode/app-color-qrcode.tsx
  studio/src/app/components/editor/styles/slide/app-color-sides/app-color-sides.tsx
  studio/src/app/modals/editor/app-waves/app-waves.scss
  studio/src/app/modals/editor/app-waves/app-waves.tsx
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/app/popovers/editor/style/app-deck-style/app-deck-style.tsx
  studio/src/app/popovers/editor/style/app-element-style/app-element-style.tsx
  studio/src/app/services/color/color.service.tsx
  studio/src/app/services/palette/palette.service.tsx
  studio/src/app/stores/color.store.ts
  studio/src/app/stores/palette.store.ts
  studio/src/app/utils/editor/color.utils.tsx
  studio/src/app/utils/editor/palette.utils.ts
  studio/src/components.d.ts
  studio/src/global/theme/editor/editor-popover.scss
  studio/src/global/theme/input.scss
  studio/src/global/theme/radio.scss
Labels: enhancement, studio

#976 build: Firebase v8
  studio/package-lock.json
  studio/package.json
  studio/src/app/handlers/editor/events/deck/deck-events.handler.tsx
  studio/src/app/models/data/deck.tsx
  studio/src/app/models/data/slide.tsx
  studio/src/app/models/data/token.tsx
  studio/src/app/models/data/user.tsx
  studio/src/app/pages/core/app-settings/app-settings.tsx
  studio/src/app/pages/core/app-signin/app-signin.tsx
  studio/src/app/services/auth/auth.service.tsx
  studio/src/app/services/dashboard/deck/deck-dashboard.service.tsx
  studio/src/app/services/data/deck/deck.online.service.tsx
  studio/src/app/services/data/deck/deck.service.tsx
  studio/src/app/services/data/feed/feed.service.tsx
  studio/src/app/services/data/platform/platform.service.tsx
  studio/src/app/services/data/slide/slide.online.service.tsx
  studio/src/app/services/data/user/user.service.tsx
  studio/src/app/services/editor/offline/offline.service.tsx
  studio/src/app/services/editor/publish/publish.service.tsx
  studio/src/app/utils/editor/offline.utils.tsx
Labels: enhancement, studio

#978 feat: add a cancel button to take part to a new poll
  studio/src/app/pages/core/app-poll/app-poll.scss
  studio/src/app/pages/core/app-poll/app-poll.tsx
Labels: enhancement, studio

#979 Deprecated markdown
  CHANGELOG.md
  README.md
  cli/CHANGELOG.md
  cli/package-lock.json
  cli/package.json
  cli/src/download.ts
  cli/src/index.ts
  cli/src/unzip.ts
  cli/src/utils.ts
  cli/src/version.js
  docs/CHANGELOG.md
  docs/docs/edit/app-edit-default/app-edit-default.md
  docs/docs/edit/app-edit-markdown/app-edit-markdown.md
  docs/docs/introduction/app-introduction/app-introduction.md
  docs/package-lock.json
  docs/package.json
  docs/src/app/app-root.tsx
  docs/src/app/pages/app-home/app-home.tsx
  docs/src/app/pages/docs/edit/app-edit-default/app-edit-default.tsx
  docs/src/app/pages/docs/edit/app-edit-markdown/app-edit-markdown.tsx
  docs/src/app/pages/docs/introduction/app-introduction/app-introduction.tsx
  docs/src/components.d.ts
  webpack/CHANGELOG.md
  webpack/package-lock.json
  webpack/package.json
  webpack/src/index.ts
  webpack/src/markdown/deckdeckgo-markdown-plugin.ts
  webpack/src/markdown/deckdeckgo-markdown-resources.ts
Labels: breaking, cli, starter, webpack

#981 fix: publish only string attributes
  cloud/functions/src/model/api/api.deck.ts
  cloud/functions/src/request/utils/convert-deck-utils.ts
Labels: bug, cloud

#982 fix: handle attributes case by publish
  cloud/functions/src/model/api/api.deck.ts
  cloud/functions/src/request/utils/convert-deck-utils.ts
Labels: bug, cloud

#983 fix: word cloud slide integration
  CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  utils/slide/CHANGELOG.md
  utils/slide/package-lock.json
  utils/slide/package.json
  utils/slide/src/utils/slide-utils.ts
  webcomponents/word-cloud/CHANGELOG.md
  webcomponents/word-cloud/package-lock.json
  webcomponents/word-cloud/package.json
  webcomponents/word-cloud/src/components.d.ts
  webcomponents/word-cloud/src/components/word-cloud/word-cloud.tsx
Labels: bug

#984 color history with default palette
  studio/src/app/components/editor/styles/app-color/app-color.scss
  studio/src/app/components/editor/styles/app-color/app-color.tsx
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/app/services/color/color.service.tsx
  studio/src/app/stores/color.store.ts
  studio/src/app/utils/editor/color.utils.tsx
Labels: enhancement, studio

#985 style: papyrus image height
  CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  utils/deck/CHANGELOG.md
  utils/deck/package-lock.json
  utils/deck/package.json
  utils/deck/styles/deck/deck.scss
Labels: core, enhancement

#986 fix: remove auto select slide
  studio/src/app/pages/editor/app-editor/app-editor.tsx
Labels: bug, studio

#987 feat: open bottom sheet on click on indicator
  studio/src/app/components/editor/actions/footer/app-bottom-sheet/app-bottom-sheet.scss
  studio/src/app/components/editor/actions/footer/app-bottom-sheet/app-bottom-sheet.tsx
Labels: enhancement, studio

#988 fix: inline editor style all list
  CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  studio/package-lock.json
  studio/package.json
  webcomponents/inline-editor/CHANGELOG.md
  webcomponents/inline-editor/package-lock.json
  webcomponents/inline-editor/package.json
  webcomponents/inline-editor/src/index.html
  webcomponents/inline-editor/src/utils/execcommand-style.utils.tsx
Labels: bug, inline-editor

#989 feat: display information if publish failed
  studio/src/app/components/editor/publish/app-publish-edit/app-publish-edit.scss
  studio/src/app/components/editor/publish/app-publish-edit/app-publish-edit.tsx
  studio/src/app/modals/editor/app-publish/app-publish.tsx
  studio/src/components.d.ts
Labels: enhancement, studio

#990 feat: kit
  .gitignore
  utils/kit/.prettierrc
  utils/kit/CHANGELOG.md
  utils/kit/LICENSE
  utils/kit/README.md
  utils/kit/package-lock.json
  utils/kit/package.json
  utils/kit/rollup.config.js
  utils/kit/src/actions/actions.ts
  utils/kit/src/actions/buttons.ts
  utils/kit/src/actions/play-pause.ts
  utils/kit/src/actions/slider.ts
  utils/kit/src/dev/history.ts
  utils/kit/src/embed/embedded.ts
  utils/kit/src/fullscreen/fullscreen.ts
  utils/kit/src/index.ts
  utils/kit/src/loading/loading.ts
  utils/kit/src/modals/jump-to.ts
  utils/kit/src/modals/menu.ts
  utils/kit/src/modals/notes.ts
  utils/kit/src/modals/reload.ts
  utils/kit/src/modals/remote.ts
  utils/kit/src/remote/controller.ts
  utils/kit/src/stores/embedded.d.ts
  utils/kit/src/stores/remote.d.ts
  utils/kit/src/types/deck.d.ts
  utils/kit/src/types/ionic.d.ts
  utils/kit/src/types/remote.d.ts
  utils/kit/src/types/share.d.ts
  utils/kit/src/types/slide.d.ts
  utils/kit/styles/alert.scss
  utils/kit/styles/button.scss
  utils/kit/styles/content.scss
  utils/kit/styles/img.scss
  utils/kit/styles/index.scss
  utils/kit/styles/modal.scss
  utils/kit/styles/popover.scss
  utils/kit/styles/print.scss
  utils/kit/tsconfig.json
Labels: enhancement, starter
