Repository deckgo/deckdeckgo, pull requests merged in 2020-04, with the labels that each got.

#683 youtube: smoother display transition
  webcomponents/youtube/src/components/deckdeckgo-youtube.scss
  webcomponents/youtube/src/components/deckdeckgo-youtube.tsx
Labels: enhancement

#686 feat: text aligment in inline-editor
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.scss
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.tsx
  webcomponents/inline-editor/src/types/inline-editor/deckdeckgo-inline-editor-utils.tsx
  webcomponents/inline-editor/src/utils/enums.ts
Labels: enhancement, inline-editor

#688 feat(#507): deploy cloud and remote to firebase only on releases
  .github/workflows/cloud.yml
  .github/workflows/remote.yml
Labels: enhancement

#684 feat(#67): grant remote control access to presentations
  CHANGELOG.md
  README.md
  backend/CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  backend/src/socket-io-poll.js
  backend/src/socket-io-remote.js
  infra/nix/sources.json
  remote/CHANGELOG.md
  remote/package-lock.json
  remote/package.json
  remote/src/app/modals/app-remote-connect/app-remote-connect.tsx
  remote/src/app/pages/app-remote/app-remote.tsx
  remote/src/app/services/communication/communication.service.tsx
  remote/src/components.d.ts
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/actions/deck/app-actions-deck/app-actions-deck.tsx
  studio/src/app/handlers/editor/events/remote/remote-events.handler.tsx
  studio/src/app/popovers/editor/actions/app-more-deck-actions/app-more-deck-actions.tsx
  studio/src/app/popovers/editor/remote/app-remote-connect/app-remote-connect.scss
  studio/src/app/popovers/editor/remote/app-remote-connect/app-remote-connect.tsx
  studio/src/app/popovers/editor/remote/app-remote-request/app-remote-request.scss
  studio/src/app/popovers/editor/remote/app-remote-request/app-remote-request.tsx
  studio/src/app/services/editor/remote/remote.service.tsx
  studio/src/app/utils/editor/more-action.tsx
  studio/src/assets/assets.json
  studio/src/assets/icons/ionicons/checkmark.svg
  studio/src/components.d.ts
  utils/types/CHANGELOG.md
  utils/types/package-lock.json
  utils/types/package.json
  utils/types/src/index.ts
  utils/types/src/remote-connection.ts
  utils/types/src/remote-events.ts
  webcomponents/remote/CHANGELOG.md
  webcomponents/remote/package-lock.json
  webcomponents/remote/package.json
  webcomponents/remote/src/components.d.ts
  webcomponents/remote/src/components/deckdeckgo-remote/deckdeckgo-remote.tsx
  webcomponents/remote/src/services/communication/communication.service.tsx
Labels: api, enhancement, remote, starter, studio

#689 fix: inline editor jumps on multiple bold, italic etc. in a row
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.tsx
Labels: bug, inline-editor

#690 refactor: inline editor refactoring
  CHANGELOG.md
  docs/docs/components/app-components-color/app-components-color.md
  docs/src/app/pages/docs/components/app-components-color/app-components-color.tsx
  webcomponents/color/CHANGELOG.md
  webcomponents/color/package-lock.json
  webcomponents/color/package.json
  webcomponents/color/src/components/color/deckdeckgo-color.scss
  webcomponents/inline-editor/package-lock.json
  webcomponents/inline-editor/package.json
  webcomponents/inline-editor/src/components.d.ts
  webcomponents/inline-editor/src/components/actions/color-actions/color-actions.scss
  webcomponents/inline-editor/src/components/actions/color-actions/color-actions.tsx
  webcomponents/inline-editor/src/components/actions/color-actions/readme.md
  webcomponents/inline-editor/src/components/actions/image-actions/image-actions.scss
  webcomponents/inline-editor/src/components/actions/image-actions/image-actions.tsx
  webcomponents/inline-editor/src/components/actions/image-actions/readme.md
  webcomponents/inline-editor/src/components/actions/link-actions/link-actions.scss
  webcomponents/inline-editor/src/components/actions/link-actions/link-actions.tsx
  webcomponents/inline-editor/src/components/actions/link-actions/readme.md
  webcomponents/inline-editor/src/components/actions/style-actions/readme.md
  webcomponents/inline-editor/src/components/actions/style-actions/style-actions.scss
  webcomponents/inline-editor/src/components/actions/style-actions/style-actions.tsx
  webcomponents/inline-editor/src/components/components/action-button/action-button.scss
  webcomponents/inline-editor/src/components/components/action-button/action-button.tsx
  webcomponents/inline-editor/src/components/components/action-button/readme.md
  webcomponents/inline-editor/src/components/components/action-image/action-image.scss
  webcomponents/inline-editor/src/components/components/action-image/action-image.tsx
  webcomponents/inline-editor/src/components/components/action-image/readme.md
  webcomponents/inline-editor/src/components/components/separator/readme.md
  webcomponents/inline-editor/src/components/components/separator/separator.scss
  webcomponents/inline-editor/src/components/components/separator/separator.tsx
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.scss
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.tsx
  webcomponents/inline-editor/src/components/inline-editor/readme.md
  webcomponents/inline-editor/src/index.html
  webcomponents/inline-editor/src/index.ts
  webcomponents/inline-editor/src/interfaces/interfaces.ts
  webcomponents/inline-editor/src/types/enums.ts
  webcomponents/inline-editor/src/utils/utils.tsx
Labels: enhancement, inline-editor

#692 fix: cache service worker opaque 3rd parties assets answer
  studio/src/sw.js
Labels: bug, studio

#694 feat: add offline support to landing introduction
  studio/src/app/components/landing/app-landing-deck/app-landing-deck.tsx
Labels: enhancement, studio

#693 split vertical text alignment
  utils/deck/styles/deckdeckgo-deck.css
Labels: enhancement, starter, studio

#698 feat: inline editor rtl
  CHANGELOG.md
  utils/utils/CHANGELOG.md
  utils/utils/package-lock.json
  utils/utils/package.json
  utils/utils/src/utils/utils.ts
  webcomponents/inline-editor/package-lock.json
  webcomponents/inline-editor/package.json
  webcomponents/inline-editor/src/components/actions/align-actions/readme.md
  webcomponents/inline-editor/src/components/actions/list-actions/readme.md
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.scss
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.tsx
  webcomponents/inline-editor/src/utils/utils.tsx
Labels: enhancement, inline-editor

#699 fix: inline editor alignment should be applied on container in all cases
  webcomponents/inline-editor/src/components.d.ts
  webcomponents/inline-editor/src/components/actions/align-actions/align-actions.tsx
  webcomponents/inline-editor/src/components/actions/align-actions/readme.md
  webcomponents/inline-editor/src/components/actions/image-actions/image-actions.tsx
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.tsx
  webcomponents/inline-editor/src/types/enums.ts
  webcomponents/inline-editor/src/utils/utils.tsx
Labels: bug, inline-editor

#700 feat: inline editor option align
  docs/docs/components/app-components-inline-editor/app-components-inline-editor.md
  docs/src/app/pages/docs/components/app-components-charts/app-components-charts.tsx
  docs/src/app/pages/docs/components/app-components-color/app-components-color.tsx
  docs/src/app/pages/docs/components/app-components-drr/app-components-drr.tsx
  docs/src/app/pages/docs/components/app-components-gif/app-components-gif.tsx
  docs/src/app/pages/docs/components/app-components-highlight-code/app-components-highlight-code.tsx
  docs/src/app/pages/docs/components/app-components-inline-editor/app-components-inline-editor.tsx
  docs/src/app/pages/docs/components/app-components-lazy-img/app-components-lazy-img.tsx
  docs/src/app/pages/docs/components/app-components-qrcode/app-components-qrcode.tsx
  docs/src/app/pages/docs/components/app-components-social/app-components-social.tsx
  docs/src/app/pages/docs/components/app-components-youtube/app-components-youtube.tsx
  docs/src/app/pages/docs/deck/app-deck-actions/app-deck-actions.tsx
  docs/src/app/pages/docs/deck/app-deck-background/app-deck-background.tsx
  docs/src/app/pages/docs/deck/app-deck-events/app-deck-events.tsx
  docs/src/app/pages/docs/deck/app-deck-extra-features/app-deck-extra-features.tsx
  docs/src/app/pages/docs/deck/app-deck-navigation/app-deck-navigation.tsx
  docs/src/app/pages/docs/deck/app-deck-pager/app-deck-pager.tsx
  docs/src/app/pages/docs/deck/app-deck-size/app-deck-size.tsx
  docs/src/app/pages/docs/deck/app-deck-transition/app-deck-transition.tsx
  docs/src/app/pages/docs/edit/app-edit-default/app-edit-default.tsx
  docs/src/app/pages/docs/edit/app-edit-fonts/app-edit-fonts.tsx
  docs/src/app/pages/docs/edit/app-edit-lazy-loading/app-edit-lazy-loading.tsx
  docs/src/app/pages/docs/edit/app-edit-markdown/app-edit-markdown.tsx
  docs/src/app/pages/docs/edit/app-edit-rtl/app-edit-rtl.tsx
  docs/src/app/pages/docs/edit/app-edit-theming/app-edit-theming.tsx
  docs/src/app/pages/docs/introduction/app-installation/app-installation.tsx
  docs/src/app/pages/docs/introduction/app-introduction/app-introduction.tsx
  docs/src/app/pages/docs/introduction/app-publishing/app-publishing.tsx
  docs/src/app/pages/docs/introduction/app-remote-control/app-remote-control.tsx
  docs/src/app/pages/docs/introduction/app-running/app-running.tsx
  docs/src/app/pages/docs/misc/app-misc-backstory/app-misc-backstory.tsx
  docs/src/app/pages/docs/misc/app-misc-contact/app-misc-contact.tsx
  docs/src/app/pages/docs/misc/app-misc-logo/app-misc-logo.tsx
  docs/src/app/pages/docs/misc/app-misc-open-source/app-misc-open-source.tsx
  docs/src/app/pages/docs/slides/app-slide-aspect-ratio/app-slide-aspect-ratio.tsx
  docs/src/app/pages/docs/slides/app-slide-author/app-slide-author.tsx
  docs/src/app/pages/docs/slides/app-slide-big-img/app-slide-big-img.tsx
  docs/src/app/pages/docs/slides/app-slide-chart/app-slide-chart.tsx
  docs/src/app/pages/docs/slides/app-slide-code/app-slide-code.tsx
  docs/src/app/pages/docs/slides/app-slide-content/app-slide-content.tsx
  docs/src/app/pages/docs/slides/app-slide-countdown/app-slide-countdown.tsx
  docs/src/app/pages/docs/slides/app-slide-gif/app-slide-gif.tsx
  docs/src/app/pages/docs/slides/app-slide-poll/app-slide-poll.tsx
  docs/src/app/pages/docs/slides/app-slide-qrcode/app-slide-qrcode.tsx
  docs/src/app/pages/docs/slides/app-slide-split/app-slide-split.tsx
  docs/src/app/pages/docs/slides/app-slide-title/app-slide-title.tsx
  docs/src/app/pages/docs/slides/app-slide-video/app-slide-video.tsx
  docs/src/app/pages/docs/slides/app-slide-youtube/app-slide-youtube.tsx
  docs/src/app/pages/docs/slides/app-slides-concept/app-slides-concept.tsx
  webcomponents/inline-editor/src/components.d.ts
  webcomponents/inline-editor/src/components/components/separator/separator.scss
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.tsx
  webcomponents/inline-editor/src/components/inline-editor/readme.md
Labels: enhancement, inline-editor

#701 feat: add inline editor box-shadow variables
  docs/docs/components/app-components-inline-editor/app-components-inline-editor.md
  docs/src/app/pages/docs/components/app-components-inline-editor/app-components-inline-editor.tsx
  webcomponents/inline-editor/src/components/components/triangle/triangle.scss
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.scss
Labels: enhancement, inline-editor

#703 feat: list ordered and unordered toggle with new standard UX
  studio/src/app/components/editor/actions/element/app-actions-element/app-actions-element.tsx
  studio/src/app/popovers/editor/actions/app-more-element-actions/app-more-element-actions.tsx
  studio/src/app/popovers/editor/app-list/app-list.scss
  studio/src/app/popovers/editor/app-list/app-list.tsx
  studio/src/app/utils/editor/list.utils.tsx
  studio/src/app/utils/editor/more-action.tsx
  studio/src/components.d.ts
Labels: enhancement, studio

#708 studio: introduce maskable icons for the PWA
  studio/src/assets/favicon/android-chrome-192x192.png
  studio/src/assets/favicon/android-chrome-512x512.png
  studio/src/assets/favicon/apple-touch-icon.png
  studio/src/assets/favicon/favicon-16x16.png
  studio/src/assets/favicon/favicon-32x32.png
  studio/src/assets/favicon/favicon.ico
  studio/src/assets/favicon/mstile-144x144.png
  studio/src/assets/favicon/mstile-150x150.png
  studio/src/assets/favicon/mstile-310x150.png
  studio/src/assets/favicon/mstile-310x310.png
  studio/src/assets/favicon/mstile-70x70.png
  studio/src/assets/favicon/safari-pinned-tab.svg
  studio/src/manifest.json
Labels: enhancement, studio

#709 highlight-code(#707) make code white-space a css variable
  docs/docs/components/app-components-highlight-code/app-components-highlight-code.md
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.scss
Labels: enhancement, highlight-code

#712 fix: if highlight code prism script did not load, do not keep reference in DOM
  CHANGELOG.md
  webcomponents/highlight-code/CHANGELOG.md
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.tsx
Labels: bug, highlight-code
