Repository deckgo/deckdeckgo, pull requests merged in 2020-06, with the labels that each got.

#753 fix(#751): clean notes on Firefox
  studio/src/app/services/editor/publish/publish.service.tsx
Labels: bug, studio

#754 feat(#721): new playground template with codepen, jsfiddle and webcomponents.dev integration
  CHANGELOG.md
  README.md
  docs/CHANGELOG.md
  docs/docs/slides/app-slide-playground/app-slide-playground.md
  docs/docs/slides/app-slides-concept/app-slides-concept.md
  docs/package-lock.json
  docs/package.json
  docs/src/app/app-root.tsx
  docs/src/app/pages/docs/components/app-components-youtube/app-components-youtube.tsx
  docs/src/app/pages/docs/slides/app-slide-playground/app-slide-playground.scss
  docs/src/app/pages/docs/slides/app-slide-playground/app-slide-playground.tsx
  docs/src/app/pages/docs/slides/app-slides-concept/app-slides-concept.tsx
  docs/src/app/pages/docs/slides/app-slides-container.scss
  docs/src/app/utils/deckdeckgo-docs-utils.tsx
  docs/src/components.d.ts
  docs/src/global/app.ts
  remote/CHANGELOG.md
  remote/package-lock.json
  remote/package.json
  remote/src/global/app-local.ts
  remote/src/global/app.ts
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/actions/deck/app-actions-deck/app-actions-deck.tsx
  studio/src/app/components/editor/actions/element/app-actions-element/app-actions-element.tsx
  studio/src/app/components/editor/app-playground-placeholder/app-playground-placeholder.scss
  studio/src/app/components/editor/app-playground-placeholder/app-playground-placeholder.tsx
  studio/src/app/handlers/editor/events/deck/deck-events.handler.tsx
  studio/src/app/modals/editor/app-playground/app-playground.scss
  studio/src/app/modals/editor/app-playground/app-playground.tsx
  studio/src/app/models/data/slide.tsx
  studio/src/app/popovers/editor/app-create-slide/app-create-slide.tsx
  studio/src/app/utils/editor/create-slides.utils.tsx
  studio/src/app/utils/editor/parse-slides.utils.tsx
  studio/src/app/utils/editor/playground-action.tsx
  studio/src/components.d.ts
  studio/src/global/app-dev.ts
  studio/src/global/app.ts
  webcomponents/slides/playground/.editorconfig
  webcomponents/slides/playground/.prettierrc
  webcomponents/slides/playground/CHANGELOG.md
  webcomponents/slides/playground/LICENSE
  webcomponents/slides/playground/README.md
  webcomponents/slides/playground/package-lock.json
  webcomponents/slides/playground/package.json
  webcomponents/slides/playground/src/components.d.ts
  webcomponents/slides/playground/src/components/playground/deckdeckgo-playground.e2e.ts
  webcomponents/slides/playground/src/components/playground/deckdeckgo-playground.scss
  webcomponents/slides/playground/src/components/playground/deckdeckgo-playground.tsx
  webcomponents/slides/playground/src/components/slide/deckdeckgo-slide-playground.scss
  webcomponents/slides/playground/src/components/slide/deckdeckgo-slide-playground.tsx
  webcomponents/slides/playground/src/components/utils/deckdeckgo-playground.utils.tsx
  webcomponents/slides/playground/src/declarations/deckdeckgo-playground-theme.tsx
  webcomponents/slides/playground/src/index.html
  webcomponents/slides/playground/src/index.ts
  webcomponents/slides/playground/src/interface.d.ts
  webcomponents/slides/playground/stencil.config.ts
  webcomponents/slides/playground/tsconfig.json
Labels: enhancement, templates

#755 style: fit-content footer toolbar editor on fullscreen
  studio/src/global/theme/editor/editor-fullscreen-footer.scss
  studio/src/global/theme/editor/editor-fullscreen.scss
Labels: enhancement, studio

#756 Remote grid refactor
  remote/src/app/components/app-notes/app-notes.scss
  remote/src/app/pages/app-remote/app-remote.scss
  remote/src/app/pages/app-remote/app-remote.tsx
Labels: bug, remote

#761 style: improve deck li style
  CHANGELOG.md
  README.md
  docs/package-lock.json
  docs/package.json
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  utils/deck/CHANGELOG.md
  utils/deck/package-lock.json
  utils/deck/package.json
  utils/deck/styles/deck/deck.scss
  utils/deck/styles/deck/fonts.scss
Labels: core, enhancement

#763 style: highlight code line numbers background and color
  CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  webcomponents/highlight-code/CHANGELOG.md
  webcomponents/highlight-code/package-lock.json
  webcomponents/highlight-code/package.json
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.scss
  webcomponents/highlight-code/src/components/themes/verminal.ts
  webcomponents/highlight-code/src/index.html
Labels: enhancement, highlight-code

#764 landing page illustrations
  studio/src/app/components/landing/app-landing-deck/app-landing-deck.scss
  studio/src/app/components/landing/app-landing-deck/app-landing-deck.tsx
  studio/src/assets/img/landing/illustrations/presentation.svg
  studio/src/assets/img/landing/illustrations/progressive-app.svg
  studio/src/assets/img/landing/illustrations/travel.svg
Labels: enhancement, studio

#765 cloud: social card not always generated in social cards
  cloud/functions/.prettierrc
  cloud/functions/package-lock.json
  cloud/functions/package.json
  cloud/functions/src/watch/screenshot/generate-deck-screenshot.ts
Labels: bug, cloud

#768 fix(#767): cloud puppeteer
  CHANGELOG.md
  README.md
  cloud/CHANGELOG.md
  cloud/functions/package-lock.json
  cloud/functions/package.json
Labels: bug, cloud

#770 feat: landing split centered on small devices
  CHANGELOG.md
  docs/docs/slides/app-slide-split/app-slide-split.md
  docs/src/app/pages/docs/slides/app-slide-split/app-slide-split.tsx
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/landing/app-landing-deck/app-landing-deck.scss
  webcomponents/slides/split/CHANGELOG.md
  webcomponents/slides/split/package-lock.json
  webcomponents/slides/split/package.json
  webcomponents/slides/split/src/components/slide/deckdeckgo-slide-split.scss
Labels: enhancement, studio

#724 fix(#675): prerendering
  CHANGELOG.md
  README.md
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  docs/prerender.config.ts
  docs/src/app/app-root.scss
  docs/src/app/app-root.tsx
  docs/src/components.d.ts
  docs/stencil.config.ts
  infra/nix/sources.json
  remote/CHANGELOG.md
  remote/package-lock.json
  remote/package.json
  remote/src/app/app-root.scss
  remote/src/app/app-root.tsx
  remote/src/app/pages/app-remote/app-remote.tsx
  studio/CHANGELOG.md
  studio/package-lock.json
  studio/package.json
  studio/prerender.config.ts
  studio/scripts/config.index.js
  studio/src/app/app-root.scss
  studio/src/app/app-root.tsx
  studio/src/app/components/feed/card/app-feed-card/app-feed-card.scss
  studio/src/app/handlers/editor/events/deck/deck-events.handler.tsx
  studio/src/app/handlers/editor/events/remote/remote-events.handler.tsx
  studio/src/app/pages/core/app-home/app-home.tsx
  studio/src/app/services/dashboard/deck/deck-dashboard.service.tsx
  studio/src/app/services/data/deck/deck.online.service.tsx
  studio/src/app/services/data/deck/deck.service.tsx
  studio/src/app/services/data/feed/feed.service.tsx
  studio/src/app/services/data/slide/slide.online.service.tsx
  studio/src/app/services/data/user/user.service.tsx
  studio/src/app/services/editor/offline/offline.service.tsx
  studio/src/app/services/editor/publish/publish.service.tsx
  studio/src/app/services/editor/remote/remote.service.tsx
  studio/src/app/services/storage/storage.online.service.tsx
  studio/src/app/utils/editor/offline.utils.tsx
  studio/src/app/utils/editor/slot-type.tsx
  studio/src/components.d.ts
  studio/src/global/app-staging.ts
  studio/src/index.html
  studio/stencil.config.ts
Labels: docs, remote, studio

#771 chore: ionicons missing components has been fixed
  docs/package-lock.json
  docs/package.json
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
Labels: enhancement, studio

#772 studio: use Google Font "Open Sans" for the editor
  studio/src/app/components/core/app-footer/app-footer.scss
  studio/src/app/components/core/app-user-info/app-user-info.scss
  studio/src/app/components/editor/app-slot-type/app-slot-type.scss
  studio/src/app/components/editor/styles/deck/app-deck-fonts/app-deck-fonts.scss
  studio/src/app/components/editor/styles/deck/app-deck-fonts/app-deck-fonts.tsx
  studio/src/app/components/landing/app-landing-deck/app-landing-deck.scss
  studio/src/app/popovers/editor/app-create-slide/app-create-slide.scss
  studio/src/global/theme/editor/editor-deck.scss
  studio/src/global/theme/fonts.scss
  studio/src/global/theme/menu.scss
  studio/src/index.html
Labels: enhancement, studio
