Repository deckgo/deckdeckgo, pull requests merged in 2020-07, with the labels that each got.

#775 Fix grammar mistake on app-landing-deck.tsx
  studio/src/app/components/landing/app-landing-deck/app-landing-deck.tsx
Labels: bug, studio

#776 feat: at least four slides to appear in feed
  studio/src/app/services/editor/anonymous/anonymous.service.tsx
  studio/src/app/services/editor/publish/publish.service.tsx
  studio/src/app/utils/core/resources.tsx
Labels: enhancement, studio

#777 feat: remove random color and background when creating a new deck
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/app/utils/editor/random-palette.tsx
Labels: enhancement, studio

#778 style: wider deck style menu to match new font sizing
  studio/src/app/components/editor/actions/deck/app-actions-deck/app-actions-deck.tsx
Labels: enhancement, studio

#779 fix(#773): ensure listener are destroyed when components are unmounted
  studio/src/app/components/editor/actions/deck/app-actions-deck/app-actions-deck.tsx
  studio/src/app/components/feed/app-feed/app-feed.tsx
  studio/src/app/pages/core/app-dashboard/app-dashboard.tsx
  studio/src/app/pages/editor/app-editor/app-editor.tsx
Labels: bug, studio

#766 feat: pwa app shortcuts
  studio/src/assets/favicon/shortcut-dashboard-192x192.png
  studio/src/assets/favicon/shortcut-editor-192x192.png
  studio/src/manifest.json
Labels: enhancement, studio

#781 style: highlight code scrollbar (overflow-y) set to auto instead of scroll
  CHANGELOG.md
  README.md
  docs/CHANGELOG.md
  docs/docs/components/app-components-highlight-code/app-components-highlight-code.md
  docs/package-lock.json
  docs/package.json
  docs/src/app/pages/docs/components/app-components-highlight-code/app-components-highlight-code.tsx
  remote/CHANGELOG.md
  remote/package-lock.json
  remote/package.json
  studio/CHANGELOG.md
  studio/package-lock.json
  studio/package.json
  webcomponents/highlight-code/CHANGELOG.md
  webcomponents/highlight-code/package-lock.json
  webcomponents/highlight-code/package.json
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.scss
  webcomponents/highlight-code/src/index.html
Labels: enhancement, highlight-code

#783 feat: clear error after having been displayed
  studio/src/app/app-root.tsx
Labels: enhancement, studio

#784 fix: code editable attribute was sometimes missing
  studio/src/app/handlers/editor/events/deck/deck-events.handler.tsx
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/app/stores/busy.store.ts
Labels: bug, studio

#785 style: improve lightly the style of the edit popover
  studio/src/app/components/editor/styles/app-color-text-background/app-color-text-background.tsx
  studio/src/app/components/editor/styles/app-image/app-image.scss
  studio/src/app/components/editor/styles/app-image/app-image.tsx
  studio/src/app/components/editor/styles/deck/app-deck-fonts/app-deck-fonts.scss
  studio/src/app/components/editor/styles/deck/app-deck-transition/app-deck-transition.scss
  studio/src/app/popovers/editor/app-image-element/app-image-element.scss
  studio/src/global/theme/editor/editor-popover.scss
  studio/src/global/theme/popover.scss
Labels: enhancement, studio

#786 style: group card popover options
  studio/src/app/components/editor/app-select-target-element/app-select-target-element.scss
  studio/src/app/components/editor/app-slot-type/app-slot-type.tsx
  studio/src/app/components/editor/styles/app-expansion-panel/app-expansion-panel.scss
  studio/src/app/components/editor/styles/element/app-reveal/app-reveal.tsx
  studio/src/app/popovers/editor/app-code/app-code.tsx
  studio/src/app/popovers/editor/app-create-slide/app-create-slide.scss
  studio/src/app/popovers/editor/app-create-slide/app-create-slide.tsx
  studio/src/app/popovers/editor/app-math/app-math.tsx
  studio/src/app/popovers/editor/app-shape/app-shape.scss
  studio/src/app/popovers/editor/app-shape/app-shape.tsx
  studio/src/global/theme/editor/editor-mixin.scss
  studio/src/global/theme/editor/editor-popover.scss
  studio/src/global/theme/list.scss
  studio/src/global/theme/popover.scss
  studio/src/global/theme/toolbar.scss
Labels: enhancement, studio

#787 fix: use user store to create author slide
  studio/src/app/popovers/editor/app-create-slide/app-create-slide.tsx
Labels: bug, studio

#788 fix: improve dashboard navigation and style
  studio/src/app/pages/core/app-dashboard/app-dashboard.scss
  studio/src/app/pages/core/app-dashboard/app-dashboard.tsx
Labels: bug, studio

#789 feat: shorten default full url displayed social text
  CHANGELOG.md
  webcomponents/social/CHANGELOG.md
  webcomponents/social/package-lock.json
  webcomponents/social/package.json
  webcomponents/social/src/components/deckdeckgo-social.tsx
  webcomponents/social/src/index.html
Labels: breaking

#790 style: edit slide options with border and box-shadow grouped
  studio/src/app/popovers/editor/slide/app-edit-slide/app-edit-slide.scss
  studio/src/app/popovers/editor/slide/app-edit-slide/app-edit-slide.tsx
Labels: enhancement, studio

#792 feat: header and footer custom logo
  studio/src/app/models/data/user.tsx
  studio/src/app/pages/core/app-settings/app-settings.scss
  studio/src/app/pages/core/app-settings/app-settings.tsx
  studio/src/app/utils/editor/header-footer.utils.tsx
  studio/src/app/utils/editor/social.utils.tsx
Labels: enhancement, studio

#793 fix: no pointer-events for header and footer
  studio/src/app/pages/editor/app-editor/app-editor.scss
  studio/src/global/theme/editor/editor-deck-header-footer.scss
Labels: bug, studio

#796 feat: self host Google Fonts to improve load time
  studio/src/assets/fonts/open-sans-v17-latin-300.eot
  studio/src/assets/fonts/open-sans-v17-latin-300.svg
  studio/src/assets/fonts/open-sans-v17-latin-300.ttf
  studio/src/assets/fonts/open-sans-v17-latin-300.woff
  studio/src/assets/fonts/open-sans-v17-latin-300.woff2
  studio/src/assets/fonts/open-sans-v17-latin-300italic.eot
  studio/src/assets/fonts/open-sans-v17-latin-300italic.svg
  studio/src/assets/fonts/open-sans-v17-latin-300italic.ttf
  studio/src/assets/fonts/open-sans-v17-latin-300italic.woff
  studio/src/assets/fonts/open-sans-v17-latin-300italic.woff2
  studio/src/assets/fonts/open-sans-v17-latin-700.eot
  studio/src/assets/fonts/open-sans-v17-latin-700.svg
  studio/src/assets/fonts/open-sans-v17-latin-700.ttf
  studio/src/assets/fonts/open-sans-v17-latin-700.woff
  studio/src/assets/fonts/open-sans-v17-latin-700.woff2
  studio/src/assets/fonts/open-sans-v17-latin-regular.eot
  studio/src/assets/fonts/open-sans-v17-latin-regular.svg
  studio/src/assets/fonts/open-sans-v17-latin-regular.ttf
  studio/src/assets/fonts/open-sans-v17-latin-regular.woff
  studio/src/assets/fonts/open-sans-v17-latin-regular.woff2
  studio/src/global/theme/fonts.scss
  studio/src/index.html
Labels: enhancement, studio

#797 fix: re-hydrate editor with prerendering
  studio/prerender.config.ts
  studio/src/app/handlers/editor/events/remote/remote-events.handler.tsx
  studio/src/app/pages/editor/app-editor/app-editor.tsx
Labels: bug, studio

#799 studio: floating editable text
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/docs/components/app-components-drr/app-components-drr.md
  docs/package-lock.json
  docs/package.json
  docs/src/app/pages/docs/components/app-components-drr/app-components-drr.tsx
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/actions/element/app-actions-element/app-actions-element.tsx
  studio/src/app/components/editor/app-select-target-element/app-select-target-element.tsx
  studio/src/app/components/editor/styles/app-color-text-background/app-color-text-background.tsx
  studio/src/app/handlers/editor/events/deck/deck-events.handler.tsx
  studio/src/app/helpers/editor/shape.helper.tsx
  studio/src/app/popovers/editor/actions/app-more-element-actions/app-more-element-actions.tsx
  studio/src/app/popovers/editor/app-create-slide/app-create-slide.scss
  studio/src/app/popovers/editor/app-create-slide/app-create-slide.tsx
  studio/src/app/popovers/editor/app-shape/app-shape.tsx
  studio/src/app/popovers/editor/style/app-element-style/app-element-style.tsx
  studio/src/app/utils/editor/align.utils.tsx
  studio/src/app/utils/editor/more-action.tsx
  studio/src/app/utils/editor/slot.utils.tsx
  studio/src/app/utils/editor/target-element.tsx
  studio/src/assets/assets.json
  studio/src/assets/icons/text.svg
  studio/src/components.d.ts
  studio/src/global/theme/editor/editor-deck-placeholder.scss
  studio/src/global/theme/editor/editor-deck.scss
  webcomponents/drag-resize-rotate/CHANGELOG.md
  webcomponents/drag-resize-rotate/package-lock.json
  webcomponents/drag-resize-rotate/package.json
  webcomponents/drag-resize-rotate/src/components.d.ts
  webcomponents/drag-resize-rotate/src/components/deckdeckgo-drr.scss
  webcomponents/drag-resize-rotate/src/components/deckdeckgo-drr.tsx
  webcomponents/drag-resize-rotate/src/components/readme.md
  webcomponents/drag-resize-rotate/src/index.html
  webcomponents/drag-resize-rotate/stencil.config.ts
Labels: enhancement, studio

#805 feat: background text color
  CHANGELOG.md
  docs/docs/components/app-components-inline-editor/app-components-inline-editor.md
  docs/package-lock.json
  docs/package.json
  docs/src/app/pages/docs/components/app-components-inline-editor/app-components-inline-editor.tsx
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  utils/deck/CHANGELOG.md
  utils/deck/package-lock.json
  utils/deck/package.json
  utils/deck/styles/deck/fonts.scss
  webcomponents/inline-editor/CHANGELOG.md
  webcomponents/inline-editor/package-lock.json
  webcomponents/inline-editor/package.json
  webcomponents/inline-editor/src/components.d.ts
  webcomponents/inline-editor/src/components/actions/color-actions/color-actions.tsx
  webcomponents/inline-editor/src/components/components/action-image/action-image.scss
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.tsx
  webcomponents/inline-editor/src/types/enums.ts
Labels: enhancement, inline-editor

#791 infra: Read and inject header and footer
  infra/handler/app/Test.hs
  infra/handler/src/DeckGo/Handler.hs
Labels: enhancement, studio

#794 feat: publish header and footer
  studio/src/app/models/api/api.deck.tsx
  studio/src/app/services/editor/publish/publish.service.tsx
Labels: enhancement, studio

#806 fix: fetch deck after update to have a clean entity (without firebase delete things)
  studio/src/app/services/data/deck/deck.online.service.tsx
Labels: bug, studio

#807 feat: recursively clean Firestore FieldValue.delete
  studio/src/app/services/data/deck/deck.offline.service.tsx
  studio/src/app/services/data/deck/deck.online.service.tsx
  studio/src/app/services/data/slide/slide.offline.service.tsx
  studio/src/app/services/editor/offline/offline.service.tsx
  studio/src/app/utils/editor/firestore.utils.tsx
  studio/src/app/utils/editor/offline.utils.tsx
Labels: enhancement, studio

#808 fix: missing clean footer and header and correct regexp
  studio/src/app/handlers/editor/events/deck/deck-events.handler.tsx
Labels: bug, studio

#809 fix: componentdidload might be triggered twice with prerendering
  studio/src/app/pages/core/app-settings/app-settings.tsx
Labels: bug, studio

#813 fix(a11y): correct implementation aria labels, improve copy
  docs/docs/slides/app-slide-author/app-slide-author.md
  docs/docs/slides/app-slides-concept/app-slides-concept.md
  docs/src/app/pages/docs/slides/app-slide-author/app-slide-author.tsx
  docs/src/app/pages/docs/slides/app-slides-concept/app-slides-concept.tsx
  remote/src/app/pages/app-remote/app-remote.tsx
  remote/src/app/pages/app-timer/app-timer.tsx
  studio/src/app/pages/core/about/app-opensource/app-opensource.tsx
  studio/src/app/pages/core/about/app-team/app-team.tsx
Labels: bug, studio

#816 refactor: add rel to links
  studio/src/app/components/core/app-footer/app-footer.tsx
  studio/src/app/components/editor/publish/app-publish-done/app-publish-done.tsx
  studio/src/app/components/feed/app-feed/app-feed.tsx
  studio/src/app/components/feed/app-popular/app-popular.tsx
  studio/src/app/modals/editor/app-playground/app-playground.tsx
  studio/src/app/pages/core/about/app-contact/app-contact.tsx
  studio/src/app/pages/core/about/app-faq/app-faq.tsx
  studio/src/app/pages/core/about/app-opensource/app-opensource.tsx
  studio/src/app/pages/core/about/app-services/app-services.tsx
  studio/src/app/pages/core/about/app-team/app-team.tsx
  studio/src/app/popovers/editor/app-get-help/app-get-help.tsx
Labels: enhancement, studio

#817 docs: add changelog to readme
  README.md
Labels: docs

#818 fix: social icons uri
  studio/src/app/pages/core/about/app-team/app-team.tsx
Labels: bug, studio

#811 feat(style) allow container to be access via part
  docs/docs/components/app-components-color/app-components-color.md
  webcomponents/color/src/components/color/deckdeckgo-color.tsx
Labels: enhancement

#823 fix: adjust copy enterprise
  studio/src/app/components/enterprise/app-features/app-features.tsx
  studio/src/app/components/landing/app-landing-deck/app-landing-deck.tsx
Labels: studio
