Repository deckgo/deckdeckgo, pull requests merged in 2020-11, with the labels that each got.

#993 take advantages of apps' components for the starter UI
  CHANGELOG.md
  README.md
  studio/src/assets/icons/ionicons/chevron-back.svg
  studio/src/assets/icons/ionicons/chevron-forward.svg
  studio/src/assets/icons/ionicons/contract.svg
  utils/kit/CHANGELOG.md
  utils/kit/package-lock.json
  utils/kit/package.json
  utils/kit/src/actions/actions.ts
  utils/kit/src/actions/buttons.ts
  utils/kit/src/actions/play-pause.ts
  utils/kit/src/fullscreen/fullscreen.ts
  utils/kit/src/loading/loading.ts
  utils/kit/src/menu/chapters.ts
  utils/kit/src/menu/menu.ts
  utils/kit/src/modals/notes.ts
  utils/kit/src/remote/controller.ts
  utils/kit/src/utils/util.color.ts
  utils/kit/styles/button.scss
  utils/kit/styles/content.scss
  utils/kit/styles/fullscreen.scss
  utils/kit/styles/header.scss
  utils/kit/styles/index.scss
  utils/kit/styles/menu.scss
Labels: enhancement, starter

#994 New component: Markdown Parser
  webcomponents/markdown-parser/.editorconfig
  webcomponents/markdown-parser/.gitignore
  webcomponents/markdown-parser/.prettierrc
  webcomponents/markdown-parser/LICENSE
  webcomponents/markdown-parser/package-lock.json
  webcomponents/markdown-parser/package.json
  webcomponents/markdown-parser/readme.md
  webcomponents/markdown-parser/src/components.d.ts
  webcomponents/markdown-parser/src/components/md-parser/deckdeckgo-md-parser.scss
  webcomponents/markdown-parser/src/components/md-parser/deckdeckgo-md-parser.tsx
  webcomponents/markdown-parser/src/index.html
  webcomponents/markdown-parser/src/index.ts
  webcomponents/markdown-parser/stencil.config.ts
  webcomponents/markdown-parser/tsconfig.json
Labels: enhancement, hacktoberfest-accepted, studio

#998 fix(a11y): show border when colors are focused by keyboard
  studio/src/app/components/editor/styles/app-color/app-color.scss
Labels: bug, studio

#999 fix(a11y): improve font color focus state
  studio/src/app/components/editor/styles/app-color/app-color.scss
Labels: bug, studio

#1001 fix: draw remote canvas position
  remote/CHANGELOG.md
  remote/src/app/pages/app-remote/app-remote.scss
Labels: bug, remote

#992 play button position fixed
  remote/src/app/pages/app-remote/app-remote.scss
Labels: bug, remote

#1004 feat: allow any https: images in the CSP rules
  studio/src/index.html
Labels: enhancement, studio

#1010 feat: optionally skip second element in create slide title or content
  studio/src/app/components/editor/app-close-menu/app-close-menu.scss
  studio/src/app/components/editor/app-close-menu/app-close-menu.tsx
  studio/src/app/components/editor/app-slot-type/app-slot-type.scss
  studio/src/app/components/editor/app-slot-type/app-slot-type.tsx
  studio/src/app/popovers/editor/app-code/app-code.tsx
  studio/src/app/popovers/editor/app-create-slide/app-create-slide.scss
  studio/src/app/popovers/editor/app-create-slide/app-create-slide.tsx
  studio/src/app/popovers/editor/app-image-element/app-image-element.tsx
  studio/src/app/popovers/editor/app-math/app-math.tsx
  studio/src/app/popovers/editor/app-shape/app-shape.tsx
  studio/src/app/popovers/editor/app-transform/app-transform.scss
  studio/src/app/popovers/editor/app-transform/app-transform.tsx
  studio/src/app/popovers/editor/slide/app-edit-slide/app-edit-slide.tsx
  studio/src/app/popovers/editor/style/app-deck-style/app-deck-style.tsx
  studio/src/app/popovers/editor/style/app-element-style/app-element-style.tsx
  studio/src/app/utils/editor/create-slides.utils.tsx
  studio/src/components.d.ts
  studio/src/global/theme/editor/editor-popover.scss
  studio/src/global/theme/popover.scss
Labels: enhancement, studio

#1011 feat: markdown style inheritance and newlines
  CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/app-slide-warning/app-slide-warning.tsx
  utils/deck/CHANGELOG.md
  utils/deck/package-lock.json
  utils/deck/package.json
  utils/deck/styles/deck/fonts.scss
  webcomponents/markdown/CHANGELOG.md
  webcomponents/markdown/package-lock.json
  webcomponents/markdown/package.json
  webcomponents/markdown/src/components.d.ts
  webcomponents/markdown/src/components/markdown/deckdeckgo-markdown.scss
  webcomponents/markdown/src/components/markdown/deckdeckgo-markdown.tsx
Labels: enhancement, studio

#1016 feat: backup firestore once a day
  .github/workflows/backup.yml
Labels: enhancement

#1017 enhancement(markdown): updating markdown worker to identify width and height
  webcomponents/markdown/src/components/workers/utils/markdown-img.utils.ts
  webcomponents/markdown/src/index.html
Labels: enhancement

#1013 feat: preview slide when editing markdown, code etc.
  CHANGELOG.md
  README.md
  docs/docs/components/app-components-highlight-code/app-components-highlight-code.md
  docs/package-lock.json
  docs/package.json
  docs/src/app/pages/docs/components/app-components-highlight-code/app-components-highlight-code.tsx
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/actions/element/app-actions-element/app-actions-element.tsx
  studio/src/app/components/editor/publish/app-publish-edit/app-publish-edit.tsx
  studio/src/app/components/editor/slide/app-slide-preview/app-slide-preview.scss
  studio/src/app/components/editor/slide/app-slide-preview/app-slide-preview.tsx
  studio/src/app/components/editor/slide/app-slide-warning/app-slide-warning.scss
  studio/src/app/components/editor/slide/app-slide-warning/app-slide-warning.tsx
  studio/src/app/handlers/editor/events/deck/deck-events.handler.tsx
  studio/src/app/handlers/editor/events/editor/editor-events.handler.tsx
  studio/src/app/pages/core/app-dashboard/app-dashboard.tsx
  studio/src/app/pages/editor/app-editor/app-editor.scss
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/app/popovers/editor/app-slide-warning-info/app-slide-warning-info.tsx
  studio/src/app/popovers/editor/style/app-deck-style/app-deck-style.tsx
  studio/src/app/utils/editor/parse-elements.utils.tsx
  studio/src/app/utils/editor/slot.utils.tsx
  studio/src/components.d.ts
  utils/utils/CHANGELOG.md
  utils/utils/package-lock.json
  utils/utils/package.json
  utils/utils/src/utils/utils.ts
  webcomponents/highlight-code/CHANGELOG.md
  webcomponents/highlight-code/package-lock.json
  webcomponents/highlight-code/package.json
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.scss
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.tsx
  webcomponents/highlight-code/src/declarations/deckdeckgo-highlight-code-languages.tsx
  webcomponents/markdown/CHANGELOG.md
  webcomponents/markdown/package-lock.json
  webcomponents/markdown/package.json
  webcomponents/markdown/src/components/markdown/deckdeckgo-markdown.scss
Labels: enhancement, studio

#1019 fix: clean offline slides
  studio/src/app/utils/editor/firestore.utils.tsx
  studio/src/app/utils/editor/offline.utils.tsx
Labels: bug, studio

#1020 feat: bring fullscreen and remote together under a new "present" panel
  studio/src/app/components/editor/actions/deck/app-actions-deck/app-actions-deck.tsx
  studio/src/app/handlers/editor/events/remote/remote-events.handler.tsx
  studio/src/app/modals/editor/app-remote-connect/app-remote-connect.scss
  studio/src/app/modals/editor/app-remote-connect/app-remote-connect.tsx
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/app/popovers/editor/actions/app-more-deck-actions/app-more-deck-actions.tsx
  studio/src/app/popovers/editor/app-present/app-present.scss
  studio/src/app/popovers/editor/app-present/app-present.tsx
  studio/src/app/popovers/editor/app-remote-request/app-remote-request.scss
  studio/src/app/popovers/editor/app-remote-request/app-remote-request.tsx
  studio/src/app/popovers/editor/remote/app-remote-connect/app-remote-connect.scss
  studio/src/app/utils/editor/more-action.tsx
  studio/src/assets/icons/ionicons/play.svg
  studio/src/components.d.ts
Labels: enhancement, studio

#1021 feat: backup offline data
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/actions/deck/app-actions-deck/app-actions-deck.tsx
  studio/src/app/services/editor/backup/backup.offline.service.tsx
  studio/src/assets/assets.json
  studio/src/assets/icons/ionicons/download.svg
Labels: enhancement, studio

#1022 fix: offline clean firestore delete
  studio/CHANGELOG.md
  studio/src/app/services/data/deck/deck.offline.service.tsx
  studio/src/app/services/editor/offline/offline.service.tsx
  studio/src/app/utils/editor/firestore.utils.tsx
Labels: bug, studio

#1023 feat: add backup to more deck actions
  studio/src/app/components/editor/actions/deck/app-actions-deck/app-actions-deck.tsx
  studio/src/app/popovers/editor/actions/app-more-deck-actions/app-more-deck-actions.tsx
  studio/src/app/utils/editor/more-action.tsx
Labels: enhancement, studio

#1025 style: add ddg name in nav if offline
  studio/src/app/components/core/app-navigation/app-navigation.scss
Labels: bug, studio

#1026 feat: hide spellcheck in fullscreen presenting mode
  studio/src/app/handlers/editor/events/deck/deck-events.handler.tsx
Labels: enhancement, studio
