Repository deckgo/deckdeckgo, pull requests merged in 2020-09, with the labels that each got.

#862 feat: apps dependencies
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  remote/CHANGELOG.md
  remote/package-lock.json
  remote/package.json
  remote/src/app/app-root.tsx
  remote/src/app/components/app-bottom-sheet/app-bottom-sheet.tsx
  remote/src/app/components/app-notes/app-notes.tsx
  remote/src/app/pages/app-remote/app-remote.tsx
  remote/src/app/pages/app-timer/app-timer.tsx
  studio/CHANGELOG.md
  studio/package-lock.json
  studio/package.json
  studio/src/app/app-root.tsx
  studio/src/app/components/editor/actions/deck/app-actions-deck/app-actions-deck.tsx
  studio/src/app/components/editor/actions/element/app-actions-element/app-actions-element.tsx
  studio/src/app/components/editor/app-inactivity/app-inactivity.tsx
  studio/src/app/components/editor/styles/deck/app-deck-transition/app-deck-transition.tsx
  studio/src/app/components/feed/app-feed/app-feed.tsx
  studio/src/app/components/feed/card/app-feed-card/app-feed-card.tsx
  studio/src/app/components/landing/app-landing-content/app-landing-content.tsx
  studio/src/app/pages/core/app-dashboard/app-dashboard.tsx
  studio/src/app/pages/core/app-poll/app-poll.tsx
  studio/src/app/pages/core/app-settings/app-settings.tsx
  studio/src/app/pages/core/app-signin/app-signin.tsx
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/app/popovers/editor/app-create-slide/app-create-slide.tsx
  studio/src/app/popovers/editor/remote/app-remote-connect/app-remote-connect.tsx
Labels: docs, enhancement, remote, studio

#866 fix: sequential publish
  cloud/functions/src/model/data/task.ts
  cloud/functions/src/request/publish/schedule-publish-task.ts
  cloud/functions/src/watch/publish/publish.ts
Labels: bug, cloud

#868 feat: prompt user to reload when an update is available
  studio/src/app/app-root.tsx
  studio/src/app/pages/core/app-signin/app-signin.tsx
Labels: enhancement, studio

#872 fix: screenshot not generated anymore
  cloud/functions/src/index.ts
  cloud/functions/src/watch/info/info-publish.ts
  cloud/functions/src/watch/publish/publish.ts
  cloud/functions/src/watch/publish/screenshot/generate-deck-screenshot.ts
  cloud/functions/src/watch/screenshot/utils/update-deck.ts
  cloud/functions/src/watch/watch-deck.ts
  cloud/functions/src/watch/watch-task.ts
Labels: bug, cloud

#873 Added the ability to toggle the Carbon toolbar and adjust the margin
  docs/docs/components/app-components-highlight-code/app-components-highlight-code.md
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.scss
  webcomponents/highlight-code/src/index.html
Labels: enhancement, highlight-code

#876 feat: send an info only on first publish
  cloud/functions/src/watch/info/info-publish.ts
Labels: cloud, enhancement

#877 feat: lighthouse metrics and transition fade
  studio/src/app/components/landing/app-landing-deck/app-landing-deck.tsx
Labels: enhancement, studio

#878 fix: anonymous user can add up to three slides to give a try to the editor
  studio/src/app/services/editor/anonymous/anonymous.service.tsx
  studio/src/app/utils/core/resources.tsx
Labels: bug, studio

#884 fix: improve performance by better detecting all slides effectively loaded
  CHANGELOG.md
  webcomponents/core/CHANGELOG.md
  webcomponents/core/package-lock.json
  webcomponents/core/package.json
  webcomponents/core/src/components/deck/deckdeckgo-deck/deckdeckgo-deck.tsx
Labels: bug, core

#885 feat: replace custom lazy loading implementation, with the IntersectionObserver API
  webcomponents/core/CHANGELOG.md
  webcomponents/core/src/components/deck/deckdeckgo-deck/deckdeckgo-deck.tsx
  webcomponents/core/src/index.html
Labels: breaking, core, enhancement

#886 feat: slide code behavior on mobile
  CHANGELOG.md
  README.md
  docs/CHANGELOG.md
  docs/docs/slides/app-slide-code/app-slide-code.md
  docs/package-lock.json
  docs/package.json
  docs/src/app/pages/docs/deck/app-deck-animation/app-deck-animation.tsx
  docs/src/app/pages/docs/slides/app-slide-code/app-slide-code.tsx
  remote/CHANGELOG.md
  remote/package-lock.json
  remote/package.json
  webcomponents/slides/code/CHANGELOG.md
  webcomponents/slides/code/package-lock.json
  webcomponents/slides/code/package.json
  webcomponents/slides/code/src/components/slide/deckdeckgo-slide-code.scss
  webcomponents/slides/code/src/components/slide/deckdeckgo-slide-code.tsx
Labels: breaking, enhancement, templates

#887 fix: direction-mobile not used to initialize the size of the deck
  CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  remote/package-lock.json
  remote/package.json
  studio/package.json
  webcomponents/core/CHANGELOG.md
  webcomponents/core/package-lock.json
  webcomponents/core/package.json
  webcomponents/core/src/components/deck/deckdeckgo-deck/deckdeckgo-deck.tsx
Labels: bug, core
