Repository deckgo/deckdeckgo, pull requests merged in 2020-05, with the labels that each got.

#713 feat: inline editor font size and deck font review
  .gitignore
  CHANGELOG.md
  docs/docs/components/app-components-inline-editor/app-components-inline-editor.md
  docs/package-lock.json
  docs/package.json
  docs/src/app/pages/docs/components/app-components-highlight-code/app-components-highlight-code.tsx
  docs/src/app/pages/docs/components/app-components-inline-editor/app-components-inline-editor.tsx
  remote/package-lock.json
  remote/package.json
  remote/src/global/app.scss
  studio/package-lock.json
  studio/package.json
  studio/src/app/pages/editor/app-editor/app-editor.scss
  studio/src/app/popovers/editor/app-slot-type/app-slot-type.scss
  studio/src/global/theme/editor/editor-loading.scss
  utils/deck/CHANGELOG.md
  utils/deck/package-lock.json
  utils/deck/package.json
  utils/deck/styles/deck/deck.scss
  utils/deck/styles/deck/fonts.scss
  utils/deck/styles/deck/index.scss
  utils/deck/styles/deck/rtl.scss
  utils/deck/styles/deckdeckgo-deck-fonts.css
  utils/deck/styles/fullscreen/index.scss
  webcomponents/inline-editor/CHANGELOG.md
  webcomponents/inline-editor/package-lock.json
  webcomponents/inline-editor/package.json
  webcomponents/inline-editor/src/components.d.ts
  webcomponents/inline-editor/src/components/actions/font-size-actions/font-size-actions.scss
  webcomponents/inline-editor/src/components/actions/font-size-actions/font-size-actions.tsx
  webcomponents/inline-editor/src/components/actions/font-size-actions/readme.md
  webcomponents/inline-editor/src/components/actions/link-actions/readme.md
  webcomponents/inline-editor/src/components/actions/list-actions/list-actions.tsx
  webcomponents/inline-editor/src/components/actions/style-actions/style-actions.scss
  webcomponents/inline-editor/src/components/components/action-button/readme.md
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.tsx
  webcomponents/inline-editor/src/components/inline-editor/readme.md
  webcomponents/inline-editor/src/index.html
  webcomponents/inline-editor/src/types/enums.ts
  webcomponents/inline-editor/src/utils/utils.tsx
Labels: enhancement, inline-editor, studio

#716 fix: alignment fonts in split template
  CHANGELOG.md
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  utils/deck/CHANGELOG.md
  utils/deck/package-lock.json
  utils/deck/package.json
  utils/deck/styles/deck/deck.scss
  utils/deck/styles/deck/fonts.scss
Labels: bug

#717 fix: load images and charts in dashboard
  studio/src/app/handlers/core/events/chart/chart-events.handler.tsx
  studio/src/app/handlers/core/events/image/image-events.handler.tsx
  studio/src/app/pages/core/app-dashboard/app-dashboard.tsx
  studio/src/app/pages/editor/app-editor/app-editor.tsx
Labels: bug, studio

#722 feat(#675): prerendering frame setAttributeNode
  CHANGELOG.md
  webcomponents/demo/CHANGELOG.md
  webcomponents/demo/package-lock.json
  webcomponents/demo/package.json
  webcomponents/demo/src/components/deckdeckgo-demo.tsx
  webcomponents/youtube/CHANGELOG.md
  webcomponents/youtube/package-lock.json
  webcomponents/youtube/package.json
  webcomponents/youtube/src/components/deckdeckgo-youtube.tsx
Labels: enhancement

#723 feat(#675): prerender component
  CHANGELOG.md
  webcomponents/drag-resize-rotate/CHANGELOG.md
  webcomponents/drag-resize-rotate/package-lock.json
  webcomponents/drag-resize-rotate/package.json
  webcomponents/drag-resize-rotate/src/components/deckdeckgo-drr.tsx
  webcomponents/slides/split/CHANGELOG.md
  webcomponents/slides/split/package-lock.json
  webcomponents/slides/split/package.json
  webcomponents/slides/split/src/components/slide/deckdeckgo-slide-split.tsx
Labels: enhancement

#718 Math integration using katex
  studio/package.json
  studio/src/app/components/editor/actions/element/app-actions-element/app-actions-element.tsx
  studio/src/app/handlers/editor/events/deck/deck-events.handler.tsx
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/app/popovers/editor/app-math/app-math.scss
  studio/src/app/popovers/editor/app-math/app-math.tsx
  studio/src/app/popovers/editor/app-slot-type/app-slot-type.tsx
  studio/src/app/utils/editor/parse-elements.utils.tsx
  studio/src/app/utils/editor/slot-type.tsx
  studio/src/app/utils/editor/toggle-slot.utils.tsx
  studio/src/components.d.ts
  studio/src/global/app-dev.ts
  studio/src/global/app-staging.ts
  studio/src/global/app.ts
  studio/src/global/theme/editor/editor-deck.scss
  utils/deck/styles/deck/deck.scss
  webcomponents/math/.editorconfig
  webcomponents/math/.prettierrc
  webcomponents/math/CHANGELOG.md
  webcomponents/math/LICENSE
  webcomponents/math/README.md
  webcomponents/math/package-lock.json
  webcomponents/math/package.json
  webcomponents/math/src/components.d.ts
  webcomponents/math/src/components/declarations/deckdeckgo-math-options.tsx
  webcomponents/math/src/components/math/deckdeckgo-math.scss
  webcomponents/math/src/components/math/deckdeckgo-math.tsx
  webcomponents/math/src/components/math/readme.md
  webcomponents/math/src/index.html
  webcomponents/math/src/index.ts
  webcomponents/math/stencil.config.ts
  webcomponents/math/tsconfig.json
Labels: enhancement

#727 fix: preserve card and image ratio on feed
  studio/src/app/components/feed/card/app-feed-card/app-feed-card.scss
  studio/src/app/components/feed/card/app-feed-card/app-feed-card.tsx
Labels: bug, studio

#725 feat(#622): integrate math with Katex
  CHANGELOG.md
  README.md
  docs/CHANGELOG.md
  docs/docs/components/app-components-demo/app-components-demo.md
  docs/docs/components/app-components-math/app-components-math.md
  docs/package-lock.json
  docs/package.json
  docs/src/app/app-root.tsx
  docs/src/app/pages/docs/components/app-components-demo/app-components-demo.tsx
  docs/src/app/pages/docs/components/app-components-math/app-components-math.tsx
  docs/src/components.d.ts
  docs/src/global/app.ts
  remote/package-lock.json
  remote/package.json
  remote/src/global/app-local.ts
  remote/src/global/app.ts
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/actions/element/app-actions-element/app-actions-element.tsx
  studio/src/app/components/feed/card/app-feed-card/app-feed-card.tsx
  studio/src/app/handlers/editor/events/deck/deck-events.handler.tsx
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/app/popovers/editor/app-math/app-math.scss
  studio/src/app/popovers/editor/app-math/app-math.tsx
  studio/src/app/popovers/editor/app-slot-type/app-slot-type.tsx
  studio/src/app/utils/editor/align.utils.tsx
  studio/src/app/utils/editor/parse-elements.utils.tsx
  studio/src/app/utils/editor/slot-type.tsx
  studio/src/app/utils/editor/toggle-slot.utils.tsx
  studio/src/assets/assets.json
  studio/src/assets/icons/math.svg
  studio/src/components.d.ts
  studio/src/global/app-dev.ts
  studio/src/global/app-staging.ts
  studio/src/global/app.ts
  studio/src/global/theme/editor/editor-deck.scss
  studio/src/global/theme/editor/editor-fullscreen.scss
  utils/deck/CHANGELOG.md
  utils/deck/package-lock.json
  utils/deck/package.json
  utils/deck/styles/deck/deck.scss
  webcomponents/math/.editorconfig
  webcomponents/math/.prettierrc
  webcomponents/math/CHANGELOG.md
  webcomponents/math/LICENSE
  webcomponents/math/README.md
  webcomponents/math/package-lock.json
  webcomponents/math/package.json
  webcomponents/math/src/components.d.ts
  webcomponents/math/src/components/math/deckdeckgo-math.scss
  webcomponents/math/src/components/math/deckdeckgo-math.tsx
  webcomponents/math/src/index.html
  webcomponents/math/src/index.ts
  webcomponents/math/stencil.config.ts
  webcomponents/math/tsconfig.json
Labels: enhancement

#731 feat: replace "toggle" with "transform"
  studio/src/app/components/editor/actions/element/app-actions-element/app-actions-element.tsx
  studio/src/app/popovers/editor/app-slot-type/app-slot-type.scss
  studio/src/app/popovers/editor/app-slot-type/app-slot-type.tsx
  studio/src/assets/assets.json
  studio/src/assets/icons/ionicons/color-wand.svg
Labels: enhancement, studio

#732 color: add color white and display a label for the selected color
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/docs/components/app-components-color/app-components-color.md
  docs/package-lock.json
  docs/package.json
  docs/src/app/pages/docs/components/app-components-color/app-components-color.tsx
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/color/app-color-chart/app-color-chart.tsx
  studio/src/app/components/editor/color/app-color-code/app-color-code.tsx
  studio/src/app/components/editor/color/app-color-qrcode/app-color-qrcode.tsx
  studio/src/app/components/editor/color/app-color-sides/app-color-sides.tsx
  studio/src/app/components/editor/color/app-color-text-background/app-color-text-background.tsx
  studio/src/app/popovers/editor/app-color/app-color.scss
  webcomponents/color/CHANGELOG.md
  webcomponents/color/package-lock.json
  webcomponents/color/package.json
  webcomponents/color/src/components.d.ts
  webcomponents/color/src/components/color/deckdeckgo-color.scss
  webcomponents/color/src/components/color/deckdeckgo-color.tsx
  webcomponents/color/src/components/color/readme.md
  webcomponents/color/src/components/label/deckdeckgo-color-label.scss
  webcomponents/color/src/components/label/deckdeckgo-color-label.tsx
  webcomponents/color/src/index.html
  webcomponents/color/src/utils/deckdeckgo-palette.ts
  webcomponents/color/stencil.config.ts
  webcomponents/inline-editor/CHANGELOG.md
  webcomponents/inline-editor/package-lock.json
  webcomponents/inline-editor/package.json
  webcomponents/inline-editor/src/components/actions/align-actions/readme.md
  webcomponents/inline-editor/src/components/actions/color-actions/color-actions.tsx
  webcomponents/inline-editor/src/components/actions/color-actions/readme.md
  webcomponents/inline-editor/src/components/actions/font-size-actions/readme.md
  webcomponents/inline-editor/src/components/actions/image-actions/readme.md
  webcomponents/inline-editor/src/components/actions/link-actions/readme.md
  webcomponents/inline-editor/src/components/actions/list-actions/readme.md
  webcomponents/inline-editor/src/components/actions/style-actions/readme.md
  webcomponents/inline-editor/src/components/components/action-button/readme.md
  webcomponents/inline-editor/src/components/components/action-image/action-image.scss
  webcomponents/inline-editor/src/components/components/action-image/readme.md
  webcomponents/inline-editor/src/components/components/separator/readme.md
  webcomponents/inline-editor/src/components/components/triangle/readme.md
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.tsx
  webcomponents/inline-editor/src/components/inline-editor/readme.md
Labels: breaking, enhancement, inline-editor, studio

#734 fix: support offline access to the editor directly with the browser's url
  studio/src/sw.js
Labels: bug, studio

#735 fix: handle background Firestore Field.delete when going offline
  studio/src/app/services/editor/offline/offline.service.tsx
Labels: bug, studio

#736 highlight-code: carbon theming
  webcomponents/highlight-code/src/components.d.ts
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.scss
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.tsx
  webcomponents/highlight-code/src/components/highlight-code/readme.md
Labels: enhancement, highlight-code

#738 feat(a11y): select as popover
  studio/src/app/components/editor/app-image/app-image.tsx
  studio/src/app/components/editor/color/app-color-chart/app-color-chart.tsx
  studio/src/app/components/editor/color/app-color-code/app-color-code.tsx
  studio/src/app/popovers/editor/app-code/app-code.tsx
  studio/src/app/popovers/editor/app-math/app-math.tsx
  studio/src/app/popovers/editor/slide/app-edit-slide-author/app-edit-slide-author.tsx
  studio/src/app/popovers/editor/slide/app-edit-slide-chart/app-edit-slide-chart.tsx
  studio/src/global/theme/popover.scss
Labels: enhancement, studio

#739 fix: Chrome requires two clicks to focus element if pseudo class is used
  studio/src/app/components/editor/actions/element/app-actions-element/app-actions-element.tsx
Labels: bug, studio

#740 feat(#729): select elements before creating slide
  studio/src/app/components/editor/actions/element/app-actions-element/app-actions-element.tsx
  studio/src/app/components/editor/app-slot-type/app-slot-type.scss
  studio/src/app/components/editor/app-slot-type/app-slot-type.tsx
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/app/popovers/editor/app-create-slide/app-create-slide.scss
  studio/src/app/popovers/editor/app-create-slide/app-create-slide.tsx
  studio/src/app/popovers/editor/app-transform/app-transform.scss
  studio/src/app/popovers/editor/app-transform/app-transform.tsx
  studio/src/app/utils/editor/create-slides.utils.tsx
  studio/src/components.d.ts
Labels: enhancement, studio

#742 feat: rework color, background and style ux
  infra/nix/sources.json
  studio/src/app/components/editor/actions/element/app-actions-element/app-actions-element.tsx
  studio/src/app/components/editor/app-image/app-image.tsx
  studio/src/app/components/editor/app-select-target-element/app-select-target-element.tsx
  studio/src/app/components/editor/color/app-color-chart/app-color-chart.tsx
  studio/src/app/components/editor/color/app-color-code/app-color-code.tsx
  studio/src/app/components/editor/color/app-color-qrcode/app-color-qrcode.tsx
  studio/src/app/components/editor/color/app-color-sides/app-color-sides.tsx
  studio/src/app/components/editor/color/app-color-text-background/app-color-text-background.tsx
  studio/src/app/components/editor/styles/app-expansion-panel/app-expansion-panel.scss
  studio/src/app/components/editor/styles/app-expansion-panel/app-expansion-panel.tsx
  studio/src/app/components/editor/styles/app-image/app-image.scss
  studio/src/app/components/editor/styles/app-image/app-image.tsx
  studio/src/app/components/editor/styles/deck/app-deck-fonts/app-deck-fonts.scss
  studio/src/app/components/editor/styles/deck/app-deck-fonts/app-deck-fonts.tsx
  studio/src/app/components/editor/styles/deck/app-deck-transition/app-deck-transition.scss
  studio/src/app/components/editor/styles/deck/app-deck-transition/app-deck-transition.tsx
  studio/src/app/components/editor/styles/element/app-align/app-align.scss
  studio/src/app/components/editor/styles/element/app-align/app-align.tsx
  studio/src/app/components/editor/styles/element/app-image-style/app-image-style.tsx
  studio/src/app/components/editor/styles/element/app-list/app-list.scss
  studio/src/app/components/editor/styles/element/app-list/app-list.tsx
  studio/src/app/components/editor/styles/element/app-reveal/app-reveal.scss
  studio/src/app/components/editor/styles/element/app-reveal/app-reveal.tsx
  studio/src/app/popovers/editor/actions/app-more-element-actions/app-more-element-actions.tsx
  studio/src/app/popovers/editor/app-align/app-align.tsx
  studio/src/app/popovers/editor/app-code/app-code.tsx
  studio/src/app/popovers/editor/app-color/app-color.tsx
  studio/src/app/popovers/editor/app-deck-style/app-deck-style.scss
  studio/src/app/popovers/editor/app-image-element/app-image-element.tsx
  studio/src/app/popovers/editor/app-list/app-list.tsx
  studio/src/app/popovers/editor/app-math/app-math.tsx
  studio/src/app/popovers/editor/app-reveal/app-reveal.scss
  studio/src/app/popovers/editor/app-reveal/app-reveal.tsx
  studio/src/app/popovers/editor/style/app-deck-style/app-deck-style.scss
  studio/src/app/popovers/editor/style/app-deck-style/app-deck-style.tsx
  studio/src/app/popovers/editor/style/app-element-style/app-element-style.scss
  studio/src/app/popovers/editor/style/app-element-style/app-element-style.tsx
  studio/src/app/utils/editor/target-element.tsx
  studio/src/assets/assets.json
  studio/src/assets/icons/album.svg
  studio/src/assets/icons/ionicons/chevron-down.svg
  studio/src/assets/icons/ionicons/settings.svg
  studio/src/components.d.ts
  studio/src/global/theme/editor/editor-info.scss
  studio/src/global/theme/editor/editor-popover.scss
  studio/src/global/theme/popover.scss
Labels: enhancement, studio

#745 feat: group and improve fonts in deck style
  studio/src/app/components/editor/actions/deck/app-actions-deck/app-actions-deck.tsx
  studio/src/app/components/editor/app-select-target-element/app-select-target-element.tsx
  studio/src/app/components/editor/styles/deck/app-deck-fonts/app-deck-fonts.scss
  studio/src/app/components/editor/styles/deck/app-deck-fonts/app-deck-fonts.tsx
  studio/src/app/popovers/editor/style/app-deck-style/app-deck-style.tsx
  studio/src/app/utils/editor/target-element.tsx
  studio/src/components.d.ts
Labels: enhancement, studio

#746 fix(#743): slide qr code size calculation
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  remote/CHANGELOG.md
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  webcomponents/slides/qrcode/CHANGELOG.md
  webcomponents/slides/qrcode/package-lock.json
  webcomponents/slides/qrcode/package.json
  webcomponents/slides/qrcode/src/components/slide/deckdeckgo-slide-qrcode.tsx
  webcomponents/slides/qrcode/src/index.html
Labels: bug, templates

#748 inline-editor: added feature strikethrough
  webcomponents/inline-editor/src/components.d.ts
  webcomponents/inline-editor/src/components/actions/style-actions/style-actions.tsx
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.tsx
  webcomponents/inline-editor/src/utils/utils.tsx
Labels: enhancement, inline-editor

#749 feat(#710): release strikethrough
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  studio/package-lock.json
  studio/package.json
  webcomponents/inline-editor/CHANGELOG.md
  webcomponents/inline-editor/package-lock.json
  webcomponents/inline-editor/package.json
  webcomponents/inline-editor/src/components/actions/style-actions/style-actions.tsx
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.tsx
  webcomponents/inline-editor/src/utils/utils.tsx
Labels: enhancement, inline-editor

#750 feat: update cloud dependencies
  CHANGELOG.md
  README.md
  cloud/CHANGELOG.md
  cloud/functions/package-lock.json
  cloud/functions/package.json
Labels: cloud, dependencies
