Repository deckgo/deckdeckgo, pull requests merged in 2021-05, with the labels that each got.

#1131 feat: wysiwyg input color picker
  CHANGELOG.md
  docs/.storybook/preview-head.html
  docs/.storybook/preview.js
  docs/src/stories/components/Color.stories.js
  docs/src/stories/components/Readme.mdx
  webcomponents/color/CHANGELOG.md
  webcomponents/color/package-lock.json
  webcomponents/color/package.json
  webcomponents/color/src/components.d.ts
  webcomponents/color/src/components/color/deckdeckgo-color.scss
  webcomponents/color/src/components/color/deckdeckgo-color.tsx
  webcomponents/color/src/components/color/readme.md
  webcomponents/color/src/components/input/deckdeckgo-color-input.scss
  webcomponents/color/src/components/input/deckdeckgo-color-input.tsx
  webcomponents/color/src/components/input/readme.md
  webcomponents/color/src/components/label/deckdeckgo-color-label.scss
  webcomponents/color/src/components/label/deckdeckgo-color-label.tsx
  webcomponents/color/src/index.html
  webcomponents/color/stencil.config.ts
  webcomponents/drag-resize-rotate/src/components/readme.md
  webcomponents/inline-editor/CHANGELOG.md
  webcomponents/inline-editor/package-lock.json
  webcomponents/inline-editor/package.json
  webcomponents/inline-editor/src/components/actions/color-actions/color-actions.scss
  webcomponents/inline-editor/src/components/actions/color-actions/color-actions.tsx
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.tsx
  webcomponents/inline-editor/src/utils/selection.utils.ts
Labels: enhancement, inline-editor

#1140 feat: init selection color for input field
  webcomponents/inline-editor/src/components.d.ts
  webcomponents/inline-editor/src/components/actions/color-actions/color-actions.tsx
  webcomponents/inline-editor/src/components/actions/color-actions/readme.md
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.tsx
  webcomponents/inline-editor/src/utils/execcommand-style.utils.tsx
  webcomponents/inline-editor/src/utils/node.utils.ts
Labels: enhancement, inline-editor

#1141 feat: inline editor open
  CHANGELOG.md
  webcomponents/inline-editor/CHANGELOG.md
  webcomponents/inline-editor/package-lock.json
  webcomponents/inline-editor/package.json
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.tsx
  webcomponents/inline-editor/src/index.html
Labels: inline-editor

#1143 fix: list manipulation
  webcomponents/inline-editor/src/components/actions/align-actions/align-actions.tsx
  webcomponents/inline-editor/src/components/actions/image-actions/image-actions.tsx
  webcomponents/inline-editor/src/components/actions/link-actions/link-actions.tsx
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.tsx
  webcomponents/inline-editor/src/utils/execcommand-list.utils.tsx
  webcomponents/inline-editor/src/utils/execcommand.utils.tsx
  webcomponents/inline-editor/src/utils/utils.tsx
Labels: bug, inline-editor

#1154 fix: init style after changes if "only" attributes are modified
  webcomponents/inline-editor/CHANGELOG.md
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.tsx
Labels: bug, inline-editor

#1155 feat: Expose displayTools method in inline-editor component publicly
  webcomponents/inline-editor/src/components.d.ts
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.tsx
  webcomponents/inline-editor/src/components/inline-editor/readme.md
Labels: enhancement

#1156 fix: inline editor ios and mobile overflow
  webcomponents/inline-editor/src/components/actions/color-actions/color-actions.scss
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.scss
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.tsx
Labels: bug, inline-editor

#1157 feat: re-introduce execCommand
  webcomponents/inline-editor/src/components.d.ts
  webcomponents/inline-editor/src/components/actions/align-actions/align-actions.tsx
  webcomponents/inline-editor/src/components/actions/align-actions/readme.md
  webcomponents/inline-editor/src/components/actions/color-actions/color-actions.tsx
  webcomponents/inline-editor/src/components/actions/color-actions/readme.md
  webcomponents/inline-editor/src/components/actions/link-actions/link-actions.tsx
  webcomponents/inline-editor/src/components/actions/link-actions/readme.md
  webcomponents/inline-editor/src/components/actions/list-actions/list-actions.tsx
  webcomponents/inline-editor/src/components/actions/list-actions/readme.md
  webcomponents/inline-editor/src/components/actions/style-actions/readme.md
  webcomponents/inline-editor/src/components/actions/style-actions/style-actions.tsx
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.tsx
  webcomponents/inline-editor/src/components/inline-editor/readme.md
  webcomponents/inline-editor/src/utils/execcommand-align.utils.ts
  webcomponents/inline-editor/src/utils/execcommand-list.utils.ts
  webcomponents/inline-editor/src/utils/execcommand-style.utils.ts
  webcomponents/inline-editor/src/utils/execcommand.utils.ts
  webcomponents/inline-editor/src/utils/execcommnad-native.utils.ts
  webcomponents/inline-editor/src/utils/utils.ts
Labels: enhancement, inline-editor

#1158 fix: color selection
  CHANGELOG.md
  webcomponents/inline-editor/CHANGELOG.md
  webcomponents/inline-editor/package-lock.json
  webcomponents/inline-editor/package.json
  webcomponents/inline-editor/src/components/actions/color-actions/color-actions.tsx
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.tsx
Labels: bug, inline-editor

#1159 build: bump dependencies
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/core/app-random-gif/app-random-gif.tsx
  studio/src/app/components/editor/actions/element/app-actions-element/app-actions-element.tsx
  studio/src/app/definitions/resize-observer.d.ts
  studio/src/app/handlers/editor/events/remote/remote-events.handler.ts
  studio/src/app/modals/editor/app-gif/app-gif.tsx
  studio/src/app/modals/editor/app-photo/app-photo.tsx
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/app/services/api/photo/api.photo.mock.service.ts
  studio/src/app/services/api/photo/api.photo.prod.service.ts
  studio/src/app/services/api/photo/api.photo.service.ts
  studio/src/app/services/editor/offline/offline.service.ts
  studio/src/app/services/storage/storage.offline.service.ts
  studio/src/app/services/storage/storage.online.service.ts
  studio/src/app/services/storage/storage.service.ts
  studio/src/app/services/tenor/gif/gif.service.ts
Labels: enhancement, studio

#1160 feat: make font size user scalable
  CHANGELOG.md
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/styles/element/app-font-size/app-font-size.scss
  studio/src/app/components/editor/styles/element/app-font-size/app-font-size.tsx
  studio/src/app/components/editor/styles/element/app-text/app-text.tsx
  studio/src/app/definitions/i18.d.ts
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/app/popovers/editor/style/app-element-style/app-element-style.tsx
  studio/src/app/types/editor/font-size.ts
  studio/src/app/utils/editor/font-size.utils.ts
  studio/src/assets/font-size.json
  studio/src/assets/i18n/de.json
  studio/src/assets/i18n/en.json
  studio/src/assets/i18n/es.json
  studio/src/components.d.ts
  studio/src/global/theme/mixins/_editor.scss
  utils/deck/.prettierignore
  utils/deck/.prettierrc
  utils/deck/CHANGELOG.md
  utils/deck/esbuild.js
  utils/deck/package-lock.json
  utils/deck/package.json
  utils/deck/rollup.config.js
  utils/deck/src/utils/parse-content.utils.ts
  utils/deck/src/utils/slides.utils.ts
  utils/deck/styles/deck/fonts.scss
  utils/deck/tsconfig.json
  webcomponents/inline-editor/CHANGELOG.md
  webcomponents/inline-editor/package-lock.json
  webcomponents/inline-editor/package.json
  webcomponents/inline-editor/src/components/inline-editor/deckdeckgo-inline-editor.tsx
Labels: enhancement, inline-editor, studio

#1161 build: migrate libs to esbuild, esm and esnext
  CHANGELOG.md
  remote/package-lock.json
  remote/package.json
  remote/src/app/pages/app-remote/app-remote.tsx
  studio/package-lock.json
  studio/package.json
  utils/kit/.prettierignore
  utils/kit/.prettierrc
  utils/kit/CHANGELOG.md
  utils/kit/esbuild.js
  utils/kit/package-lock.json
  utils/kit/package.json
  utils/kit/rollup.config.js
  utils/kit/src/actions/actions.ts
  utils/kit/src/actions/play-pause.ts
  utils/kit/src/dev/history.ts
  utils/kit/src/fullscreen/fullscreen.ts
  utils/kit/src/loading/loading.ts
  utils/kit/src/menu/menu.ts
  utils/kit/src/modals/reload.ts
  utils/kit/src/modals/remote.ts
  utils/kit/src/mouse/mouse.ts
  utils/kit/src/size/size.ts
  utils/kit/src/utils/utils.deck.ts
  utils/kit/styles/menu.scss
  utils/kit/tsconfig.json
  utils/remote/.prettierignore
  utils/remote/.prettierrc
  utils/remote/CHANGELOG.md
  utils/remote/esbuild.js
  utils/remote/package-lock.json
  utils/remote/package.json
  utils/remote/rollup.config.js
  utils/remote/tsconfig.json
  utils/slide/.prettierignore
  utils/slide/.prettierrc
  utils/slide/CHANGELOG.md
  utils/slide/esbuild.js
  utils/slide/package-lock.json
  utils/slide/package.json
  utils/slide/rollup.config.js
  utils/slide/src/utils/images-utils.ts
  utils/slide/src/utils/slide-utils.ts
  utils/slide/styles/deckdeckgo-slide.scss
  utils/slide/tsconfig.json
  utils/types/.prettierignore
  utils/types/.prettierrc
  utils/types/CHANGELOG.md
  utils/types/package-lock.json
  utils/types/package.json
  utils/types/tsconfig.json
  utils/utils/.prettierignore
  utils/utils/.prettierrc
  utils/utils/CHANGELOG.md
  utils/utils/esbuild.js
  utils/utils/package-lock.json
  utils/utils/package.json
  utils/utils/rollup.config.js
  utils/utils/src/utils/inject-utils.ts
  utils/utils/tsconfig.json
Labels: core, enhancement

#1162 build: migrate cli to esbuild
  CHANGELOG.md
  cli/CHANGELOG.md
  cli/esbuild.js
  cli/package-lock.json
  cli/package.json
  cli/rollup.config.js
  cli/src/index.ts
  cli/src/presentation.ts
  cli/src/utils/utils.ts
  cli/src/utils/version.js
  cli/tsconfig.json
  cli/tslint.json
Labels: cli

#1163 feat: lowlight opacity
  webcomponents/highlight-code/CHANGELOG.md
  webcomponents/highlight-code/package-lock.json
  webcomponents/highlight-code/package.json
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.scss
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.tsx
  webcomponents/highlight-code/src/declarations/deckdeckgo-highlight-code-languages.tsx
Labels: enhancement, highlight-code

#1164 feat: high- and lowlight code and line numbers
  webcomponents/highlight-code/.prettierignore
  webcomponents/highlight-code/.prettierrc
  webcomponents/highlight-code/CHANGELOG.md
  webcomponents/highlight-code/scripts/config.languages.js
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.scss
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.tsx
  webcomponents/highlight-code/src/components/highlight-code/readme.md
  webcomponents/highlight-code/src/components/themes/3024-night.ts
  webcomponents/highlight-code/src/components/themes/a11y-dark.ts
  webcomponents/highlight-code/src/components/themes/base16-dark.ts
  webcomponents/highlight-code/src/components/themes/base16-light.ts
  webcomponents/highlight-code/src/components/themes/blackboard.ts
  webcomponents/highlight-code/src/components/themes/cobalt.ts
  webcomponents/highlight-code/src/components/themes/dracula.ts
  webcomponents/highlight-code/src/components/themes/duotone.ts
  webcomponents/highlight-code/src/components/themes/hopscotch.ts
  webcomponents/highlight-code/src/components/themes/lucario.ts
  webcomponents/highlight-code/src/components/themes/material.ts
  webcomponents/highlight-code/src/components/themes/monokai.ts
  webcomponents/highlight-code/src/components/themes/night-owl.ts
  webcomponents/highlight-code/src/components/themes/nord.ts
  webcomponents/highlight-code/src/components/themes/oceanic-next.ts
  webcomponents/highlight-code/src/components/themes/one-dark.ts
  webcomponents/highlight-code/src/components/themes/one-light.ts
  webcomponents/highlight-code/src/components/themes/panda.ts
  webcomponents/highlight-code/src/components/themes/paraiso.ts
  webcomponents/highlight-code/src/components/themes/seti.ts
  webcomponents/highlight-code/src/components/themes/shades-of-purple.ts
  webcomponents/highlight-code/src/components/themes/solarized-dark.ts
  webcomponents/highlight-code/src/components/themes/solarized-light.ts
  webcomponents/highlight-code/src/components/themes/synthwave.ts
  webcomponents/highlight-code/src/components/themes/twilight.ts
  webcomponents/highlight-code/src/components/themes/verminal.ts
  webcomponents/highlight-code/src/components/themes/vscode.ts
  webcomponents/highlight-code/src/components/themes/yeti.ts
  webcomponents/highlight-code/src/components/themes/zenburn.ts
  webcomponents/highlight-code/src/declarations/deckdeckgo-highlight-code-carbon-theme.tsx
  webcomponents/highlight-code/src/declarations/deckdeckgo-highlight-code-languages.tsx
  webcomponents/highlight-code/src/declarations/deckdeckgo-highlight-code-terminal.tsx
  webcomponents/highlight-code/src/index.html
  webcomponents/highlight-code/src/utils/anchors.utils.ts
  webcomponents/highlight-code/src/utils/highlight.utils.ts
  webcomponents/highlight-code/src/utils/parse.utils.ts
  webcomponents/highlight-code/stencil.config.ts
  webcomponents/highlight-code/tsconfig.json
Labels: enhancement, highlight-code

#1166 hotfix: master branch has been renamed in main
  CHANGELOG.md
  README.md
  cloud/CHANGELOG.md
  cloud/functions/src/watch/publish/github/utils/github-cmd.ts
  cloud/functions/src/watch/publish/github/utils/github-utils.ts
Labels: bug, cloud

#1167 hotfix: studio-kit has been modified with a utility kit and urls are contained in index.html
  cloud/functions/src/watch/publish/github/utils/github-utils.ts
Labels: bug, cloud

#1168 hotfix: master has been renamed to main therefore, pr cannot be created
  cloud/functions/src/watch/publish/github/utils/github-api.ts
Labels: bug, cloud

#1165 feat: remove fetch code through an url
  CHANGELOG.md
  README.md
  docs/.storybook/preview-head.html
  docs/src/stories/templates/Code.stories.js
  remote/package-lock.json
  remote/package.json
  remote/src/global/app-local.ts
  remote/src/global/app.ts
  webcomponents/highlight-code/CHANGELOG.md
  webcomponents/highlight-code/src/components.d.ts
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.tsx
  webcomponents/highlight-code/src/declarations/deckdeckgo-highlight-code-anchor.tsx
  webcomponents/highlight-code/src/index.html
  webcomponents/highlight-code/src/index.ts
  webcomponents/highlight-code/src/interface.d.ts
  webcomponents/highlight-code/src/utils/anchors.utils.ts
  webcomponents/highlight-code/src/utils/parse.utils.ts
  webcomponents/slides/code/.editorconfig
  webcomponents/slides/code/.prettierrc
  webcomponents/slides/code/CHANGELOG.md
  webcomponents/slides/code/LICENSE
  webcomponents/slides/code/README.md
  webcomponents/slides/code/package-lock.json
  webcomponents/slides/code/package.json
  webcomponents/slides/code/src/components.d.ts
  webcomponents/slides/code/src/components/slide/deckdeckgo-slide-code.scss
  webcomponents/slides/code/src/components/slide/deckdeckgo-slide-code.tsx
  webcomponents/slides/code/src/components/slide/readme.md
  webcomponents/slides/code/src/index.html
  webcomponents/slides/code/src/index.ts
  webcomponents/slides/code/stencil.config.ts
  webcomponents/slides/code/tsconfig.json
Labels: breaking, highlight-code, templates

#1169 feat: support dash to highlight lines too
  webcomponents/highlight-code/CHANGELOG.md
  webcomponents/highlight-code/src/components.d.ts
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.tsx
  webcomponents/highlight-code/src/components/highlight-code/readme.md
  webcomponents/highlight-code/src/utils/highlight.utils.ts
Labels: enhancement, highlight-code

#1170 feat: highlight a particular group of code
  webcomponents/highlight-code/CHANGELOG.md
  webcomponents/highlight-code/src/components.d.ts
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.scss
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.tsx
  webcomponents/highlight-code/src/components/highlight-code/readme.md
  webcomponents/highlight-code/src/components/styles/carbon-theme.style.tsx
  webcomponents/highlight-code/src/components/styles/highlight.style.tsx
  webcomponents/highlight-code/src/index.html
  webcomponents/highlight-code/src/utils/fonts.utils.ts
  webcomponents/highlight-code/src/utils/highlight.utils.ts
  webcomponents/highlight-code/src/utils/parse.utils.ts
  webcomponents/highlight-code/stencil.config.ts
Labels: enhancement, highlight-code

#1172 fix: events are thrown outside main ref too
  studio/src/app/handlers/editor/events/deck/deck-events.handler.ts
Labels: bug, studio

#1174 fix: utils main entry
  CHANGELOG.md
  utils/deck/CHANGELOG.md
  utils/deck/package-lock.json
  utils/deck/package.json
  utils/kit/CHANGELOG.md
  utils/kit/package-lock.json
  utils/kit/package.json
  utils/remote/CHANGELOG.md
  utils/remote/package-lock.json
  utils/remote/package.json
  utils/slide/CHANGELOG.md
  utils/slide/package-lock.json
  utils/slide/package.json
  utils/utils/CHANGELOG.md
  utils/utils/package-lock.json
  utils/utils/package.json
Labels: bug

#1177 feat: drr toggle property on the fly
  CHANGELOG.md
  webcomponents/drag-resize-rotate/CHANGELOG.md
  webcomponents/drag-resize-rotate/package-lock.json
  webcomponents/drag-resize-rotate/package.json
  webcomponents/drag-resize-rotate/src/components/deckdeckgo-drr.tsx
  webcomponents/drag-resize-rotate/src/index.html
Labels: drag-resize-rotate, enhancement

#1179 fix: highlight code reveal if not animated
  CHANGELOG.md
  README.md
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  utils/slide/CHANGELOG.md
  utils/slide/package-lock.json
  utils/slide/package.json
  utils/slide/src/utils/slide-utils.ts
  webcomponents/slides/aspect-ratio/CHANGELOG.md
  webcomponents/slides/aspect-ratio/package-lock.json
  webcomponents/slides/aspect-ratio/package.json
  webcomponents/slides/author/CHANGELOG.md
  webcomponents/slides/author/package-lock.json
  webcomponents/slides/author/package.json
  webcomponents/slides/chart/CHANGELOG.md
  webcomponents/slides/chart/package-lock.json
  webcomponents/slides/chart/package.json
  webcomponents/slides/content/CHANGELOG.md
  webcomponents/slides/content/package-lock.json
  webcomponents/slides/content/package.json
  webcomponents/slides/gif/CHANGELOG.md
  webcomponents/slides/gif/package-lock.json
  webcomponents/slides/gif/package.json
  webcomponents/slides/playground/CHANGELOG.md
  webcomponents/slides/playground/package-lock.json
  webcomponents/slides/playground/package.json
  webcomponents/slides/poll/CHANGELOG.md
  webcomponents/slides/poll/package-lock.json
  webcomponents/slides/poll/package.json
  webcomponents/slides/qrcode/CHANGELOG.md
  webcomponents/slides/qrcode/package-lock.json
  webcomponents/slides/qrcode/package.json
  webcomponents/slides/split/CHANGELOG.md
  webcomponents/slides/split/package-lock.json
  webcomponents/slides/split/package.json
  webcomponents/slides/title/CHANGELOG.md
  webcomponents/slides/title/package-lock.json
  webcomponents/slides/title/package.json
  webcomponents/slides/youtube/CHANGELOG.md
  webcomponents/slides/youtube/package-lock.json
  webcomponents/slides/youtube/package.json
Labels: bug, templates

#1182 fix: firebase does not resolve promise on create deck
  studio/package-lock.json
  studio/package.json
  studio/src/app/services/data/deck/deck.service.ts
Labels: bug, studio

#1183 build: firebase auth breaking changes
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/core/app-signin/app-signin.tsx
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/app/services/auth/auth.service.ts
  studio/src/app/stores/auth.store.ts
Labels: bug, studio

#1184 feat: add a label next to the start button
  remote/CHANGELOG.md
  remote/package-lock.json
  remote/package.json
  remote/src/app/modals/app-remote-connect/app-remote-connect.tsx
  remote/src/app/pages/app-remote/app-remote.tsx
  remote/src/app/pages/app-timer/app-timer.tsx
  remote/src/global/theme/button.scss
Labels: enhancement, remote

#1185 feat: highlight header adaptive (em instead of px)
  CHANGELOG.md
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  webcomponents/highlight-code/CHANGELOG.md
  webcomponents/highlight-code/package-lock.json
  webcomponents/highlight-code/package.json
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.scss
  webcomponents/highlight-code/src/components/highlight-code/readme.md
Labels: enhancement, highlight-code

#1186 fix: synced code format
  remote/CHANGELOG.md
  remote/src/app/utils/parse-elements.utils.tsx
Labels: bug, remote

#1187 fix: sync reveal state with remote
  studio/src/app/handlers/editor/events/remote/remote-events.handler.ts
Labels: bug, remote, studio

#1188 style: add `width` and `height` CSS variables for the shadowed code block
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.scss
  webcomponents/highlight-code/src/components/highlight-code/readme.md
Labels: enhancement, highlight-code

#1192 fix: keyboard animation transmission
  CHANGELOG.md
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  webcomponents/core/CHANGELOG.md
  webcomponents/core/package-lock.json
  webcomponents/core/package.json
  webcomponents/core/src/components/deck/deckdeckgo-deck/deckdeckgo-deck.tsx
Labels: bug, core
