Repository deckgo/deckdeckgo, pull requests merged in 2021-02, with the labels that each got.

#1071 feat: copy style ("format painter")
  studio/src/app/components/editor/actions/element/app-actions-element/app-actions-element.tsx
  studio/src/app/popovers/editor/actions/app-copy-style/app-copy-style.scss
  studio/src/app/popovers/editor/actions/app-copy-style/app-copy-style.tsx
  studio/src/app/popovers/editor/actions/app-more-element-actions/app-more-element-actions.tsx
  studio/src/app/stores/editor.store.ts
  studio/src/app/types/editor/more-action.ts
  studio/src/assets/assets.json
  studio/src/assets/icons/ionicons/flask.svg
  studio/src/components.d.ts
Labels: enhancement, studio

#1073 feat: justify bottom template content
  CHANGELOG.md
  docs/docs/slides/app-slide-content/app-slide-content.md
  docs/package-lock.json
  docs/package.json
  docs/src/app/pages/docs/slides/app-slide-content/app-slide-content.tsx
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/templates/platform/app-templates-default/app-templates-default.tsx
  studio/src/app/popovers/editor/app-create-slide/app-create-slide.scss
  studio/src/app/popovers/editor/app-create-slide/app-create-slide.tsx
  studio/src/app/utils/editor/create-slides.utils.tsx
  webcomponents/slides/content/CHANGELOG.md
  webcomponents/slides/content/package-lock.json
  webcomponents/slides/content/package.json
  webcomponents/slides/content/src/components/slide/deckdeckgo-slide-content.scss
  webcomponents/slides/content/src/index.html
Labels: enhancement, studio

#1072 feat: publish templates to api
  CHANGELOG.md
  cloud/CHANGELOG.md
  cloud/functions/.gitignore
  cloud/functions/package-lock.json
  cloud/functions/package.json
  cloud/functions/scripts/copy-templates.js
  cloud/functions/src/assets/templates.json
  cloud/functions/src/model/api/api.slide.ts
  cloud/functions/src/model/data/slide.ts
  cloud/functions/src/model/data/template.ts
  cloud/functions/src/request/utils/convert-deck-utils.ts
  cloud/functions/src/utils/data/template-utils.ts
  cloud/functions/tsconfig.json
  studio/src/app/utils/core/utils.ts
Labels: api, cloud, enhancement

#1077 highlight lines with single digit number
  CHANGELOG.md
  docs/docs/components/app-components-highlight-code/app-components-highlight-code.md
  docs/package-lock.json
  docs/package.json
  docs/src/app/pages/docs/components/app-components-highlight-code/app-components-highlight-code.tsx
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/styles/element/app-color-code/app-color-code.tsx
  webcomponents/highlight-code/CHANGELOG.md
  webcomponents/highlight-code/package-lock.json
  webcomponents/highlight-code/package.json
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.tsx
  webcomponents/highlight-code/src/declarations/deckdeckgo-highlight-code-languages.tsx
  webcomponents/highlight-code/src/index.html
Labels: enhancement, highlight-code

#1079 fix: template custom name nav
  CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/actions/element/app-actions-element/app-actions-element.tsx
  studio/src/app/components/editor/actions/footer/app-actions-editor/app-actions-editor.tsx
  studio/src/app/components/editor/publish/app-publish-edit/app-publish-edit.tsx
  studio/src/app/components/editor/slide/app-slide-preview/app-slide-preview.tsx
  studio/src/app/components/editor/styles/element/app-image-style/app-image-style.tsx
  studio/src/app/handlers/editor/events/deck/deck-events.handler.ts
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/app/utils/editor/selected-element.utils.ts
  webcomponents/core/CHANGELOG.md
  webcomponents/core/package-lock.json
  webcomponents/core/package.json
  webcomponents/core/src/components/deck/deckdeckgo-deck/deckdeckgo-deck.tsx
Labels: bug

#1086 fix: custom slide / templates names
  CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/actions/element/app-actions-element/app-actions-element.tsx
  studio/src/app/components/editor/actions/footer/app-actions-editor/app-actions-editor.tsx
  studio/src/app/components/editor/publish/app-publish-edit/app-publish-edit.tsx
  studio/src/app/components/editor/slide/app-slide-preview/app-slide-preview.tsx
  studio/src/app/components/editor/styles/element/app-image-style/app-image-style.tsx
  studio/src/app/handlers/editor/events/deck/deck-events.handler.ts
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/app/popovers/editor/app-slide-navigate/app-slide-navigate.tsx
  studio/src/app/utils/editor/selected-element.utils.ts
  utils/deck/CHANGELOG.md
  utils/deck/package-lock.json
  utils/deck/package.json
  utils/deck/src/utils/slides.utils.ts
  utils/kit/CHANGELOG.md
  utils/kit/package-lock.json
  utils/kit/package.json
  utils/kit/src/menu/chapters.ts
Labels: bug

#1088 fix: main deck selector to go offline
  studio/src/app/services/editor/offline/offline.service.ts
Labels: bug, studio

#1089 feat: toggle simple slide template on the fly
  studio/src/app/components/editor/actions/element/app-actions-element/app-actions-element.tsx
  studio/src/app/components/editor/actions/footer/app-actions-editor/app-actions-editor.tsx
  studio/src/app/components/editor/styles/deck/app-deck-fonts/app-deck-fonts.scss
  studio/src/app/components/editor/templates/platform/app-templates-content/app-templates-content.tsx
  studio/src/app/components/editor/templates/platform/app-templates-default/app-templates-default.tsx
  studio/src/app/components/editor/templates/platform/app-templates-fixed/app-templates-fixed.tsx
  studio/src/app/components/editor/templates/platform/app-templates-split/app-templates-split.tsx
  studio/src/app/components/editor/templates/platform/app-templates-title/app-templates-title.tsx
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/app/popovers/editor/app-create-slide/app-create-slide.scss
  studio/src/app/popovers/editor/app-create-slide/app-create-slide.tsx
  studio/src/app/popovers/editor/transform/app-transform-element/app-transform-element.scss
  studio/src/app/popovers/editor/transform/app-transform-element/app-transform-element.tsx
  studio/src/app/popovers/editor/transform/app-transform-slide/app-transform-slide.scss
  studio/src/app/popovers/editor/transform/app-transform-slide/app-transform-slide.tsx
  studio/src/app/types/editor/selected-element.ts
  studio/src/app/utils/editor/clone-slide.utils.tsx
  studio/src/app/utils/editor/parse-elements.utils.tsx
  studio/src/app/utils/editor/selected-element.utils.ts
  studio/src/components.d.ts
  studio/src/global/theme/mixins/_editor.scss
Labels: enhancement, studio

#1091 feat: expose code languages
  CHANGELOG.md
  studio/package-lock.json
  studio/package.json
  studio/src/app/definitions/assets.d.ts
  studio/src/app/modals/editor/app-code-languages/app-code-languages.tsx
  studio/src/app/popovers/editor/app-code/app-code.tsx
  studio/src/app/services/editor/prism/prism.service.ts
  studio/src/app/types/editor/prism-language.ts
  studio/src/app/utils/editor/prism.utils.ts
  studio/src/assets/assets.json
  studio/src/components.d.ts
  webcomponents/highlight-code/CHANGELOG.md
  webcomponents/highlight-code/package-lock.json
  webcomponents/highlight-code/package.json
  webcomponents/highlight-code/src/declarations/deckdeckgo-highlight-code-languages.tsx
  webcomponents/highlight-code/src/index.ts
  webcomponents/highlight-code/src/interface.d.ts
Labels: enhancement

#1092 #1090 - Added Telegram to list of share deck
  studio/src/app/components/core/app-share-deck/app-share-deck.tsx
Labels: enhancement, studio

#1094 fix: low contrast warning
  studio/src/app/popovers/editor/style/app-element-style/app-element-style.tsx
  studio/src/app/utils/editor/node.utils.ts
Labels: bug, studio
