Repository deckgo/deckdeckgo, pull requests merged in 2021-01, with the labels that each got.

#1052 refactor: files extension to ts
  studio/src/app/models/api/api.user.ts
  studio/src/app/models/auth/auth.user.ts
  studio/src/app/models/data/deck.ts
  studio/src/app/models/data/slide.ts
  studio/src/app/models/data/token.ts
  studio/src/app/models/data/user.ts
Labels: enhancement, studio

#1053 code edit less quirky
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/docs/components/app-components-highlight-code/app-components-highlight-code.md
  docs/package-lock.json
  docs/package.json
  docs/src/app/pages/docs/components/app-components-highlight-code/app-components-highlight-code.tsx
  studio/CHANGELOG.md
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/actions/element/app-actions-element/app-actions-element.tsx
  studio/src/app/components/editor/slide/app-slide-preview/app-slide-preview.tsx
  studio/src/app/components/editor/styles/element/app-color-code/app-color-code.tsx
  studio/src/global/theme/editor/editor-deck-placeholder.scss
  webcomponents/highlight-code/CHANGELOG.md
  webcomponents/highlight-code/package-lock.json
  webcomponents/highlight-code/package.json
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.scss
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.tsx
  webcomponents/highlight-code/src/declarations/deckdeckgo-highlight-code-languages.tsx
  webcomponents/highlight-code/src/index.html
Labels: enhancement, highlight-code, studio

#1054 fix: new poll url
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  docs/src/app/pages/docs/slides/app-slide-poll/app-slide-poll.tsx
  docs/src/app/pages/docs/slides/app-slides-concept/app-slides-concept.tsx
  remote/package-lock.json
  remote/package.json
  site/package-lock.json
  site/package.json
  site/src/components/landing/poll/landing-poll.js
  studio/package-lock.json
  studio/package.json
  webcomponents/slides/poll/CHANGELOG.md
  webcomponents/slides/poll/package-lock.json
  webcomponents/slides/poll/package.json
  webcomponents/slides/poll/src/components/slide/deckdeckgo-slide-poll.tsx
Labels: bug

#1055 fix: navigate contact
  studio/src/app/components/core/app-unpublish/app-unpublish.scss
  studio/src/app/components/core/app-unpublish/app-unpublish.tsx
  studio/src/app/components/editor/publish/app-publish-edit/app-publish-edit.scss
  studio/src/app/components/editor/publish/app-publish-edit/app-publish-edit.tsx
  studio/src/app/modals/core/app-deck-delete/app-deck-delete.scss
  studio/src/app/modals/core/app-deck-delete/app-deck-delete.tsx
  studio/src/app/modals/core/app-user-delete/app-user-delete.scss
  studio/src/app/modals/core/app-user-delete/app-user-delete.tsx
  studio/src/app/modals/editor/app-publish/app-publish.tsx
  studio/src/components.d.ts
  studio/src/global/theme/fonts.scss
Labels: bug, studio

#1060 site: added menu close button
  site/src/components/core/menu/menu.js
Labels: enhancement, site

#1062 feat: handle assets with store
  studio/src/app/components/editor/templates/platform/app-templates-charts/app-templates-charts.tsx
  studio/src/app/components/editor/templates/platform/app-templates-default/app-templates-default.tsx
  studio/src/app/popovers/editor/app-shape/app-shape.tsx
  studio/src/app/services/core/assets/assets.service.ts
  studio/src/app/services/editor/fonts/fonts.service.ts
  studio/src/app/services/editor/offline/offline.service.ts
  studio/src/app/services/editor/prism/prism.service.ts
  studio/src/app/stores/assets.store.ts
  studio/src/sw.js
Labels: enhancement, studio

#1063 feat: cli support for template
  CHANGELOG.md
  cli/.prettierignore
  cli/.prettierrc
  cli/CHANGELOG.md
  cli/package-lock.json
  cli/package.json
  cli/rollup.config.js
  cli/src/index.ts
  cli/src/presentation.ts
  cli/src/template.ts
  cli/src/utils.ts
  cli/src/utils/download.ts
  cli/src/utils/fonts.ts
  cli/src/utils/install.ts
  cli/src/utils/unzip.ts
  cli/src/utils/utils.ts
  cli/src/utils/version.js
  cli/src/version.js
  cli/tsconfig.json
  cli/tslint.json
Labels: cli, enhancement

#1065 feat: keep track of panel state open or close
  studio/src/app/app-root.tsx
  studio/src/app/components/editor/styles/app-color-text-background/app-color-text-background.tsx
  studio/src/app/components/editor/styles/app-expansion-panel/app-expansion-panel.tsx
  studio/src/app/components/editor/styles/app-image/app-image.tsx
  studio/src/app/components/editor/styles/element/app-align/app-align.tsx
  studio/src/app/components/editor/styles/element/app-border-radius/app-border-radius.tsx
  studio/src/app/components/editor/styles/element/app-box-shadow/app-box-shadow.tsx
  studio/src/app/components/editor/styles/element/app-font-size/app-font-size.tsx
  studio/src/app/components/editor/styles/element/app-image-style/app-image-style.tsx
  studio/src/app/components/editor/styles/element/app-letter-spacing/app-letter-spacing.tsx
  studio/src/app/popovers/editor/app-image-element/app-image-element.tsx
  studio/src/app/popovers/editor/style/app-deck-style/app-deck-style.tsx
  studio/src/app/popovers/editor/style/app-element-style/app-element-style.tsx
  studio/src/app/services/settings/settings.service.ts
  studio/src/app/stores/settings.store.ts
  studio/src/app/types/core/settings.ts
  studio/src/app/utils/core/settings.utils.ts
  studio/src/components.d.ts
Labels: enhancement, studio

#1066 feat: edit with properties (default UI) or CSS code
  studio/src/app/components/editor/styles/app-color/app-color.tsx
  studio/src/app/components/editor/styles/element/app-align/app-align.tsx
  studio/src/app/components/editor/styles/element/app-border-radius/app-border-radius.tsx
  studio/src/app/components/editor/styles/element/app-box-shadow/app-box-shadow.tsx
  studio/src/app/components/editor/styles/element/app-font-size/app-font-size.tsx
  studio/src/app/components/editor/styles/element/app-image-style/app-image-style.tsx
  studio/src/app/components/editor/styles/element/app-letter-spacing/app-letter-spacing.tsx
  studio/src/app/components/editor/styles/element/app-list/app-list.tsx
  studio/src/app/pages/core/settings/app-customization/app-customization.scss
  studio/src/app/pages/core/settings/app-customization/app-customization.tsx
  studio/src/app/popovers/editor/style/app-deck-style/app-deck-style.scss
  studio/src/app/popovers/editor/style/app-deck-style/app-deck-style.tsx
  studio/src/app/popovers/editor/style/app-edit-mode/app-edit-mode.scss
  studio/src/app/popovers/editor/style/app-edit-mode/app-edit-mode.tsx
  studio/src/app/popovers/editor/style/app-element-style/app-element-style.scss
  studio/src/app/popovers/editor/style/app-element-style/app-element-style.tsx
  studio/src/app/services/settings/settings.service.ts
  studio/src/app/stores/settings.store.ts
  studio/src/app/types/core/settings.ts
  studio/src/app/utils/editor/parse-slides.utils.tsx
  studio/src/components.d.ts
  studio/src/global/theme/editor/editor-edit-mode.scss
Labels: enhancement, studio

#1067 fix: preview code block update
  CHANGELOG.md
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/slide/app-slide-preview/app-slide-preview.tsx
  webcomponents/highlight-code/CHANGELOG.md
  webcomponents/highlight-code/package-lock.json
  webcomponents/highlight-code/package.json
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.tsx
  webcomponents/highlight-code/src/declarations/deckdeckgo-highlight-code-languages.tsx
Labels: bug, studio

#1068 feat: minimum 6 slides to make published deck appears in feed
  CHANGELOG.md
  cloud/CHANGELOG.md
  cloud/functions/package-lock.json
  cloud/functions/package.json
  cloud/functions/src/request/utils/convert-deck-utils.ts
  cloud/functions/src/utils/resources/resources.ts
  cloud/functions/src/watch/info/info-publish.ts
  cloud/functions/src/watch/publish/screenshot/generate-deck-screenshot.ts
Labels: cloud, enhancement

#1069 feat: tools as sidebar on screen > 992px
  CHANGELOG.md
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/actions/app-breadcrumbs/app-breadcrumbs.scss
  studio/src/app/components/editor/actions/app-breadcrumbs/app-breadcrumbs.tsx
  studio/src/app/components/editor/actions/deck/app-action-add-slide/app-action-add-slide.tsx
  studio/src/app/components/editor/actions/deck/app-actions-deck/app-actions-deck.tsx
  studio/src/app/components/editor/actions/element/app-actions-element/app-actions-element.tsx
  studio/src/app/components/editor/actions/footer/app-actions-editor/app-actions-editor.scss
  studio/src/app/components/editor/actions/footer/app-actions-editor/app-actions-editor.tsx
  studio/src/app/components/editor/slide/app-slide-preview/app-slide-preview.scss
  studio/src/app/components/editor/styles/app-expansion-panel/app-expansion-panel.scss
  studio/src/app/components/editor/styles/app-expansion-panel/app-expansion-panel.tsx
  studio/src/app/modals/editor/app-slide-navigate/app-slide-navigate.tsx
  studio/src/app/pages/editor/app-editor/app-editor.scss
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/app/popovers/editor/app-present/app-present.scss
  studio/src/app/popovers/editor/app-present/app-present.tsx
  studio/src/app/popovers/editor/app-slide-navigate/app-slide-navigate.scss
  studio/src/app/popovers/editor/app-slide-navigate/app-slide-navigate.tsx
  studio/src/app/stores/editor.store.ts
  studio/src/components.d.ts
  studio/src/global/theme/editor/editor-fullscreen.scss
  studio/src/global/theme/popover.scss
  utils/utils/CHANGELOG.md
  utils/utils/package-lock.json
  utils/utils/package.json
  utils/utils/src/utils/utils.ts
  webcomponents/core/CHANGELOG.md
  webcomponents/core/package-lock.json
  webcomponents/core/package.json
  webcomponents/core/src/components/deck/deckdeckgo-deck/deckdeckgo-deck.tsx
Labels: enhancement, studio

#1070 feat: width, rotate and padding options
  CHANGELOG.md
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  studio/src/app/components/editor/app-select-target-element/app-select-target-element.tsx
  studio/src/app/components/editor/app-slot-type/app-slot-type.scss
  studio/src/app/components/editor/styles/app-color/app-color.scss
  studio/src/app/components/editor/styles/app-color/app-color.tsx
  studio/src/app/components/editor/styles/app-expansion-panel/app-expansion-panel.scss
  studio/src/app/components/editor/styles/element/app-align/app-align.scss
  studio/src/app/components/editor/styles/element/app-align/app-align.tsx
  studio/src/app/components/editor/styles/element/app-block/app-block.tsx
  studio/src/app/components/editor/styles/element/app-border-radius/app-border-radius.tsx
  studio/src/app/components/editor/styles/element/app-box-shadow/app-box-shadow.tsx
  studio/src/app/components/editor/styles/element/app-color-code/app-color-code.tsx
  studio/src/app/components/editor/styles/element/app-image-style/app-image-style.tsx
  studio/src/app/components/editor/styles/element/app-letter-spacing/app-letter-spacing.tsx
  studio/src/app/components/editor/styles/element/app-reveal/app-reveal.tsx
  studio/src/app/components/editor/styles/element/app-text/app-text.tsx
  studio/src/app/modals/editor/app-waves/app-waves.scss
  studio/src/app/popovers/editor/style/app-deck-style/app-deck-style.tsx
  studio/src/app/popovers/editor/style/app-element-style/app-element-style.scss
  studio/src/app/popovers/editor/style/app-element-style/app-element-style.tsx
  studio/src/app/stores/settings.store.ts
  studio/src/app/types/core/settings.ts
  studio/src/components.d.ts
  studio/src/global/app.scss
  studio/src/global/theme/editor/editor-popover.scss
  studio/src/global/theme/item.scss
  studio/src/global/theme/popover.scss
  utils/deck/CHANGELOG.md
  utils/deck/package-lock.json
  utils/deck/package.json
  utils/deck/styles/deck/deck.scss
Labels: enhancement, studio
