Repository deckgo/deckdeckgo, pull requests merged in 2021-06, with the labels that each got.

#1194 fix: select element on tab and deck on esc
  studio/src/app/handlers/editor/events/editor/editor-events.handler.ts
  studio/src/app/pages/editor/app-editor/app-editor.tsx
Labels: bug, studio

#1197 fix: custom user templates without (editable) slots
  studio/src/app/components/core/app-template-showcase/app-template-showcase.tsx
  studio/src/app/modals/core/app-template/app-template.tsx
  studio/src/app/popovers/editor/app-create-slide/app-create-slide.tsx
Labels: bug, studio

#1202 style: deactivate low contrast warnings
  studio/src/app/popovers/editor/app-slide-warning-info/app-slide-warning-info.scss
  studio/src/app/popovers/editor/app-slide-warning-info/app-slide-warning-info.tsx
  studio/src/assets/i18n/de.json
  studio/src/assets/i18n/en.json
  studio/src/assets/i18n/es.json
Labels: enhancement, studio

#1203 feat: use a toggle to activate or deactivate contrast warning
  studio/src/app/pages/core/settings/app-customization/app-customization.tsx
Labels: enhancement, studio

#1204 fix: add "customization" and "templates" links to top right menu
  studio/src/app/popovers/core/app-user-menu/app-user-menu.tsx
Labels: enhancement, studio

#1175 feat: "undo / redo" support for attribute changes
  studio/src/app/components/editor/actions/element/app-actions-element/app-actions-element.tsx
  studio/src/app/components/editor/actions/footer/app-actions-editor/app-actions-editor.tsx
  studio/src/app/components/editor/styles/app-color-text-background/app-color-text-background.tsx
  studio/src/app/components/editor/styles/app-color/app-color.tsx
  studio/src/app/components/editor/styles/deck/app-deck-fonts/app-deck-fonts.tsx
  studio/src/app/components/editor/styles/deck/app-deck-transition/app-deck-transition.tsx
  studio/src/app/components/editor/styles/element/app-block/app-block.tsx
  studio/src/app/components/editor/styles/element/app-border-radius/app-border-radius.tsx
  studio/src/app/components/editor/styles/element/app-box-shadow/app-box-shadow.tsx
  studio/src/app/components/editor/styles/element/app-color-code/app-color-code.tsx
  studio/src/app/components/editor/styles/element/app-color-word-cloud/app-color-word-cloud.tsx
  studio/src/app/components/editor/styles/element/app-image-style/app-image-style.tsx
  studio/src/app/components/editor/styles/element/app-list/app-list.tsx
  studio/src/app/components/editor/styles/element/app-text/app-text.tsx
  studio/src/app/handlers/editor/events/deck/deck-events.handler.ts
  studio/src/app/handlers/editor/events/editor/editor-events.handler.ts
  studio/src/app/pages/editor/app-editor/app-editor.tsx
  studio/src/app/popovers/editor/style/app-element-style/app-element-style.tsx
  studio/src/app/stores/editor.store.ts
  studio/src/app/stores/undo-redo.store.ts
  studio/src/app/types/editor/undo-redo.ts
  studio/src/app/utils/editor/undo-redo.utils.ts
  studio/src/components.d.ts
Labels: enhancement, studio

#1205 fix: broken grid style on wide screen
  studio/src/global/theme/mixins/_dashboard.scss
Labels: bug, studio

#1207 chore: add repository.directory for all packages
  cli/package.json
  utils/deck/package.json
  utils/kit/package.json
  utils/remote/package.json
  utils/slide/package.json
  utils/types/package.json
  utils/utils/package.json
  webcomponents/charts/package.json
  webcomponents/color/package.json
  webcomponents/core/package.json
  webcomponents/demo/package.json
  webcomponents/drag-resize-rotate/package.json
  webcomponents/highlight-code/package.json
  webcomponents/inline-editor/package.json
  webcomponents/laser-pointer/package.json
  webcomponents/lazy-img/package.json
  webcomponents/markdown/package.json
  webcomponents/math/package.json
  webcomponents/pager/package.json
  webcomponents/qrcode/package.json
  webcomponents/remote/package.json
  webcomponents/reveal/package.json
  webcomponents/slides/aspect-ratio/package.json
  webcomponents/slides/author/package.json
  webcomponents/slides/chart/package.json
  webcomponents/slides/content/package.json
  webcomponents/slides/gif/package.json
  webcomponents/slides/playground/package.json
  webcomponents/slides/poll/package.json
  webcomponents/slides/qrcode/package.json
  webcomponents/slides/split/package.json
  webcomponents/slides/title/package.json
  webcomponents/slides/youtube/package.json
  webcomponents/social/package.json
  webcomponents/word-cloud/package.json
  webcomponents/youtube/package.json
Labels: build

#1209 fix: highlight code template
  CHANGELOG.md
  remote/package-lock.json
  remote/package.json
  studio/package-lock.json
  studio/package.json
  webcomponents/highlight-code/CHANGELOG.md
  webcomponents/highlight-code/package-lock.json
  webcomponents/highlight-code/package.json
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.tsx
  webcomponents/highlight-code/src/declarations/deckdeckgo-highlight-code-languages.tsx
  webcomponents/highlight-code/src/index.html
Labels: bug, highlight-code

#1210 feat: init deck title only with elements of type "title"
  studio/src/app/handlers/editor/events/deck/deck-events.handler.ts
  studio/src/app/utils/editor/slot.utils.ts
Labels: enhancement, studio

#1212 fix: create slide select elements
  studio/src/app/popovers/editor/app-create-slide/app-create-slide.tsx
  studio/src/assets/i18n/de.json
  studio/src/assets/i18n/en.json
  studio/src/assets/i18n/es.json
Labels: bug, studio
