Repository deckgo/deckdeckgo, pull requests merged in 2021-03, with the labels that each got.

#1096 fix: edit description should not unlock title
  studio/src/app/components/editor/publish/app-publish-edit/app-publish-edit.tsx
Labels: bug

#1099 add line height as customizable variable.
  webcomponents/highlight-code/src/components/highlight-code/deckdeckgo-highlight-code.scss
Labels: enhancement, highlight-code

#1102 fix: notes not persisted anymore - listener has to be attached higher
  studio/src/app/handlers/editor/events/deck/deck-events.handler.ts
Labels: bug, studio

#1103 chore: download url from master to main branch
  CHANGELOG.md
  cli/CHANGELOG.md
  cli/package-lock.json
  cli/package.json
  cli/src/presentation.ts
  cli/src/template.ts
  cli/src/utils/download.ts
Labels: cli

#1106 fix: add unsplash to connect src csp
  studio/src/index.html
Labels: bug, studio

#1107 fix: notes encoding on display
  studio/src/app/modals/editor/app-notes/app-notes.tsx
Labels: bug, studio

#1108 feat: cache unique urls
  studio/src/app/services/editor/offline/offline.service.ts
Labels: enhancement, studio

#1109 Feat: spanish translation and typo fixes
  studio/src/assets/i18n/en.json
  studio/src/assets/i18n/es.json
Labels: enhancement, studio

#1110 feat: toggle lang and detection
  studio/scripts/i18n.types.js
  studio/src/app/app-root.tsx
  studio/src/app/definitions/i18.d.ts
  studio/src/app/definitions/languages.d.ts
  studio/src/app/pages/core/settings/app-customization/app-customization.tsx
  studio/src/app/services/lang/lang.service.ts
  studio/src/app/stores/i18n.store.ts
Labels: enhancement, studio

#1111 feat: csp object-src and base-uri
  studio/scripts/config.index.js
  studio/src/index.html
Labels: enhancement, studio

#1098 feat: figma
  cloud/functions/package-lock.json
  cloud/functions/package.json
  cloud/functions/src/index.ts
  cloud/functions/src/request/utils/google-fonts-utils.ts
  cloud/functions/src/utils/data/deck-utils.ts
  cloud/functions/src/utils/data/slide-utils.ts
  cloud/functions/src/watch/deck/deck-import.ts
  cloud/functions/src/watch/deck/types/metadata.ts
  cloud/functions/src/watch/deck/utils/create-deck.ts
  cloud/functions/src/watch/deck/utils/unzip-deck.ts
  studio/src/app/components/core/app-navigation-actions/app-navigation-actions.tsx
  studio/src/app/components/core/app-navigation/app-navigation.tsx
  studio/src/app/components/core/app-start-deck/app-start-deck.tsx
  studio/src/app/components/dashboard/app-dashboard-deck-actions/app-dashboard-deck-actions.tsx
  studio/src/app/components/dashboard/app-dashboard/app-dashboard.scss
  studio/src/app/components/dashboard/app-dashboard/app-dashboard.tsx
  studio/src/app/components/editor/actions/deck/app-action-add-slide/app-action-add-slide.tsx
  studio/src/app/definitions/i18.d.ts
  studio/src/app/definitions/storage.d.ts
  studio/src/app/pages/core/app-dashboard/app-dashboard-page.tsx
  studio/src/app/pages/core/app-poll/app-poll.tsx
  studio/src/app/pages/core/app-signin/app-signin-page.tsx
  studio/src/app/popovers/core/app-deck-import/app-deck-import.scss
  studio/src/app/popovers/core/app-deck-import/app-deck-import.tsx
  studio/src/app/popovers/core/app-user-menu/app-user-menu.tsx
  studio/src/app/services/deck/deck-dashboard.service.ts
  studio/src/app/services/deck/deck-import.service.ts
  studio/src/app/services/storage/storage.online.service.ts
  studio/src/app/services/storage/storage.service.ts
  studio/src/app/utils/editor/parse-slides.utils.tsx
  studio/src/assets/i18n/en.json
  studio/src/assets/i18n/es.json
  studio/src/components.d.ts
Labels: enhancement

#1113 feat: accept images svg and webp
  studio/src/app/modals/editor/app-custom-images/app-custom-images.tsx
  studio/src/app/pages/core/settings/app-profile/app-profile.tsx
  studio/src/app/services/storage/storage.online.service.ts
Labels: enhancement, studio

#1114 feat: browse backgrounds imported with figma assets
  cloud/functions/src/watch/deck/utils/create-deck.ts
  cloud/functions/src/watch/deck/utils/unzip-deck.ts
  studio/src/app/components/editor/images/app-background-folders/app-background-folders.scss
  studio/src/app/components/editor/images/app-background-folders/app-background-folders.tsx
  studio/src/app/components/editor/images/app-image-columns/app-image-columns.scss
  studio/src/app/components/editor/images/app-image-columns/app-image-columns.tsx
  studio/src/app/definitions/storage.d.ts
  studio/src/app/modals/editor/app-custom-images/app-custom-images.tsx
  studio/src/app/services/storage/storage.online.service.ts
  studio/src/app/services/storage/storage.service.ts
  studio/src/components.d.ts
  studio/src/global/theme/editor/editor-modal.scss
Labels: cloud, enhancement, studio

#1115 style: aspect ratio font size and papyrus
  CHANGELOG.md
  utils/deck/CHANGELOG.md
  utils/deck/package-lock.json
  utils/deck/package.json
  utils/deck/styles/deck/deck.scss
  webcomponents/core/CHANGELOG.md
  webcomponents/core/package-lock.json
  webcomponents/core/package.json
  webcomponents/core/src/components/deck/deckdeckgo-deck/deckdeckgo-deck.tsx
  webcomponents/slides/aspect-ratio/CHANGELOG.md
  webcomponents/slides/aspect-ratio/package-lock.json
  webcomponents/slides/aspect-ratio/package.json
  webcomponents/slides/aspect-ratio/src/components/deckdeckgo-slide-aspect-ratio.scss
Labels: core, enhancement

#1116 feat: add figma and templates to list of features
  site/src/assets/i18n/enterprise.json
  site/src/components/enterprise/features/features.js
Labels: enhancement, site

#1117 feat: no papyrus on remote control
  CHANGELOG.md
  README.md
  remote/CHANGELOG.md
  remote/package-lock.json
  remote/package.json
  remote/src/app/pages/app-remote/app-remote.tsx
Labels: enhancement, remote

#1119 chore: add open collective sponsor
  .github/FUNDING.yml
Labels: docs

#1118 feat: if windowed and not papyrus display starter kit in 16/9
  CHANGELOG.md
  README.md
  utils/kit/CHANGELOG.md
  utils/kit/package-lock.json
  utils/kit/package.json
  utils/kit/src/actions/actions.ts
  utils/kit/src/fullscreen/fullscreen.ts
  utils/kit/src/loading/loading.ts
  utils/kit/src/size/size.ts
  utils/kit/src/utils/util.color.ts
  utils/kit/src/utils/utils.deck.ts
  utils/kit/styles/button.scss
  utils/kit/styles/content.scss
  utils/kit/styles/fullscreen.scss
  utils/kit/styles/menu.scss
  utils/kit/styles/print.scss
Labels: enhancement, starter

#1120 build: migrate to Gatsby v3
  README.md
  site/CHANGELOG.md
  site/gatsby-config.js
  site/package-lock.json
  site/package.json
  site/src/components/core/buttons/action-button.js
  site/src/components/core/buttons/link-button.js
  site/src/components/core/footer/footer.js
  site/src/components/core/layout/layout.js
  site/src/components/core/links/links.js
  site/src/components/core/menu/menu.js
  site/src/components/core/navigation/navigation.js
  site/src/components/discover/card/card.js
  site/src/components/discover/feed/feed.js
  site/src/components/enterprise/contact/contact.js
  site/src/components/enterprise/feature/feature.js
  site/src/components/enterprise/features/features.js
  site/src/components/enterprise/hero/hero.js
  site/src/components/landing/content/landing-content.js
  site/src/components/landing/deck/landing-deck.js
  site/src/components/landing/hero/hero.js
  site/src/components/landing/poll/landing-poll.js
  site/src/pages/about/index.en.js
  site/src/pages/contact/index.en.js
  site/src/pages/developer/index.en.js
  site/src/pages/discover/index.en.js
  site/src/pages/faq/index.en.js
  site/src/pages/newsletter/index.en.js
  site/src/pages/opensource/index.en.js
  site/src/pages/press/index.en.js
  site/src/pages/privacy.js
  site/src/pages/services/index.en.js
  site/src/pages/team/index.en.js
  site/src/pages/terms.js
Labels: site

#1123 feat: add i18n german option
  studio/src/app/definitions/languages.d.ts
  studio/src/app/pages/core/settings/app-customization/app-customization.tsx
  studio/src/app/services/lang/lang.service.ts
  studio/src/app/stores/i18n.store.ts
  studio/src/assets/i18n/de.json
Labels: enhancement, studio
